<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="aquavita"/>
    <Version value="v2.91"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\logs\{environment}\{version}\reportManager.txt"/>
    <LogLevel value="1"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <ErpDB value="Server=xx.xx.xx.xx;Database=ErpDb;User ID=yyyy;Password=zzzz;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDbSecondary value="Server=xx.xx.xx.xx;Database=ErpDb;User ID=yyyy;Password=zzzz;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaSaleDB value="Server=Server=192.168.101.230\SQL2014;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaSaleDbSecondary value="Server=192.168.101.230\SQL2014;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>    
  </databaseParameters>
  <additionalParameters>
    <SalesmanSource value="SalesmanClientMapping"/>
    <DebugModeForBackend value="false"/>
    <DebugModeForFrontend value="true"/>
    <RouteDaysBefore value="14"/>
    <RouteDaysAfter value="31"/>
    <ErpName value="Aquavita"/>
    <ItemStockReportSecondItemUnitLineNr value="3"/>
    <ReportServiceUrl value="http://192.168.101.115"/>
    <GetSalesmanDebtData value="/api/ReportSalesmanDebt/GetReport"/>
    <GetClientExtractData value="/api/ReportClientExtractData/GetReport"/>
    <GetClientsExtractData value="/api/ReportClientExtractData/GetReport"/>
    <GetFinalizedItemExtractData value="/api/ReportFinalizedItemExtractData/GetReport"/>
    <GetInvoiceDetailsData value="/api/ReportInvoiceDetailsV2Data/GetReport"/>
    <GetSaleActionsData value="/api/ReportSaleActionsData/GetReport"/>
    <GetTopSoldItemsData value="/api/ReportTopSoldItems/GetReport"/>
    <GetSalesmanActionData value="/api/ReportSalesmanActions/GetReport"/>
  </additionalParameters>
</configuration>
