<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="aquavita"/>
    <Version value="V2.10"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\{version}\tayqaSaleSpecImplementationService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.101.230\SQL2014;Database=TayqaSaleAquavita;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
   <Step value="0"/>
    <Firm value="1"/>
    <Period value="1"/>
    <NextStep value="10"/>    
    <EncryptDbParams value="0"/>
    <ReCheckConnectionCounter value="10"/>        
    <SpecImplementation value="AquaVita"/>       
  </additionalParameters>
</configuration>
