<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section" />
    <section name="logParameters" type="section" />
    <section name="databaseParameters" type="section" />
  </configSections>
  <commonParameters>
    <Version value="V1.01" />
    <Environment value="aquavita" />
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\{version}\tayqasaleMasterDataSyncScheduler.txt" />
    <LogLevel value="3" />
    <FileSizeInMB value="10" />
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.101.230\SQL2014;Database=TayqaSaleAquavita;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60" />
  </databaseParameters>
  <additionalParameters>
    <AuthToken value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxIiwidW5pcXVlX25hbWUiOiJhZG1pbiIsIm5iZiI6MTUzNjMzMjc5MiwiZXhwIjoxNTY3NDM2NzkyLCJpYXQiOjE1MzYzMzI3OTIsImlzcyI6Imh0dHA6Ly93d3cudGFqYmV2LmNvbS9hei8iLCJhdWQiOiJodHRwOi8vd3d3LnRhamJldi5jb20vYXovIn0.AObw0LvUdW9FneHucCr9GwjFk6ci6SQ_brdhW2ZlgsY" />
  </additionalParameters>
</configuration>