<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Version value="V2.20"/>
    <Environment value="aquavita"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\SyncCenter\{version}\tayqasaleMasterDataSync.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.101.230\SQL2014;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=192.168.101.230\SQL2014;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <RoundDepthForDecimal value="4"/>
    <ERP value="AquaVita"/>
	<AuthTokenValidationEndpoint value="http://192.168.101.120:1102/tayqa/tiger/api/{environment}/v2.92/uid/CheckUser"/>    
    <AquavitaURLCashCard value="http://192.168.101.121/api/CashCards/GetAllData"/>
    <AquavitaURLClientRoute value="http://192.168.101.121/api/ClientRoutes/GetAllData"/>
    <AquavitaURLClient value="http://192.168.101.121/api/Clients/GetAllData"/>
    <AquavitaURLClientDebt value="http://192.168.101.121/api/ClientsDebts/GetAllData"/>
    <AquavitaURLDepartment value="http://192.168.101.121/api/Departments/GetAllData"/>
    <AquavitaURLCurrency value="http://192.168.101.121/api/Currencies/GetAllData"/>
    <AquavitaURLItemBarcode value="http://192.168.101.121/api/ItemBarcodes/GetAllData"/>
    <AquavitaURLItem value="http://192.168.101.121/api/Items/GetAllData"/>
    <AquavitaURLSalesman value="http://192.168.101.121/api/SalesMen/GetAllData"/>
    <AquavitaURLWareHouse value="http://192.168.101.121/api/Warehouses/GetAllData"/>
    <AquavitaURLSlsClrel value="http://192.168.101.121/api/SlsClrel/GetAllData"/>
    <AquavitaURLItemStock value="http://192.168.101.121/api/ItemStock/GetAllData"/>
    <AquavitaURLItemUnit value="http://192.168.101.121/api/ItemUnits/GetAllData"/>
    <AquavitaURLItemStandardPrice value="http://192.168.101.121/api/ItemStandardPrices/GetAllData"/>
    <AquavitaURLItemSpecificPrice value="http://192.168.101.121/api/ItemSpecificClientPrices/GetAllData"/>
    <AquavitaURLItemSpecificGroupPrice value="http://192.168.101.121/api/ItemSpecificClientGroupPrices/GetAllData"/>
	<AquavitaURLClientGroupForSpecificItemPrice value="http://192.168.101.121/api/Clients/GetAllData"/>
    <AquavitaAuthToken value="daa05820-a034-45eb-b933-0df5c04da872"/>    
    <IgnorePermittedClientTable value ="true"/>	
	<DayCountForDeliveryOrders value ="30"/>
  </additionalParameters>
</configuration>