<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section" />
    <section name="logParameters" type="section" />
    <section name="databaseParameters" type="section" />
  </configSections>
  <commonParameters>
    <Environment value="aquavita" />
    <Version value="v1.00" />
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\{version}\TayqaTechAgent.txt" />
    <LogLevel value="2" />
    <FileSizeInMB value="10" />
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.101.230\SQL2014;Database=TayqaSaleAquavita;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60" />
  </databaseParameters>
  <additionalParameters>
    <ClientCode value="Aquavita" />
    <ProductCode value="TayqaSale" />
    <ProductVersion value="2.5.0" />
    <ServerUrl value="http://tayqatech.dynu.net:1100/prod" />
    <RefreshAuthTokenMethod value="/authorization/refreshauthtoken" />
    <ServicePortalUrl value="http://192.168.101.120:1101" />
    <LicenseCheckMethod value="/license/licensedata" />
    <DeviceDataMethod value="/license/devicedata" />
    <UserDataMethod value="/license/userdata" />
    <LogFilesMethod value="/monitoring/uploadlogfiles" />
    <TokenRefreshPeriod value="1" />
    <SyncStartHour value="20" />
    <SyncEndHour value="22" />
    <Login value="YWRtaW4xMjM=" />
    <AuthToken value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiJBcXVhdml0YSIsInJvbGUiOiJUYXlxYVNhbGUiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3ZlcnNpb24iOiIyLjUuMCIsIm5iZiI6MTUzNDg1NDQ1NiwiZXhwIjoxNTQwMDM4NDU2LCJpYXQiOjE1MzQ4NTQ0NTYsImlzcyI6Imh0dHA6Ly93d3cudGF5cWF0ZWNoLmNvbSIsImF1ZCI6Imh0dHA6Ly93d3cudGF5cWF0ZWNoLmNvbSJ9.a7j7eQ8JTkESD7hNo4Ygp3GSxy0G39JwY6ga0K2UX2U" />
  </additionalParameters>
</configuration>