CREATE PROCEDURE [dbo].[SP_MD_GetStopReasons]  @userId INT
AS
BEGIN
    SET NOCOUNT ON;
	SELECT distinct sr.Id				AS Id,
					sr.Name             AS Name,
					sr.Type				AS Type,
					sr.Description		AS Description,
					sr.IsActive         AS IsActive
	FROM MD_StopReason sr WITH (NOLOCK)
	WHERE IsDeleted=0 and IsActive = 1
END

