CREATE PROCEDURE [dbo].[SP_SM_GetClientOperation] @userId INT, @givenDate DATE
AS
BEGIN
    SET NOCOUNT ON;

	SELECT distinct   ugd.ActionTypeId				AS ActionTypeId,
					  act.Type                      AS ActionName,
					  ugd.ClientId					AS ClientId,
					  ugd.Firm				        AS Firm,
					  ugd.UserId					AS UserId
	FROM OP_UserActionGpsData ugd WITH (NOLOCK)

						 LEFT JOIN OP_IncomingLog il WITH (NOLOCK) ON ugd.ActionLogId = il.Id AND ugd.ActionTypeId IN
                                                                                                  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
                         LEFT JOIN OP_ClientVisitLog vl WITH (NOLOCK) ON vl.Id = ugd.ActionLogId and ugd.ActionTypeId = 30

                         LEFT JOIN MD_Salesman s WITH (NOLOCK) ON il.Firm = s.Firm AND il.SalesmanRef = s.TigerId

                         JOIN SYS_UserActionType act WITH (NOLOCK) ON ugd.ActionTypeId = act.Id AND act.Status = 1

						 JOIN F_GetAllPermittedClient() pc ON ugd.UserId = pc.UserId AND ugd.Firm = pc.Firm AND ugd.ClientId = pc.ClientId

	 WHERE CAST(GpsDate AS DATE) = @givenDate
	 	 
	ORDER BY ActionTypeId, ActionName, ClientId, Firm, UserId DESC OFFSET 0 ROWS
END