ALTER FUNCTION [dbo].[F_UIM_GetOrganizationUserParents]
(	
	@userId bigint,
  @isHeadUser bit
)
RETURNS TABLE 
AS
RETURN 
(
SELECT DISTINCT ParentId, [Level] from F_UIM_OrganizationUserParent(@isHeadUser) where UserId = @userId
)
