create FUNCTION [dbo].[F_WPM_GetNotStartedTaskCount]
(	
	@userId int
)
RETURNS TABLE 
AS
RETURN 
(
with tasks as (
select distinct u.TaskId, UserId from WPM_UserTask  u
join WPM_TaskSchedule s on s.TaskId = u.TaskId and s.Status = 0 and u.Status = 0
join WPM_Task t on t.Id = s.TaskId and t.Status = 0  and t.IsDeleted = 0
where UserId=@userId and s.StartDate <= GETDATE() and s.EndDate >= GETDATE() 
and t.Type = 1)

select count(*) NotStartedTaskCount from tasks left join WPM_TaskTicket t on t.UserId = tasks.UserId and t.TaskId = tasks.TaskId
where t.Id is null
)
