ALTER PROCEDURE [dbo].[SP_MD_GetItemUnits] @userId INT, @firm SMALLINT = 0, @erpItemId INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql NVARCHAR(MAX)

    SET @sql = 'WITH Units AS (SELECT Unit.Firm,
                                      Unit.TigerId,
                                      MAX((CASE
                                               WHEN (Unit.RegisteredDate >= ItemMapping.RegisteredDate AND Unit.RegisteredDate >= PCatalog.RegisteredDate) THEN Unit.RegisteredDate
                                               WHEN (ItemMapping.RegisteredDate >= Unit.RegisteredDate AND ItemMapping.RegisteredDate >= PCatalog.RegisteredDate)
                                                   THEN ItemMapping.RegisteredDate
                                               ELSE PCatalog.RegisteredDate END)) AS RegisteredDate
                                    FROM MD_ItemUnit Unit WITH (NOLOCK)
                                             INNER JOIN MD_Item Items WITH (NOLOCK) ON Items.TigerId = Unit.TigerItemId AND Items.Firm = Unit.Firm
                                             INNER JOIN MD_CatalogItemMapping ItemMapping WITH (NOLOCK) ON ItemMapping.TigerItemId = Unit.TigerItemId
                                             INNER JOIN MD_Catalog Cat WITH (NOLOCK) ON Cat.Id = ItemMapping.CatalogId AND Cat.Firm = Unit.Firm
                                             INNER JOIN MD_PermittedCatalog PCatalog WITH (NOLOCK) ON PCatalog.UserId = @userId AND PCatalog.CatalogId = ItemMapping.CatalogId
                                    WHERE Unit.IsDeleted = 0
                                      AND Items.Status = 0
                                      AND Items.IsDeleted = 0'
    IF (@firm > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND Unit.Firm = @firm')
        END

    IF (@erpItemId > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND Unit.TigerItemId = @erpItemId')
        END

    SET @sql = CONCAT(@sql, ' GROUP BY Unit.Firm, Unit.TigerId)')

    SET @sql = CONCAT(@sql, 
                            'SELECT Unit.Firm,
                             Unit.TigerItemId,
                             Unit.TigerId,
                             Unit.Code,
                             Unit.Name,
                             Unit.IsMainUnit,
                             Unit.LineNr,
                             Unit.Widht,
                             Unit.Length,
                             Unit.Height,
                             Unit.Area,
                             Unit.Volume,
                             Unit.GrossWeight,
                             Unit.Convfact1,
                             Unit.Convfact2,
                             Units.RegisteredDate,
                             Unit.IsForSale,
                             Unit.IsForReturn,
                             Unit.IsForPurchase,
                             Unit.PriorityForSale,
                             Unit.PriorityForReturn,
                             Unit.PriorityForPurchase,
							 Unit.PriorityForWarehouseOperation,
                             Unit.IsForWarehouseOperation
                      FROM Units
                               INNER JOIN MD_ItemUnit Unit WITH (NOLOCK) ON Unit.Firm = Units.Firm AND Unit.TigerId = Units.TigerId')

    EXEC sp_executesql @sql, N'@userId INT, @firm SMALLINT, @erpItemId INT', @userId = @userId, @firm = @firm, @erpItemId = @erpItemId

END