<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <UseTestEnvironment value="0"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\logs\avroraMiddleWare.txt"/>
    <LogLevel value="3"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaProductionDB value="Server=192.168.10.18;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaTestDB value="Server=192.168.10.18;Database=TayqaMobileApp;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <ERPTigerProductionDB value="Server=192.168.10.18;Database=AVRORA_2019;User ID=tayqasale;Password=T@yqa20!8#78;Trusted_Connection=false; Connection Timeout=60"/>
    <ERPTigerTestDB value="Server=192.168.10.71;Database=AvroraTigerEnt_db;User ID=tayqasale;Password=Sys@12#Sa;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <EncryptDbParams value="0"/>
    <Firm value="100"/>
    <Period value="1"/>
    <Step value="2"/>
    <NextStep value="10"/>
    <OrderUnitPriceType value="8"/>
    <UserName value="TAYQAIMPORT"/>
    <Password value="T@yq@!!@@"/>
  </additionalParameters>
</configuration>
