<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="prod"/>
    <Version value="v2.92"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\logs\{environment}\ProxyWebService\{version}\proxyWebService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.10.18;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <ServicesBaseUrl value="http://192.168.10.65"/>
    <UimPort value="400"/>
    <RequestProcessorPort value="401"/>
	<DeliveryManagementPort value="1190"/>
    <WorkPlanManagementPort value="2536"/>
    <ReportManagerPort value="1102"/>
	<LoyaltyManagementPort value="1103"/>
    <UserActivityLogLevel value="2"/>
    <MethodCallHistoryLiveTime value="600"/>
    <UserMethodCallDelayTime value="60"/>
    <UserMethodCallAllowedInterval value="2"/>
	<MethodCallAllowedCount value="15"/>
    <MethodCallMaxWaitTime value="15000"/>
    <AppDownloadPath value="D:\TayqaSale\AppDownloads\{environment}"/>
	<AppUploadPath value="D:\TayqaSale\AppUploads\{environment}"/>
    <ApkFilesPath value="\ApkFiles"/>
    <PrintTemplatesPath value="\PrintTemplates\{version}"/>
    <CatalogImagesPath value="\ImageZips"/>    
    <ClientShowcaseImagesPath value="\ClientShowcaseImages"/>
    <VisitDataImagesPath value="\VisitImages"/>
	<WpmImagesPath value="\WpmImages"/>
	<AppLogFilesPath value="\AppLogFiles"/>
	<AuditItemImagesPath value="\AuditItemImages"/>
	<AuditCompetingItemImagesPath value="\AuditCompetingItemImages"/>
	<MediaContentPath value="D:\TayqaSale\MediaContent\{environment}"/>
    <ContractsPath value="\Contracts"/>
    <ImagesPath value="\Images"/>
  </additionalParameters>
</configuration>