<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="prod"/>
    <Version value="v2.92"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\logs\{environment}\ReportManager\{version}\reportManager.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <ErpDB value="Server=192.168.10.18;Database=AVRORA_2019;User ID=tayqasale;Password=T@yqa20!8#78;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaSaleDB value="Server=192.168.10.18;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
	<ErpDbSecondary value="Server=192.168.10.18;Database=AVRORA_2019;User ID=tayqasale;Password=T@yqa20!8#78;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaSaleDbSecondary value="Server=192.168.10.18;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
	<ReportFirm1 value="9"/>
	<ReportErpDb1 value="Server=192.168.10.18;Database=AvroraTigerEnt_db;User ID=tayqasale;Password=T@yqa20!8#78;Trusted_Connection=false; Connection Timeout=60"/>
	<SalesmanSource value="UserSalesmanMapping"/>
    <RouteDaysBefore value="14"/>
    <RouteDaysAfter value="31"/>
    <ErpName value="TigerAvrora"/>
  </additionalParameters>
</configuration>
