<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Version value="V1.20"/>
    <Environment value="avrora"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\logs\{environment}\{version}\tayqasaleMasterDataSyncScheduler.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.10.18;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <AuthToken value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiI4NzUiLCJ1bmlxdWVfbmFtZSI6InNlcnZpY2VfdXNlciIsIm5iZiI6MTU2NjMxNDQ3NywiZXhwIjoxNTcxNDk4NDc3LCJpYXQiOjE1NjYzMTQ0NzcsImlzcyI6Imh0dHA6Ly93d3cuYXZyb3JhLmF6IiwiYXVkIjoiaHR0cDovL3d3dy5hdnJvcmEuYXoifQ.ULB7s2ikPu5xzE2vuh3UpGyoa6TD7j-Vqv0eAmOMmDQ"/>
	<MaximumTryCounterForService value="10"/>
    <AllowedProcessingUnitPerMinute value="5"/>
	<CheckWebSyncServiceTestUrl value="http://192.168.10.65:1101/prod/v2.20/TigerAvrora/SyncSalesMan"/>
    <CheckWebSyncServiceTestUrlParams value="{&quot;Firms&quot;: [100]}"/>
  </additionalParameters>
</configuration>