<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="avrora"/>
    <Version value="V3.30"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\logs\{environment}\{version}\tayqaSaleSpecImplementationService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.10.18;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=192.168.10.18;Database=AVRORA_2019;User ID=tayqasale;Password=T@yqa20!8#78;Trusted_Connection=false; Connection Timeout=60"/>    
  </databaseParameters>
  <additionalParameters>
    <ProcessingDocTypes value="0,1,2,3,4,5"/>
    <Step value="0"/>
    <Firm value="100"/>
    <ActivePeriod value="1"/>
    <NextStep value="10"/>        
    <MaximumTryCounterForService value="10"/>        
    <ImplementedClient value="Avrora"/>        
    <AvroraSeperateLegalFacturaIntoPieces value="false"/>
    <AvroraOrderMarkedForSeperationYashGuru value ="false"/>
    <AvroraPreventNonLegalClientOrders value ="false"/>
    <AvroraLinesInLegalFactura value ="22"/>
    <AvroraOrderPriceTypeForResmi value ="true"/>
    <AvroraOrderPriceTypeForNonResmi value ="false"/>  
	<AvroraTradingGroupForNoVat value ="EDVSIZ"/>  
  </additionalParameters>
</configuration>
