<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="prod"/>
    <Version value="v2.911"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\logs\{environment}\UserIdentityManagement\{version}\userIdentityManagement.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.10.18;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
	<TayqaSaleDbSecondary value="Server=192.168.10.18;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
	<AllowUnknownDeviceRegistration value="true"/>
    <MaxDiscounts value="3"/>
    <MaxLoginAttemptsCount value="10"/>
    <AuthTokenLifetimeApp value="8640"/>
    <AuthAddress value="http://www.avrora.az"/>
    <SyncPeriodStart1 value="72000"/>
    <SyncPeriodEnd1 value="86370"/>
    <SyncPeriodStart2 value="21600"/>
    <SyncPeriodEnd2 value="27000"/>
    <ServicePortalUrl value="http://192.168.10.65:402"/>
    <Login value="VGF5cWFTYWxlJVNlcnYhY2VfVXNlcg=="/>
	<SigningKey value="  secret 2016!"/>
  </additionalParameters>
</configuration>
