<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
	<Environment value="azgranata"/>
    <Version value="v2.10"/>    
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\{version}\tayqasaleMasterDataSync.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.1.214;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=192.168.1.216;Database=logoroute;User ID=route;Password=peack1994&amp;&amp;7;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <RoundDepthForDecimal value="4"/>
    <ERP value="Tiger"/>    
    <AuthTokenValidationEndpoint value="http://192.168.1.213:1102/tayqa/tiger/api/{environment}/v2.91/uid/CheckUser"/>
    <TigerSyncRefreshStartPeriod value="01.01.2000 00:00:00"/>
    <TigerQueryFilterForItems value=" AND ITEM.CARDTYPE IN (1,2,12)"/>
    <TigerQueryFilterForClients value=" AND CLCARD.CARDTYPE IN (3,4)"/>
    <TigerQueryFilterForPrices value=" AND PRC.PTYPE=2 AND PRC.CLIENTCODE=''"/>
    <TigerClientRouteType value="CLCARD"/>
	<IgnorePermittedClientTable value ="true"/>
  </additionalParameters>
</configuration>