<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="azgranata"/>
    <Version value="v2.91"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\{version}\userIdentityManagement.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.1.214;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaSaleDbSecondary value="Server=192.168.1.214;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <AllowUnknownDeviceRegistration value="true"/>
    <MaxDiscounts value="3"/>
    <MaxLoginAttemptsCount value="10"/>
    <AuthTokenLifetimeApp value="8640"/>
    <AuthAddress value="http://azgranata.az"/>
    <SyncPeriodStart1 value="72000"/>
    <SyncPeriodEnd1 value="86370"/>
    <SyncPeriodStart2 value="21600"/>
    <SyncPeriodEnd2 value="27000"/>
    <ServicePortalUrl value="http://192.168.1.213:1101"/>
    <Login value="VGF5cWFTYWxlJVNlcnYhY2VfVXNlcg=="/>
  </additionalParameters>
</configuration>
