<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="promart"/>
    <Version value="V4.05"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\Logs\{environment}\{version}\erpIntegrationService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=10.91.10.24;Database=Promart;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=10.91.10.18;Database=AvroraTigerEnt_db;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <ProcessingDocTypes value="0,1,2,3,4,5,6,7,8,9"/>    
    <Firm value="16"/>
    <ActivePeriod value="1"/>
    <Step value="10"/>    
    <RoundDigit value="4"/>    
	<PriorityMaskForPrice value="000"/>    
	<MaximumTryCounterForService value="10"/>
    <DisposeAfterXHours value="12"/>
    <ListenerUrlForERPReconnection value="http://+:11101/{environment}/Integration/ReconnectToLogo/"/>	       
    <AppJsonFormat value="V2"/>
    <LogIntegrationResult value="true"/>
	<ImplementedClient value="Promart"/>
	<ERP value="TigerEnterprise"/>	
	<ERPIntegratorDefaultVersion value="V1.10"/>    
    <ERPUnknonwErrorResponseId value="-99"/>
	<TigerApplyGetStockLinePrice value="true"/>
    <TigerGetStockLinePriceType value="8"/>    
    <TigerUserName value="LOGO"/>
    <TigerPassword value="l0g020!8"/>
    <TigerERPResponsesFilePath value="erpResponses.config"/>    
    <TigerLocalCulture value="M/d/yyyy"/>
    <TigerIsSpecialExchangeRate value="true"/>    
    <TigerUserIdForCreatedBy value="1"/>
    <TigerLocalCurrencyType value="1"/>
    <TigerLobjectLogFilePath value="D:\TayqaSale\Logs\{environment}\{version}\lobject.txt"/>
    <TigerLogoConfigFilePath value=""/>	
  </additionalParameters>
</configuration>
