<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="promart"/>
    <Version value="v2.91"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\logs\{environment}\{version}\reportManager.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <ErpDB value="Server=10.91.10.18;Database=AvroraTigerEnt_db;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDbSecondary value="Server=10.91.10.18;Database=AvroraTigerEnt_db;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
	<TayqaSaleDB value="Server=10.91.10.24;Database=Promart;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>	
    <TayqaSaleDbSecondary value="Server=10.91.10.24;Database=Promart;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <SalesmanSource value="SalesmanClientMapping"/>
    <RouteDaysBefore value="14"/>
    <RouteDaysAfter value="31"/>
    <ErpName value="Tiger"/>
	<ReportServiceUrl value=""/>
    <GetSalesmanDebtData value=""/>
    <GetClientExtractData value=""/>
    <GetFinalizedItemExtractData value=""/>
    <GetInvoiceDetailsData value=""/>
    <GetSaleActionsData value=""/>
    <GetTopSoldItemsData value=""/>
    <GetSalesmanActionData value=""/>
  </additionalParameters>
</configuration>
