<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="Promart"/>
    <Version value="V3.30"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\Logs\{environment}\{version}\tayqaSaleSpecImplementationService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=10.91.10.24;Database=Promart;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>    
  </databaseParameters>
  <additionalParameters>
    <ProcessingDocTypes value="0,1,2,3,4,5,6,7,8,9"/>
    <Step value="0"/>
    <Firm value="16"/>
    <ActivePeriod value="1"/>
    <NextStep value="10"/>    
    <MaximumTryCounterForService value="10"/>
    <SpecImplementation value="Standard"/>        
  </additionalParameters>
</configuration>
