CREATE PROCEDURE [dbo].[SP_RM_GetSalePlanReportForDailyFulfillmentLineChart](@firm SMALLINT= NULL,
                                                          @users NVARCHAR(500)= NULL,
                                                          @itemGroups NVARCHAR(500)= NULL,
                                                          @clients NVARCHAR(500)= NULL,
                                                          @items NVARCHAR(500)= NULL,
                                                          @month int= NULL,
                                                          @year int= NULL,
														  @currentUser INT= NULL)
AS
BEGIN

    DECLARE @Query NVARCHAR(MAX);

    SET @Query =
            'with SalePlans as (
    select Users.Id               as UserId,
           Users.UserName         as UserName,
           CAST(UserPlan.Month AS int)         as Month,
           CAST(UserPlan.Year  AS int)         as Year,
           Userplan.Firm          as Firm,
           sum(UserPlan.Quantity) as PlanQuantity,
           sum(UserPlan.Amount)   as PlanAmount
    from MD_ItemGroupPlanForUser UserPlan
             join AbpUsers Users on UserPlan.UserId = Users.Id
             join F_GetPermittedUsers(@currentUser) PermittedUsers
                  on PermittedUsers.UserId = UserPlan.UserId
    group by Users.Id, Users.UserName, UserPlan.Month, UserPlan.Year, Userplan.Firm)

select SalePlans.*,
       SaleFacts.Date,
	   DAY(SaleFacts.Date)                                                             as Day,
       SaleFacts.FactQuantity,
       SaleFacts.FactAmount,
       round(iif(PlanAmount = 0, 0, FactAmount / PlanAmount * 100), 2)       as AmountProportion,
       round(iif(PlanQuantity = 0, 0, FactQuantity / PlanQuantity * 100), 2) as QuantityProportion

from SalePlans
         left join (
    select UserPlan.Firm                                              as Firm,
           UserPlan.UserId                                            as UserId,
           Invoice.Date                                               as [Date],
           month(Invoice.[Date])                                      as [Month],
           year(Invoice.[Date])                                       as [Year],
           sum(round(sum(iif(Invoice.[Type] = 4, (Line.Quantity * Line.Price) - Line.DiscountAmount, 0)) -
                     sum(iif(Invoice.[Type] = 2, (Line.Quantity * Line.Price) - Line.DiscountAmount, 0)),
                     2))
               over (
                   partition by month(Invoice.[Date]), year(Invoice.[Date]), UserPlan.UserId, Invoice.Firm
                   order by Date, month(Invoice.[Date]), year(Invoice.[Date]),UserPlan.UserId, Invoice.Firm
                   rows between unbounded preceding and current row)  AS FactAmount,

           sum(round(sum(iif(Invoice.[Type] = 4, (InvoiceUnit.Convfact2 / InvoiceUnit.Convfact1) * Line.Quantity, 0)) -
                     sum(iif(Invoice.[Type] = 2, (InvoiceUnit.Convfact2 / InvoiceUnit.Convfact1) * Line.Quantity, 0)),
                     2))
               over (
                   partition by month(Invoice.[Date]), year(Invoice.[Date]), UserPlan.UserId, Invoice.Firm
                   order by Date, month(Invoice.[Date]), year(Invoice.[Date]), UserPlan.UserId, Invoice.Firm
                   rows between unbounded preceding and current row ) AS FactQuantity
    from ERP_Invoice Invoice with (nolock)
             join UIM_UserEmployeeMapping UserEmployee with (nolock)
                  on UserEmployee.EmployeeId = Invoice.SalesmanId and Invoice.Firm = UserEmployee.Firm
             join ERP_InvoiceLine Line with (nolock) ON Line.InvoiceId = Invoice.Id and LineType<>1
             join MD_Item Item with (nolock) ON Line.ItemId = Item.TigerId AND Item.Firm = Invoice.Firm
             join MD_ItemGroupItemMapping ItemMapping with (nolock)
                  on ItemMapping.ItemId = Item.TigerId and ItemMapping.Firm = Item.Firm
             join MD_ItemGroup ItemGroup on ItemGroup.Id = ItemMapping.GroupId and ItemGroup.Type = 1
             join MD_ItemGroupPlanForUser UserPlan
                  on UserPlan.UserId = UserEmployee.UserId and UserPlan.Firm = UserEmployee.Firm and
                     UserPlan.ItemGroupId = ItemGroup.Id and UserPlan.Month = month(Invoice.Date) and
                     UserPlan.Year = year(Invoice.Date)
             join MD_Client Client with (nolock) ON Invoice.ClientId = Client.TigerId AND Invoice.Firm = Client.Firm
             join MD_ItemUnit InvoiceUnit with (nolock)
                  ON InvoiceUnit.Code = Line.ItemUnitCode AND Line.ItemId = InvoiceUnit.TigerItemId and
                     InvoiceUnit.Firm = Item.Firm
    where Invoice.IsDeleted = 0
      and IsCancelled = 0
      and [Line].LineType <> 1'

    IF @firm IS NOT NULL
        SET @Query = CONCAT(@Query, 'AND (UserPlan.Firm=@firm)')
    IF @year IS NOT NULL
        SET @Query = CONCAT(@Query, 'AND (UserPlan.Year=@year)')
    IF @month IS NOT NULL
        SET @Query = CONCAT(@Query, 'AND (UserPlan.Month=@month)')

    IF @items IS NOT NULL
        SET @Query = CONCAT(@Query, ' AND (Item.[Code] IN (SELECT LTRIM(Value) FROM F_SplitList(''', @items, ''',',
                            ''','')))')

    IF @clients IS NOT NULL
        SET @Query = CONCAT(@Query, ' AND (Client.[Code] IN (SELECT LTRIM(Value) FROM F_SplitList(''', @clients, ''',',
                            ''','')))')

    IF @users IS NOT NULL
        SET @Query = CONCAT(@Query, ' AND (UserPlan.UserId IN (SELECT LTRIM(Value) FROM F_SplitList(''', @users, ''',',
                            ''', '')))')

    IF @itemGroups IS NOT NULL
        SET @Query =
                CONCAT(@Query, ' AND (ItemGroup.Id IN (SELECT LTRIM(Value) FROM F_SplitList(''', @itemGroups, ''',',
                       ''','')))')

    SET @Query = CONCAT(@Query, ' group by UserPlan.Firm, UserPlan.UserId, Invoice.Date, month(Invoice.[Date]), year(Invoice.[Date]), Invoice.Firm
	  ) SaleFacts on SalePlans.Year = SaleFacts.Year and SalePlans.Month = SaleFacts.Month and
               SalePlans.Firm = SaleFacts.Firm and SaleFacts.UserId = SalePlans.UserId
			   where Date is not null')


    PRINT CAST(@Query as NTEXT)

    EXEC sp_executesql @Query, N'@firm SMALLINT NULL,
								@users NVARCHAR(500) NULL,
								@itemGroups NVARCHAR(500) NULL,
								@clients NVARCHAR(500) NULL,
								@items NVARCHAR(500) NULL,
								@month int NULL,
								@year int NULL,
								@currentUser INT NULL',
		 @firm=@firm,
         @users=@users,
         @itemGroups = @itemGroups,
         @clients = @clients,
         @items = @items,
         @month = @month,
         @year = @year,
         @currentUser=@currentUser
END
