ALTER FUNCTION [dbo].[F_CHL_CalculateUserQuestionPointsAllNewWithDate](@begindate datetime, @enddate datetime) 
Returns Table
AS
RETURN(
select k.ReportId, k.SurveyId, k.QuestionId, k.PointType,
Case k.WeightingType
When 2 Then sum(Point)
Else Max(Point)
End as Point
from 
(select t.ReportId, t.SurveyId, t.QuestionId, t.WeightingType, t.QuestionReportId, t.PointType, MAX(t.simplePoint) Point from
(select usr.Id ReportId, usr.SurveyId, usrd.QuestionId, q.WeightingType, usrd.Id QuestionReportId, qp.PointType,
MAX(qp.Point) simplePoint
from CHL_UserSurveyResponse usr with (nolock)
join CHL_UserSurveyResponseDetail usrd  with (nolock) on usr.Id = usrd.UserSurveyResponseId
join CHL_SurveyQuestion sq  with (nolock) on sq.SurveyId = usr.SurveyId and sq.QuestionId = usrd.QuestionId 
JOIN CHL_Question q  with (nolock) on sq.QuestionId = q.Id
join CHL_SurveyQuestionPoint qp  with (nolock) on qp.SurveyQuestionId = sq.Id
where q.WeightingType = 1 and sq.Status = 0 and usr.SavedDate >=@begindate and usr.SavedDate<@enddate
group by usr.Id, usr.SurveyId, usrd.QuestionId, q.WeightingType, usrd.Id, qp.PointType, q.WeightingType
union all
select usr.Id ReportId, usr.SurveyId, usrd.QuestionId, q.WeightingType, usrd.Id, ap.PointType,
MAX(ap.Point) questionPoint 
from CHL_UserSurveyResponse usr  with (nolock)
join CHL_UserSurveyResponseDetail usrd  with (nolock) on usr.Id = usrd.UserSurveyResponseId
join CHL_SurveyQuestion sq  with (nolock) on sq.SurveyId = usr.SurveyId and sq.QuestionId = usrd.QuestionId 
JOIN CHL_Question q  with (nolock) on sq.QuestionId = q.Id
join CHL_SurveyQuestionAnswerPoint ap  with (nolock) on ap.SurveyQuestionId = sq.Id and ap.AnswerId = usrd.AnswerId
where q.WeightingType = 2  and sq.Status = 0 and usr.SavedDate >=@begindate and usr.SavedDate<@enddate
group by usr.Id, usr.SurveyId, usrd.QuestionId, q.WeightingType, usrd.Id, ap.PointType) t
group by t.ReportId, t.SurveyId, t.QuestionId, t.WeightingType, t.QuestionReportId, t.PointType) k
group by k.ReportId, k.SurveyId, k.QuestionId, k.PointType, k.WeightingType
)