ALTER PROCEDURE [dbo].[SP_MD_GetItems] @userId INT, @firm SMALLINT = 0, @erpItemId INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql NVARCHAR(MAX)

    SET @sql = 'SELECT Item.Firm,
                       Item.TigerId,
                       Item.Code,
                       Item.Name,
                       CatalogGroup.Name AS CatalogGroupName,
                       CatalogGroup.Code AS CatalogGroupCode,
                       ItemCatalog.Id AS CatalogId,
                       ItemCatalog.Code AS CatalogCode,
                       ItemCatalog.Specode AS CatalogSpecode,
                       ItemCatalog.Name AS CatalogName,
                       Item.GroupCode,
                       Item.GroupName,
                       Item.CardType,
                       Item.Status,
                       Item.SpecialCode,
                       Item.SpecialCodeDesc,
                       Item.SpecialCode2,
                       Item.SpecialCode2Desc,
                       Item.SpecialCode3,
                       Item.SpecialCode3Desc,
                       Item.SpecialCode4,
                       Item.SpecialCode4Desc,
                       Item.SpecialCode5,
                       Item.SpecialCode5Desc,
                       Item.AuthorizationCode,
                       Item.AuthorizationCodeDesc,
                       Item.SubTotalRef,
                       CItemMap.CanSell,
                       CItemMap.CanReturn,
                       CItemMap.CanPurchase,
                       CItemMap.CanPromote,
                       CItemMap.IsSpecial,
                       CItemMap.IsOffered,
                       CItemMap.IsDecimal,
                       CItemMap.IsForStockAnalysis,
                       IP.CriticalTime,
                       IP.ShelfTime,
                       Item.Vat,
                       Item.SellVat,
                       Item.ReturnVat,
                       Item.SellPRVat,
                       Item.ReturnPRVat,
					   Item.TrackingType,
                       CItemMap.OrderNo,
                       (CASE
                            WHEN (Item.RegisteredDate >= PCatalog.RegisteredDate AND Item.RegisteredDate >= CItemMap.RegisteredDate)
                                THEN Item.RegisteredDate
                            WHEN (PCatalog.RegisteredDate >= CItemMap.RegisteredDate AND PCatalog.RegisteredDate >= Item.RegisteredDate)
                                THEN PCatalog.RegisteredDate
                            ELSE CItemMap.RegisteredDate END) AS RegisteredDate,
                       Item.ProducerCode,
                       Item.ProducerName
                    FROM MD_CatalogItemMapping CItemMap WITH (NOLOCK)
                             INNER JOIN MD_Catalog ItemCatalog WITH (NOLOCK) ON ItemCatalog.Id = CItemMap.CatalogId
                             INNER JOIN MD_PermittedCatalog PCatalog WITH (NOLOCK) ON (PCatalog.UserId = @userId AND PCatalog.CatalogId = ItemCatalog.Id)
                             INNER JOIN MD_Item Item WITH (NOLOCK) ON (Item.Firm = ItemCatalog.Firm AND Item.TigerId = CItemMap.TigerItemId)
                             INNER JOIN MD_CatalogGroup CatalogGroup WITH (NOLOCK) ON (CatalogGroup.Id = ItemCatalog.CatalogGroupId)
                             LEFT JOIN MD_ItemParameter IP WITH (NOLOCK) ON Item.Firm = IP.Firm AND Item.TigerId = IP.ItemId
                    WHERE Item.Status = 0
                      AND Item.IsDeleted = 0'

    IF (@firm > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND Item.Firm = @firm')
        END

    IF (@erpItemId > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND Item.TigerId = @erpItemId')
        END

    EXEC sp_executesql @sql, N'@userId INT, @firm SMALLINT,  @erpItemId INT',
         @userId = @userId, @firm = @firm, @erpItemId = @erpItemId

END