 ALTER FUNCTION [dbo].[F_MD_GetItemsForRequest](@userId INT, @firm SMALLINT, @requestId INT)
    RETURNS TABLE AS
        RETURN
            (
                SELECT Item.Firm,
                       Item.TigerId,
                       Item.Code,
                       Item.Name,
                       CatalogGroup.Name   AS CatalogGroupName,
                       CatalogGroup.Code   AS CatalogGroupCode,
                       ItemCatalog.Id      AS CatalogId,
                       ItemCatalog.Code    AS CatalogCode,
                       ItemCatalog.Specode AS CatalogSpecode,
                       ItemCatalog.Name    AS CatalogName,
                       Item.GroupCode,
                       Item.GroupName,
                       Item.CardType,
                       Item.Status,
                       Item.SpecialCode,
                       Item.SpecialCodeDesc,
                       Item.SpecialCode2,
                       Item.SpecialCode2Desc,
                       Item.SpecialCode3,
                       Item.SpecialCode3Desc,
                       Item.SpecialCode4,
                       Item.SpecialCode4Desc,
                       Item.SpecialCode5,
                       Item.SpecialCode5Desc,
                       Item.AuthorizationCode,
                       Item.AuthorizationCodeDesc,
                       Item.SubTotalRef,
                       CItemMap.CanSell,
                       CItemMap.CanReturn,
                       CItemMap.CanPurchase,
                       CItemMap.CanPromote,
                       CItemMap.IsSpecial,
                       CItemMap.IsOffered,
                       CItemMap.IsDecimal,
                       CItemMap.IsForStockAnalysis,
                       IP.CriticalTime,
                       IP.ShelfTime,
                       Item.Vat,
                       Item.SellVat,
                       Item.ReturnVat,
                       Item.SellPRVat,
                       Item.ReturnPRVat,
                       CItemMap.OrderNo,
                       IIF(Item.RegisteredDate >= CItemMap.RegisteredDate, Item.RegisteredDate, CItemMap.RegisteredDate)
                                           AS RegisteredDate,
                       Item.ProducerCode,
                       Item.ProducerName,
                       Item.TrackingType
                FROM MD_Item Item WITH (NOLOCK)
                         INNER JOIN MD_CatalogItemMapping CItemMap WITH (NOLOCK)
                                    ON CItemMap.TigerItemId = Item.TigerId
                         INNER JOIN MD_Catalog ItemCatalog WITH (NOLOCK)
                                    ON (ItemCatalog.Id = CItemMap.CatalogId AND ItemCatalog.Firm = Item.Firm)
                         INNER JOIN MD_PermittedCatalog PCatalog WITH (NOLOCK)
                                    ON PCatalog.UserId = @userId AND PCatalog.CatalogId = ItemCatalog.Id
                         INNER JOIN MD_CatalogGroup CatalogGroup WITH (NOLOCK)
                                    ON (CatalogGroup.Id = ItemCatalog.CatalogGroupId)
                         LEFT JOIN MD_ItemParameter IP WITH (NOLOCK)
                                   ON Item.Firm = IP.Firm AND Item.TigerId = IP.ItemId
                         INNER JOIN
                     (SELECT il.Firm, ilcl.ItemId, ilcl.ItemUnitCode
                      FROM OP_IncomingLogCommonLineExtension ilcl WITH (NOLOCK)
                               JOIN OP_IncomingLog il WITH (NOLOCK) ON ilcl.Id = il.Id
                      WHERE il.Id = @requestId) itemLines ON Item.TigerId = itemLines.ItemId AND Item.Firm = itemLines.Firm
                WHERE Item.Status = 0
                  AND Item.Firm = @firm
            )