ALTER PROC [dbo].[SP_MD_GetSalesmanDataForUser] @userId INT, @firm SMALLINT = 0
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    SET @sql = 'SELECT S.Firm, S.TigerId, S.Code, S.Name, S.RegisteredDate, EM.IsDefault
                FROM UIM_UserEmployeeMapping EM
                    INNER JOIN MD_Salesman S ON (S.Firm = EM.Firm AND S.TigerId = EM.EmployeeId and S.IsDeleted = 0 and S.Status = 0 and EM.Status = 0)
                WHERE EM.UserId = @userId';
    
    IF (@firm > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' and S.Firm=@firm');
        END

    EXEC sp_executesql @sql, N'@userId INT, @firm SMALLINT', @userId = @userId, @firm = @firm
END

GO

ALTER PROC [dbo].[SP_MD_GetSalesmanDataForClient] @userId INT, @firm SMALLINT = 0
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    SET @sql = 'SELECT DISTINCT S.Firm, S.TigerId, S.Code, S.Name, S.RegisteredDate, 0 AS IsDefault
                FROM MD_SalesmanClientMapping SM
                         INNER JOIN F_GetPermittedClientForUser(@userId) PC ON (PC.Firm = SM.Firm AND PC.ClientId = SM.ClientId)
                         INNER JOIN MD_Salesman S ON (S.Firm = SM.Firm AND S.TigerId = SM.SalesmanId and S.IsDeleted = 0 and S.Status = 0)
                WHERE PC.UserId = @userId';

    IF (@firm > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' and SM.Firm=@firm');
        END

    EXEC sp_executesql @sql, N'@userId INT, @firm SMALLINT', @userId = @userId, @firm = @firm
END

GO

ALTER PROC [dbo].[SP_DM_MD_GetSalesmanDataForDelivery] @userId INT, @firm SMALLINT, @deliveryConsiderMasterDataDays INT
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    SET @sql = 'SELECT DISTINCT S.Firm, S.TigerId, S.Code, S.Name, S.RegisteredDate, 0 AS IsDefault
                FROM MD_Salesman S
                WHERE S.Firm = @firm
                  AND S.TigerId IN (SELECT DISTINCT o.SalesmanRef
                                    FROM DM_TransportPackage tp WITH (NOLOCK)
                                             JOIN DM_TransportClient tc WITH (NOLOCK) ON tp.Id = tc.TransportPackageId
                                             JOIN DM_TransportOrder [to] WITH (NOLOCK) ON tc.Id = [to].TransportClientId
                                             JOIN DM_Order o WITH (NOLOCK) ON o.Id = [to].OrderId
                                    WHERE tp.UserId = @userId
                                      AND tp.Firm = @firm
                                      AND tp.LastModificationTime >
                                          DATEADD(DAY, -@deliveryConsiderMasterDataDays, GETDATE()))';

    EXEC sp_executesql @sql, N'@userId int, @firm smallint, @deliveryConsiderMasterDataDays int',
         @userId = @userId, @firm = @firm, @deliveryConsiderMasterDataDays=@deliveryConsiderMasterDataDays

END