DROP FUNCTION IF EXISTS F_IM_GetSecondConfirmedInventoryDemandList

GO

CREATE OR ALTER FUNCTION F_IM_GetSecondConfirmedInventoryDemandList(@userId int, @beginDate datetime, @endDate datetime)
    RETURNS TABLE
        AS RETURN
        -- Written by TayqaTech (Kanan Mammadov) on 16.08.2021
        -- This query aims to generate list of finalized demands for a user based on "Specode" relation between users and clients
        SELECT Demands.Id                                             as Id,
               Demands.DemandType                                     as DemandType,
               Demands.CreatorUserId                                  as CreatorUserId,
               CONCAT(CreatorUser.Name, ' ', CreatorUser.Surname)     as CreatorUserFullName,
               Demands.CreationTime                                   as CreationTime,

               Demands.ConfirmedUserId                                as ConfirmedUserId,
               CONCAT(ConfirmedUser.Name, ' ', ConfirmedUser.Surname) as ConfirmedUserFullName,
               Demands.ConfirmedDate                                  as ConfirmedDate,

               Client.Name                                            as ClientName,
               Client.Code                                            as ClientCode,
               Item.Name                                              as ItemName,
               Item.Code                                              as ItemCode,
               Demands.Step                                           as Step,
               Demands.DemandStatus                                   as Status

        FROM IM_InventoryDemand Demands
                 JOIN MD_Client Client on Client.TigerId = Demands.ClientTigerId and Demands.Firm = Client.Firm
                 JOIN UIM_UserProperty Specode on Specode.Firm = Client.Firm and Specode.Specode1 = Client.SpecialCode
                 JOIN MD_Item Item on Item.TigerId = Demands.ItemTigerId and Demands.Firm = Item.Firm
                 JOIN AbpUsers CreatorUser on CreatorUser.Id = Demands.CreatorUserId
                 JOIN AbpUsers ConfirmedUser on ConfirmedUser.Id = Demands.ConfirmedUserId

        WHERE Demands.DemandStatus > 0
          and Demands.Step IN (1, 2)

          -- Parameters
          and Specode.UserId = @userId
          and Demands.CreationTime between @beginDate and @endDate
go

