DROP FUNCTION IF EXISTS F_IM_GetNotifiedUserListForSecondConfirmation

GO
-- Written by TayqaTech (Kanan Mammadov) on 16.08.2021
-- This query aims to generate list of users to be notified 
CREATE OR ALTER FUNCTION [dbo].[F_IM_GetNotifiedUserListForSecondConfirmation](
@inventoryDemandId int, @inventoryDemandCreatorUserId int)
    RETURNS TABLE AS RETURN
        SELECT DISTINCT Specode.UserId AS UserId
        FROM IM_InventoryDemand Demands
                 JOIN MD_Client Client on Client.TigerId = Demands.ClientTigerId and Demands.Firm = Client.Firm
                 JOIN UIM_UserProperty Specode on Specode.Firm = Client.Firm and Specode.Specode1 = Client.SpecialCode4
        WHERE Demands.Id = @inventoryDemandId