DROP FUNCTION IF EXISTS F_IM_GetInventoryDemandListForSecondConfirm

GO

CREATE OR ALTER FUNCTION F_IM_GetInventoryDemandListForSecondConfirm(@userId int, @beginDate datetime, @endDate datetime)
    RETURNS TABLE
        AS RETURN
        -- Written by TayqaTech (Kanan Mammadov) on 16.08.2021
        -- This query aims to generate list of demands for a user based on "Specode" relation between users and clients
        SELECT Demands.Id                                             as Id,
               Demands.DemandType                                     as DemandType,
               Demands.CreatorUserId                                  as CreatorUserId,
               CONCAT(CreatorUser.Name, ' ', CreatorUser.Surname)     as CreatorUserFullName,
               Demands.CreationTime                                   as CreationTime,

               Demands.ConfirmedUserId                                as ConfirmedUserId,
               CONCAT(ConfirmedUser.Name, ' ', ConfirmedUser.Surname) as ConfirmedUserFullName,
               Demands.ConfirmedDate                                  as ConfirmedDate,

               Client.Name                                            as ClientName,
               Client.Code                                            as ClientCode,
               Item.Name                                              as ItemName,
               Item.Code                                              as ItemCode,
               Demands.Step                                           as Step,
               Demands.DemandStatus                                   as Status

        FROM IM_InventoryDemand Demands
                 JOIN MD_Client Client on Client.TigerId = Demands.ClientTigerId and Demands.Firm = Client.Firm
                 JOIN UIM_UserProperty Specode on Specode.Firm = Client.Firm and Specode.Specode1 = Client.SpecialCode
                 JOIN MD_Item Item on Item.TigerId = Demands.ItemTigerId and Demands.Firm = Item.Firm
                 JOIN AbpUsers CreatorUser on CreatorUser.Id = Demands.CreatorUserId and CreatorUser.IsActive = 1
                 JOIN AbpUsers ConfirmedUser on ConfirmedUser.Id = Demands.ConfirmedUserId and ConfirmedUser.IsActive = 1

        -- Few general rules in where clause
        WHERE Demands.DemandStatus = 1
          and Demands.Step = 0
          and Client.IsDeleted = 0
          and Client.Status = 0
          and Item.Status = 0
          and Item.IsDeleted = 0

          -- Parameters
          and Specode.UserId = @userId
          and Demands.CreationTime between @beginDate and @endDate