DECLARE @RowsToProcess  int
DECLARE @CurrentRow     int
DECLARE @SelectCol1     int
DECLARE @firm			smallint
DECLARE @period			smallint
DECLARE @dataExchangeScheduleParameters nvarchar(max);

declare @Firms Table(rowId int not null primary key identity(1,1),
					 firm smallint,
					 period smallint);

insert into @Firms 
select Firm.Nr Firm, period.Period from MD_Firm firm
join SYS_AccountingPeriod period on firm.Nr =period.FirmNr
where firm.IsActive = 1 AND period.IsActive=1

SET @RowsToProcess=@@ROWCOUNT

SET @CurrentRow=0

--select *,@RowsToProcess from @Firms

WHILE @CurrentRow<@RowsToProcess
BEGIN
    SET @CurrentRow=@CurrentRow+1

	SET @firm =(SELECT Firm FROM @Firms Where rowId =@CurrentRow);
	SET @period =(SELECT period FROM @Firms Where rowId =@CurrentRow);

	SET @dataExchangeScheduleParameters = CONCAT('{"Firms":[{"Nr":',@firm,', "ActivePeriod":', @period, '}]}');

	declare @baseMethod nvarchar(max) ='SyncSalesMan'  

	 if exists( select *from SYS_DataExchangeMethod where Name =@baseMethod)
		 begin

		 declare @baseUrl nvarchar(max);

		 set @baseUrl=(select SUBSTRING( url ,0, 1 + LEN(url) - CHARINDEX('/',REVERSE(Url))) from SYS_DataExchangeMethod where name=@baseMethod);

			-- Begin CashPlanForSalesman

			 if not exists (select * from SYS_DataExchangeMethod where Name = 'SyncCashPlanForSalesman')
			 begin 
				 insert into SYS_DataExchangeMethod(Id, 
													Name, 
													Source, 
													Description, 
													ExtraInfo, 
													Url, 
													DataTypeId, 
													Status, 
													CreatedUserId, 
													CreatedDate)
											 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
													'SyncCashPlanForSalesman', 
													'CashPlanForSalesman',
													'Sync Cash Plan For Salesman',
													'POST',
													 @baseUrl+'/SyncCashPlanForSalesman',
													 2,
													 1,
													 1,
													 GETDATE()
													 )
 			 end

			 if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'SyncCashPlanForSalesman' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
													  (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='SyncCashPlanForSalesman'),
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

			 if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'SyncCashPlanForSalesman' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
														(SELECT Id FROM SYS_DataExchangeMethod WHERE Name='SyncCashPlanForSalesman'),
														@dataExchangeScheduleParameters,
														null,
														3000,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end


			 if not exists (select * from SYS_DataExchangeMethod where Name = 'RefreshCashPlanForSalesman')
			 begin 
				 insert into SYS_DataExchangeMethod(Id, 
													Name, 
													Source, 
													Description, 
													ExtraInfo, 
													Url, 
													DataTypeId, 
													Status, 
													CreatedUserId, 
													CreatedDate)
											 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
													'RefreshCashPlanForSalesman', 
													'CashPlanForSalesman',
													'Sync Cash Plan For Salesman',
													'POST',
													 @baseUrl+'/RefreshCashPlanForSalesman',
													 2,
													 1,
													 1,
													 GETDATE()
													 )
 			 end

			 if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'RefreshCashPlanForSalesman' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
													  (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshCashPlanForSalesman'),
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

			 if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'RefreshCashPlanForSalesman' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
														(SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshCashPlanForSalesman'), 
														@dataExchangeScheduleParameters,
														null,
														846000,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end

		   -- End CashPlanForSalesman

		   -- Begin FactForSalesman
	
		   if not exists (select * from SYS_DataExchangeMethod where Name = 'RefreshFactForSalesman')
			  begin 
				 insert into SYS_DataExchangeMethod(Id, 
													Name, 
													Source, 
													Description, 
													ExtraInfo, 
													Url, 
													DataTypeId, 
													Status, 
													CreatedUserId, 
													CreatedDate)
											 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
													'RefreshFactForSalesman', 
													'FactForSalesman',
													'Refresh Fact For Salesman',
													'POST',
													 @baseUrl+'/RefreshFactForSalesman',
													 2,
													 1,
													 1,
													 GETDATE()
													 )
 				 end

		   if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'RefreshFactForSalesman' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
													   (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshFactForSalesman'),
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

		   if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'RefreshFactForSalesman' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
														(SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshFactForSalesman'),
														@dataExchangeScheduleParameters,
														null,
														846000,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end
 

		   if not exists (select * from SYS_DataExchangeMethod where Name = 'SyncFactForSalesman')
			   begin 
				 insert into SYS_DataExchangeMethod(Id, 
													Name, 
													Source, 
													Description, 
													ExtraInfo, 
													Url, 
													DataTypeId, 
													Status, 
													CreatedUserId, 
													CreatedDate)
											 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
													'SyncFactForSalesman', 
													'FactForSalesman',
													'Sync Fact For Salesman',
													'POST',
													 @baseUrl+'/SyncFactForSalesman',
													 2,
													 1,
													 1,
													 GETDATE()
													 )
				end

		   if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'SyncFactForSalesman' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
													  (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='SyncFactForSalesman'), 
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

		   if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'SyncFactForSalesman' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
														(SELECT Id FROM SYS_DataExchangeMethod WHERE Name='SyncFactForSalesman'), 
														@dataExchangeScheduleParameters,
														null,
														3000,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end

		   -- begin FactForSalesman


		   -- Begin FactForSalesmanClient
	
		   if not exists (select * from SYS_DataExchangeMethod where Name = 'RefreshFactForSalesmanClient')
			  begin 
				 insert into SYS_DataExchangeMethod(Id, 
													Name, 
													Source, 
													Description, 
													ExtraInfo, 
													Url, 
													DataTypeId, 
													Status, 
													CreatedUserId, 
													CreatedDate)
											 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
													'RefreshFactForSalesmanClient', 
													'FactForSalesmanClient',
													'Refresh Fact For SalesmanClient',
													'POST',
													 @baseUrl+'/RefreshFactForSalesmanClient',
													 2,
													 1,
													 1,
													 GETDATE()
													 )
 				 end

		   if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'RefreshFactForSalesmanClient' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
													  (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshFactForSalesmanClient'), 
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

		   if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'RefreshFactForSalesmanClient' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
													    (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshFactForSalesmanClient'), 
														@dataExchangeScheduleParameters,
														null,
														86400,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end


		   if not exists (select * from SYS_DataExchangeMethod where Name = 'SyncFactForSalesmanClient')
		   begin 
			 insert into SYS_DataExchangeMethod(Id, 
												Name, 
												Source, 
												Description, 
												ExtraInfo, 
												Url, 
												DataTypeId, 
												Status, 
												CreatedUserId, 
												CreatedDate)
										 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
												'SyncFactForSalesmanClient', 
												'FactForSalesmanClient',
												'Sync Fact For SalesmanClient',
												'POST',
												 @baseUrl+'/SyncFactForSalesmanClient',
												 2,
												 1,
												 1,
												 GETDATE()
												 )
			end

		   if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'SyncFactForSalesmanClient' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
													  (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='SyncFactForSalesmanClient'), 
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

		   if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'SyncFactForSalesmanClient' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
													    (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='SyncFactForSalesmanClient'), 
														@dataExchangeScheduleParameters,
														null,
														86400,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end

		  -- END FactForSalesmanClient

		  -- Begin Finance
	 
		   if not exists (select * from SYS_DataExchangeMethod where Name = 'SyncFinance')
			  begin 
				 insert into SYS_DataExchangeMethod(Id, 
													Name, 
													Source, 
													Description, 
													ExtraInfo, 
													Url, 
													DataTypeId, 
													Status, 
													CreatedUserId, 
													CreatedDate)
											 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
													'SyncFinance', 
													'Finance',
													'Sync Finance',
													'POST',
													 @baseUrl+'/SyncFinance',
													 2,
													 1,
													 1,
													 GETDATE()
													 )
 				 end

		   if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'SyncFinance' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
													  (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='SyncFinance'),
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

		   if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'SyncFinance' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
													    (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='SyncFinance'),
														@dataExchangeScheduleParameters,
														null,
														846000,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end


		   if not exists (select * from SYS_DataExchangeMethod where Name = 'RefreshFinance')
		   begin 
			 insert into SYS_DataExchangeMethod(Id, 
												Name, 
												Source, 
												Description, 
												ExtraInfo, 
												Url, 
												DataTypeId, 
												Status, 
												CreatedUserId, 
												CreatedDate)
										 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
												'RefreshFinance', 
												'Finance',
												'Refresh Finance',
												'POST',
												 @baseUrl+'/RefreshFinance',
												 2,
												 1,
												 1,
												 GETDATE()
												 )
			end

		   if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'RefreshFinance' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
													  (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshFinance'),
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

		   if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'RefreshFinance' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
													    (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshFinance'),
														@dataExchangeScheduleParameters,
														null,
														846000,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end

		   -- END Finance

   		   -- Begin OprFactDistributedByClient

		   if not exists (select * from SYS_DataExchangeMethod where Name = 'RefreshOprFactDistributedByClient')
			  begin 
				 insert into SYS_DataExchangeMethod(Id, 
													Name, 
													Source, 
													Description, 
													ExtraInfo, 
													Url, 
													DataTypeId, 
													Status, 
													CreatedUserId, 
													CreatedDate)
											 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
													'RefreshOprFactDistributedByClient', 
													'OprFactDistributedByClient',
													'Refresh Opr Fact Distributed Client',
													'POST',
													 @baseUrl+'/RefreshOprFactDistributedByClient',
													 2,
													 1,
													 1,
													 GETDATE()
													 )
 				 end 

		   if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'RefreshOprFactDistributedByClient' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
												      (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshOprFactDistributedByClient'), 
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

		   if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'RefreshOprFactDistributedByClient' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
													    (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshOprFactDistributedByClient'), 
														@dataExchangeScheduleParameters,
														null,
														846000,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end

			-- END OprFactDistributedByClient

			-- Begin OprFactDistributedByUser
	
		   if not exists (select * from SYS_DataExchangeMethod where Name = 'RefreshOprFactDistributedByUser')
			  begin 
				 insert into SYS_DataExchangeMethod(Id, 
													Name, 
													Source, 
													Description, 
													ExtraInfo, 
													Url, 
													DataTypeId, 
													Status, 
													CreatedUserId, 
													CreatedDate)
											 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
													'RefreshOprFactDistributedByUser', 
													'OprFactDistributedByUser',
													'Refresh Opr Fact Distributed User',
													'POST',
													 @baseUrl+'/RefreshOprFactDistributedByUser',
													 2,
													 1,
													 1,
													 GETDATE()
													 )
 				 end 

		   if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'RefreshOprFactDistributedByUser' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
													  (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshOprFactDistributedByUser'), 
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

		   if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'RefreshOprFactDistributedByUser' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
												        (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshOprFactDistributedByUser'), 
														@dataExchangeScheduleParameters,
														null,
														846000,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end

			-- END OprFactDistributedByUser

			-- Begin SaleInvoice
	
		   if not exists (select * from SYS_DataExchangeMethod where Name = 'SyncSaleInvoiceData')
			  begin 
				 insert into SYS_DataExchangeMethod(Id, 
													Name, 
													Source, 
													Description, 
													ExtraInfo, 
													Url, 
													DataTypeId, 
													Status, 
													CreatedUserId, 
													CreatedDate)
											 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
													'SyncSaleInvoiceData', 
													'SaleInvoice',
													'Sync Sale Invoice',
													'POST',
													 @baseUrl+'/SyncSaleInvoice',
													 2,
													 1,
													 1,
													 GETDATE()
													 )
 				 end 

		   if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'SyncSaleInvoiceData' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
													  (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='SyncSaleInvoiceData'), 
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

		   if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'SyncSaleInvoiceData' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
													    (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='SyncSaleInvoiceData'), 
														@dataExchangeScheduleParameters,
														null,
														846000,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end


		   if not exists (select * from SYS_DataExchangeMethod where Name = 'RefreshSaleInvoiceData')
			  begin 
				 insert into SYS_DataExchangeMethod(Id, 
													Name, 
													Source, 
													Description, 
													ExtraInfo, 
													Url, 
													DataTypeId, 
													Status, 
													CreatedUserId, 
													CreatedDate)
											 values((SELECT MAX(Id) + 1 FROM SYS_DataExchangeMethod), 
													'RefreshSaleInvoiceData', 
													'SaleInvoice',
													'Refresh Sale Invoice',
													'POST',
													 @baseUrl+'/RefreshSaleInvoice',
													 2,
													 1,
													 1,
													 GETDATE()
													 )
 				 end 

		   if not exists (select *from OP_DataExchangeStatus dataExchangeStatus join SYS_DataExchangeMethod dataExhcangeMethod on dataExchangeStatus.MethodId = dataExhcangeMethod.Id where dataExhcangeMethod.Name = 'RefreshSaleInvoiceData' AND Firm = @firm)
				begin
					insert into OP_DataExchangeStatus(LastSyncAt,
													  MethodId,
													  Note,
													  RegisteredAt,
													  RegisteredUserId,
													  ResponseStatus,
													  Firm)
												values(GETDATE(),
													  (SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshSaleInvoiceData'), 
													  '',
													  GETDATE(),
													  1,
													  'Ok',
													  @firm)
				end

		   if not exists (select *from OP_DataExchangeSchedule dataExchangeSchedule join SYS_DataExchangeMethod dataExchangeMethod ON dataExchangeSchedule.DataExchangeMethodId = dataExchangeMethod.Id  where dataExchangeMethod.Name = 'RefreshSaleInvoiceData' AND dataExchangeSchedule.Parameters=@dataExchangeScheduleParameters)
				begin
					insert into OP_DataExchangeSchedule(Id,
														DataExchangeMethodId,
														Parameters,
														ExtraInfo,
														Period,
														Status,
														Note,
														NextSyncTime,
														LastExecutionTime,
														ExtraNote)
												 values((SELECT MAX(ID)+1 FROM OP_DataExchangeSchedule),
														(SELECT Id FROM SYS_DataExchangeMethod WHERE Name='RefreshSaleInvoiceData'), 
														@dataExchangeScheduleParameters,
														null,
														846000,
														1,
														'Ok',
														DATEADD(MINUTE,15,GETDATE()),
														DATEADD(MINUTE,-15,GETDATE()),
														null);

				end

			-- END SaleInvoice
		 end

	 else
	 begin
		print ('SyncSalesMan is not defined')
	 end
end