create procedure [dbo].[SP_RM_GetTasks](@userId int,
                                               @firm smallint,
                                               @beginDate datetime,
                                               @endDate datetime)
AS
begin

    with Data as (select Tasks.Id,
                         IIF(count(Clients.Id) - count(TaskTickets.Id) = 0, 1, 0) as Finalized-- is finalized

                  from WPM_UserTask UserTask with (nolock)
                           join WPM_Task Tasks with (nolock)
                                on Tasks.Id = UserTask.TaskId and Tasks.IsDeleted = 0 and Tasks.Type = 1 and Tasks.Status = 0
                           join WPM_TaskSchedule Schedule with (nolock) on Schedule.TaskId = Tasks.Id and PeriodType = 1 and Schedule.Status = 0
                           join WPM_TaskClient Clients with (nolock) on Clients.TaskId = Tasks.Id
                           join F_GetPermittedClient(@userId) PermittedClients
                                on PermittedClients.ClientId = Clients.ClientId and PermittedClients.Firm = @firm
                           left join WPM_TaskTicket TaskTickets with (nolock)
                                     on TaskTickets.TaskId = Tasks.Id and UserTask.UserId = TaskTickets.UserId and
                                        Clients.ClientId = TaskTickets.ClientId and
                                        TaskTickets.FinalizedDate is not null

                  where UserTask.UserId = @userId
                    and Tasks.Firm = @firm
                    and ((cast(Schedule.StartDate as date) <= cast(@beginDate as date) and cast(Schedule.EndDate as date) >= cast(@endDate as date))
                      or cast(Schedule.StartDate as date) between cast(@beginDate as date) and cast(@endDate as date))
                  group by Tasks.Id)

    select sum(iif(Finalized = 1, 1, 0)) as DoneTasks,
           sum(iif(Finalized = 0, 1, 0)) as PendingTasks
    from Data

end;