create Procedure [dbo].[SP_RM_GetTotalSale](@userId int,
                                                     @firm smallint,
                                                     @beginDate datetime,
                                                     @endDate datetime)
AS
BEGIN

    with Data as (select iif(DocType = 0, sum((SalesLines.Amount * SalesLines.Price) - isnull(SalesLines.DiscountAmount, 0)), 0) as OrderAmount,
                         iif(DocType in (1, 2), sum((SalesLines.Amount * SalesLines.Price) - isnull(SalesLines.DiscountAmount, 0)),
                             0)                                                                                                  as ReturnAmount,
                         iif(DocType = 5, sum(CashLines.Amount), 0)                                                              as CashAmount

                  from OP_IncomingLog ILog with (nolock)
                           join OP_GeneralLog GLog with (nolock) on GLog.RequestId = ILog.Id
                           left join OP_IncomingLogCommonLineExtension SalesLines with (nolock) on SalesLines.Id = ILog.Id
                           left join OP_IncomingLogCashExtension CashLines with (nolock) on CashLines.Id = ILog.Id
                  where SalesmanRef in (select EmployeeId from UIM_UserEmployeeMapping where UserId = @userId and Firm = @firm)
                    and ProcessDate between cast(@beginDate as date) and cast(@endDate as date)
                    and ILog.DocType in (0, 1, 2, 5)
                  group by DocType),

         Summary as (select round(sum(OrderAmount), 2)  as OrderAmount,
                            round(sum(CashAmount), 2)   as CashInAmount,
                            round(sum(ReturnAmount), 2) as ReturnAmount,
                            'AZN'                       as CurrencyCode

                     from Data),

         InvoiceData as (select round(sum(iif(Invoice.[Type] = 4, (Lines.Quantity * Lines.Price) - Lines.DiscountAmount, 0)) -
                                      sum(iif(Invoice.[Type] = 2, (Lines.Quantity * Lines.Price) - Lines.DiscountAmount, 0)),
                                      2) as NetSaleAmount
                         from ERP_Invoice Invoice with (nolock)
                                  join ERP_InvoiceLine Lines with (nolock) on Invoice.ERPId = Lines.InvoiceId
                         where Invoice.SalesmanId in (select EmployeeId from UIM_UserEmployeeMapping where Firm = @firm and UserId = @userId)
                           and Invoice.Date between cast(@beginDate as date) and cast(@endDate as date)
                           and Lines.LineType <> 1
                           and Invoice.IsDeleted = 0
                           and Invoice.IsCancelled = 0)

    select round(sum(OrderAmount), 2)   as OrderAmount,
           round(sum(CashInAmount), 2)  as CashInAmount,
           round(sum(ReturnAmount), 2)  as ReturnAmount,
           round(sum(NetSaleAmount), 2) as NetSaleAmount,
           'AZN'                        as CurrencyCode

    from Summary,
         InvoiceData

END;