
create   procedure [dbo].[SP_RM_GetRouteStatisticsForClient](
    @beginDate datetime,
    @endDate datetime,
    @userId bigint,
    @firm smallint)
AS
BEGIN

    with Routes as (
        select TigerClientId as ClientId, Date
        from MD_Route with (nolock)
        where UserId = @userId
          and Firm = @firm
          and Date between @beginDate and @endDate),

         Sales as (
             select distinct ILog.ClientId, ILog.ProcessDate as Date
             from OP_IncomingLog ILog with (nolock)
                      join OP_GeneralLog GLog with (nolock) on ILog.Id = GLog.RequestId and GLog.ImportResult = 0
             where ILog.Firm = @firm
               and ILog.UserId = @userId
               and ILog.ProcessDate between @beginDate and @endDate),

         Visits as (select distinct ClientId, cast(Date as date) as Date
                    from OP_ClientVisitLog with (nolock)
                    where Firm = @firm
                      and CreatedUserId = @userId
                      and cast(CreatedDate as date) between @beginDate and @endDate),

         Results as (
             select coalesce(Routes.ClientId, Sales.ClientId, Visits.ClientId)                                              as ClientId,
                    sum(iif(Routes.Date is not null, 1, 0))                                                                 as RouteCount,
                    sum(iif(Routes.Date is not null and (Sales.ClientId is not null or Visits.ClientId is not null), 1, 0)) as RouteVisitCount,
                    sum(iif(Routes.Date is null and (Sales.ClientId is not null or Visits.ClientId is not null), 1, 0))     as NonRouteVisitCount

             from Routes
                      full join Sales on Routes.ClientId = Sales.ClientId and Routes.Date = Sales.Date
                      full join Visits on Routes.ClientId = Visits.ClientId and Routes.Date = Visits.Date
             group by coalesce(Routes.ClientId, Sales.ClientId, Visits.ClientId))

    select TigerId                              as ClientId,
           Code                                 as ClientCode,
           Name                                 as ClientName,
           Edino                                as ClientEdino,
           routeCount                           as RouteCount,
           routeVisitCount                      as RouteVisitCount,
           nonRouteVisitCount                   as NonRouteVisitCount,
           routeVisitCount + nonRouteVisitCount as TotalVisistCount
    from Results
             join MD_Client Clients with (nolock) on Clients.TigerId = Results.ClientId and Clients.Firm = @firm and IsDeleted = 0

END