create procedure [dbo].[SP_RM_GetPhotoData](@userId int,
                                                   @firm smallint,
                                                   @beginDate datetime,
                                                   @endDate datetime)
AS
BEGIN

    select isnull(sum(iif(Likes.Status = 1, 1, 0)), 0)                                                                 as LikedPhotos,
           isnull(sum(iif(Likes.Status = 0, 1, 0)), 0)                                                                 as DislikedPhotos,
           count(Files.Id) - isnull(sum(iif(Likes.Status = 0, 1, 0)), 0) - isnull(sum(iif(Likes.Status = 1, 1, 0)), 0) as UnseenPhotos
    from MD_PhotoLike Likes with (nolock)
             right join (select WPM.Id as Id, 2 as SourceType
                         from WPM_Attachment WPM with (nolock)
                                  left join WPM_TaskTicketAction Actions with (nolock) on Actions.Id = WPM.ReferenceId and WPM.Type = 3
                                  left join WPM_TaskTicket Tickets with (nolock) on Tickets.Id = Actions.TaskTicketId
                         where Tickets.UserId = @userId
                           and Tickets.Firm = @firm
                           and cast(Tickets.CreatedDate as date) between cast(@beginDate as date) and cast(@endDate as date)
                         union all
                         select CHL.Id as Id, 1 as SourceType
                         from CHL_Attachment CHL with (nolock)
                                  left join CHL_UserSurveyResponseDetail Answers with (nolock) on Answers.Id = CHL.ReferenceId and CHL.Type = 3
                                  left join CHL_UserSurveyResponse Response on Response.Id = Answers.UserSurveyResponseId
                         where Response.UserId = @userId
                           and Response.Firm = @firm
                           and cast(Response.CreatedDate as date) between cast(@beginDate as date) and cast(@endDate as date)) Files
                        on Likes.ReferenceId = Files.Id and Likes.SourceType = Files.SourceType


END;