CREATE FUNCTION [dbo].[F_UIM_GetOrganizationUsers](@userId INT, @firm SMALLINT)

    RETURNS @Result Table
                    (
                        UserId       bigint,
                        UserName     nvarchar(50),
                        UserFullName nvarchar(100)
                    )
AS
begin

    declare @UserType nvarchar(20) = (select Type from F_GetRootTypeOfUsers() where UserId = @userId)

    -- In case App user
    if @UserType = 'App'
        begin
            insert into @Result (UserId, UserName, UserFullName)
                -- Above level structure
            select distinct Users.Id                               as UserId,
                            Users.UserName                         as UserName,
                            concat(Users.Name, ' ', Users.Surname) as UserFullName
            from F_UIM_GetOrganizationUserParents(719, 0) Parents
                     join AbpUsers Users on Users.Id = Parents.ParentId and Level = 1

            -- Same level structure


        end

    else
        -- In case Hybrid user
        begin
            insert into @Result (UserId, UserName, UserFullName)
            select distinct Users.Id                               as UserId,
                            Users.UserName                         as UserName,
                            concat(Users.Name, ' ', Users.Surname) as UserFullName
            from F_UIM_GetOrganizationTreeAllUsers(@userId) Tree
                     join AbpUsers Users on Users.Id = Tree.UserId

        end
    return;
end


