create  procedure [dbo].[SP_RM_GetRouteData] @userId int,
                                           @firm smallint,
										   @beginDate datetime,
										   @endDate datetime
as
begin
declare @_beginDate date=CAST(@beginDate as date);
declare @_endDate date=CAST(@endDate as date);

    with Routes as (
        select TigerClientId as ClientId, Date as Date
        from MD_Route with (nolock)
        where UserId = @userId
          and Firm = @firm
          and Status = 0
          and Date between @_beginDate and @_endDate),

         Actions as (select ClientId as ClientId, ProcessDate as Date
                     from OP_IncomingLog ILog with (nolock)
                              join OP_GeneralLog GLog with (nolock) on GLog.RequestId = ILog.Id and GLog.ImportResult = 0
                     where UserId = @userId
                       and Firm = @firm
					   and ILog.DocType<20
                       and ProcessDate between @_beginDate and @_endDate

                     union

                     select ClientId, cast(CreatedDate as date) as Date
                     from OP_ClientVisitLog with (nolock)
                     where CreatedUserId = @userId
                       and Firm = @firm
                       and cast(CreatedDate as date) between @_beginDate and @_endDate
         )

    select count(distinct Routes.ClientId)                                              as Routes,
           sum(iif(Routes.ClientId is not null and Actions.ClientId is not null, 1, 0)) as InRoute,
           sum(iif(Routes.ClientId is null and Actions.ClientId is not null, 1, 0))     as OutRoute
    from Routes
             full join Actions on Routes.Date = Actions.Date and Routes.ClientId = Actions.ClientId

end
