
CREATE     FUNCTION [dbo].[F_GetUserUploadFileData]( @userId bigint, @firm smallint,@beginDate datetime, @endDate datetime) 
Returns Table
AS
RETURN(
		SELECT
		fileLog.Note,
		fileLog.UploadedUserName AS UserName,
		fileLog.FileCreatedDate AS Date,
		fileLog.FilePath,
		reason.Name AS Reason
		FROM OP_FileUploadLog fileLog
		JOIN F_UIM_GetOrganizationTreeUsers(@userId) users ON users.UserId=fileLog.UploadedUserId
		LEFT JOIN MD_StopReason reason ON reason.Id=fileLog.ReasonId
		WHERE 
		fileLog.Firm=@firm
		and fileLog.ContentType=1
		and fileLog.FileCreatedDate>@beginDate
		and fileLog.FileCreatedDate<@endDate)











