CREATE FUNCTION [dbo].[F_GetSaleDistributionUser](@year smallint, @month tinyint, @userId int, @clientGroupType smallint, @itemGroupType
    smallint)
    RETURNS TABLE
        AS
        RETURN
            (
                -- Date: 18.04.2022
                -- Author: Kanan Mammadov
                -- Ticket: TayqaSale Scrum TSC-3502
                -- Description: the query return the distribution plans and results for a hybrid user/month/year basis.

                select Users.Id                               as UserId,
                       Users.UserName                         as UserName,
                       concat(Users.Name, ' ', Users.Surname) as UserFullName,
                       sum(TargetClientCount)                 as Target,
                       sum(isnull(FactClientCount, 0))        as Result
                from (select Target.UserId, Target.ItemGroupId, TargetClientCount, FactClientCount
                      from MD_DistributionItemGroupPlan Target

                               left join (select Employees.UserId                            as UserId,
                                                 ClientGroups.GroupId                        as ClientGroupId,
                                                 Mapping.GroupId                             as ItemGroupId,
                                                 isnulL(count(distinct Invoice.ClientId), 0) as FactClientCount
                                          from ERP_Invoice Invoice with (nolock)
                                                   join ERP_InvoiceLine Lines with (nolock) on Invoice.ERPId = Lines.InvoiceId

                                                   join MD_ItemGroupItemMapping Mapping with (nolock)
                                                        on Mapping.ItemId = Lines.ItemId and Mapping.Firm = Invoice.Firm and
                                                           Mapping.GroupType = @itemGroupType

                                                   join UIM_UserEmployeeMapping Employees with (nolock)
                                                        on Employees.Firm = Invoice.Firm and Employees.EmployeeId = Invoice.SalesmanId and
                                                           Employees.Status = 0

                                                   join MD_ClientGroupData ClientGroups with (nolock)
                                                        on ClientGroups.Firm = Employees.Firm and ClientGroups.GroupType = @clientGroupType and
                                                           ClientGroups.ClientId = Invoice.ClientId

                                          where Lines.LineType <> 1 -- All lines , excluding promo types
                                            and Invoice.IsDeleted = 0
                                            and Invoice.IsCancelled = 0
                                            and month(Invoice.Date) = @month
                                            and year(Invoice.Date) = @year
                                            and Invoice.Type = 4    -- Only sale invoices covered

                                          group by Employees.UserId, ClientGroups.GroupId, Mapping.GroupId) Facts
                                         on Target.ItemGroupId = Facts.ItemGroupId and Target.ClientGroupId = Facts.ClientGroupId and
                                            Target.UserId = Facts.UserId
                                             and Month = @month
                                             and Year = @year) Output

                         join AbpUsers Users with (nolock) on Users.Id = Output.UserId and Users.IsDeleted = 0
                         join F_UIM_GetOrganizationTreeUsers(@userId) TreeUsers on TreeUsers.UserId = Users.Id


                group by Users.Id, Users.UserName, concat(Users.Name, ' ', Users.Surname)
            )

go

CREATE FUNCTION [dbo].[F_GetSaleDistributionItemGroup](@year smallint, @month tinyint, @clientGroupType int, @itemGroupType int, @userId int)
    RETURNS TABLE
        AS
        RETURN
            (
                -- Date: 18.04.2022
                -- Author: Kanan Mammadov
                -- Ticket: TayqaSale Scrum TSC-3502
                -- Description: the query return the distribution plans and results for a user/month/year basis.

                select Groups.SpecialCode              as SpecialCode,
                       Groups.SpecialCode2             as SpecialCode2,
                       Groups.SpecialCode3             as SpecialCode3,
                       Groups.Id                       as ItemGroupId,
                       Groups.Name                     as ItemGroupName,
                       Groups.Code                     as ItemGroupCode,
                       sum(TargetClientCount)          as Target,
                       sum(isnull(FactClientCount, 0)) as Result
                from (select Target.ItemGroupId, TargetClientCount, FactClientCount
                      from MD_DistributionItemGroupPlan Target


                               left join (select ClientGroups.GroupId             as ClientGroupId,
                                                 Mapping.GroupId                  as ItemGroupId,
                                                 count(distinct Invoice.ClientId) as FactClientCount
                                          from ERP_Invoice Invoice with (nolock)
                                                   join ERP_InvoiceLine Lines with (nolock) on Invoice.ERPId = Lines.InvoiceId

                                                   join MD_ItemGroupItemMapping Mapping with (nolock)
                                                        on Mapping.ItemId = Lines.ItemId and Mapping.Firm = Invoice.Firm and
                                                           Mapping.GroupType = @itemGroupType

                                                   join UIM_UserEmployeeMapping Employees with (nolock)
                                                        on Employees.Firm = Invoice.Firm and Employees.EmployeeId = Invoice.SalesmanId and
                                                           Employees.Status = 0

                                                   join MD_ClientGroupData ClientGroups with (nolock)
                                                        on ClientGroups.Firm = Employees.Firm and ClientGroups.GroupType = @clientGroupType and
                                                           ClientGroups.ClientId = Invoice.ClientId

                                          where Lines.LineType <> 1 -- All lines , excluding promo types
                                            and Invoice.IsDeleted = 0
                                            and Invoice.IsCancelled = 0
                                            and month(Invoice.Date) = @month
                                            and year(Invoice.Date) = @year
                                            and Invoice.Type = 4 -- Only sale invoices covered
                                            and UserId = @userId

                                          group by ClientGroups.GroupId, Mapping.GroupId) Facts
                                         on Target.ItemGroupId = Facts.ItemGroupId and Target.ClientGroupId = Facts.ClientGroupId

                      where UserId = @userId
                        and Month = @month
                        and Year = @year) Output

                         join MD_ItemGroup Groups with (nolock) on Groups.Id = Output.ItemGroupId and Groups.Type = @itemGroupType
                
                group by Groups.SpecialCode, Groups.SpecialCode2, Groups.SpecialCode3, Groups.Id, Groups.Name, Groups.Code
            )

go


CREATE FUNCTION [dbo].[F_GetSaleDistributionClientGroup](@year smallint, @month tinyint, @clientGroupType int,@itemGroupType int, @itemGroupId int, @userId int)
    RETURNS TABLE
        AS
        RETURN
            (
                -- Date: 18.04.2022
                -- Author: Kanan Mammadov
                -- Ticket: TayqaSale Scrum TSC-3502
                -- Description: the query return the distribution plans and results based on a user, month, year and item group combined .

                select Groups.GroupId                  as ClientGroupId,
                       Groups.GroupName                as ClientGroupName,
                       Groups.GroupCode                as ClientGroupCode,
                       sum(TargetClientCount)          as Target,
                       sum(isnull(FactClientCount, 0)) as Result

                from (select Target.ClientGroupId, TargetClientCount, FactClientCount
                      from MD_DistributionItemGroupPlan Target


                               left join (select ClientGroups.GroupId             as ClientGroupId,
                                                 count(distinct Invoice.ClientId) as FactClientCount
                                          from ERP_Invoice Invoice with (nolock)

                                                   join ERP_InvoiceLine Lines with (nolock) on Invoice.ERPId = Lines.InvoiceId

                                                   join MD_ItemGroupItemMapping Mapping with (nolock)
                                                        on Mapping.ItemId = Lines.ItemId and Mapping.Firm = Invoice.Firm and
                                                           Mapping.GroupType = @itemGroupType

                                                   join UIM_UserEmployeeMapping Employees with (nolock)
                                                        on Employees.Firm = Invoice.Firm and Employees.EmployeeId = Invoice.SalesmanId and
                                                           Employees.Status = 0

                                                   join MD_ClientGroupData ClientGroups with (nolock)
                                                        on ClientGroups.Firm = Employees.Firm and ClientGroups.GroupType = @clientGroupType and
                                                           ClientGroups.ClientId = Invoice.ClientId

                                          where Lines.LineType <> 1 -- All lines , excluding promo types
                                            and Invoice.IsDeleted = 0
                                            and Invoice.IsCancelled = 0
                                            and month(Invoice.Date) = @month
                                            and year(Invoice.Date) = @year
                                            and Invoice.Type = 4    -- Only sale invoices covered
                                            and UserId = @userId
                                            and Mapping.GroupId = @itemGroupId

                                          group by ClientGroups.GroupId) Facts on Target.ClientGroupId = Facts.ClientGroupId

                      where UserId = @userId
                        and Month = @month
                        and Year = @year
                        and Target.ItemGroupId = @itemGroupId) Output

                         join MD_ClientGroupInfo Groups with (nolock)
                              on Groups.GroupId = Output.ClientGroupId and Groups.GroupType = @clientGroupType

                group by Groups.GroupId, Groups.GroupCode, Groups.GroupName
            )

go