CREATE   procedure [dbo].[SP_MSG_ProcessNotificationPushQueue]
AS
BEGIN

BEGIN TRANSACTION

BEGIN TRY

declare @currentDate datetime=GETDATE();

	WITH cte AS (
	SELECT 
	notificationPushQueue.PushMethodId,
	notificationPushQueue.Message,
	notificationPushQueue.CreatorUserId,
	device.PushToken,
	notificationUser.UserId
	FROM MSG_NotificationPushQueue notificationPushQueue
	JOIN MSG_Notification notification ON notificationPushQueue.NotificationId = notification.Id
	JOIN MSG_NotificationUser notificationUser ON notificationUser.NotificationId = notificationPushQueue.NotificationId
	JOIN UIM_UserAuthToken userAuthToken ON notificationUser.UserId = userAuthToken.UserId
	JOIN UIM_Device device ON userAuthToken.DeviceId = device.Id
	WHERE 
	notificationPushQueue.SendDate <= @currentDate AND 
	notification.StartDate >= @currentDate AND 
	notification.EndDate <= @currentDate
	)

	INSERT INTO 
	OP_AdministrativePushQueue(PushMethodId, CreatedDate, RegisteredUserId, PushToken, UserId, Message)
	SELECT PushMethodId, GETDATE(), CreatorUserId, PushToken, UserId, Message FROM cte

	DELETE FROM MSG_NotificationPushQueue WHERE SendDate <= @currentDate;

	COMMIT

END TRY

BEGIN CATCH
	ROLLBACK
END CATCH

END