ALTER PROC [dbo].[SP_MD_GetPlanData]
	@userId INT,
	@type TINYINT,
	@firm SMALLINT = 0,
	@year SMALLINT = 0,
	@month TINYINT = 0,
	@lastYear SMALLINT = 0,
	@lastMonth TINYINT = 0
AS
BEGIN
    DECLARE @sqlQuery NVARCHAR(MAX);
    SET @sqlQuery = '';

	IF (@type = 1)
        BEGIN
            SET @sqlQuery = 'WITH ItemUserMapping AS(
                            SELECT PL.Firm, PL.UserId, PL.ItemId, PL.Year, PL.Month
                            FROM MD_PlanDistributedByUser PL WITH (NOLOCK) 
                            INNER JOIN F_GetPermittedClientForUser(@userId) PClient ON (PClient.Firm = PL.Firm AND PClient.UserId = PL.UserId)
                            INNER JOIN MD_PermittedCatalog PCatalog WITH (NOLOCK) ON PCatalog.UserId = PL.UserId
                            INNER JOIN MD_Catalog Cat WITH (NOLOCK) ON (Cat.Id = PCatalog.CatalogId AND Cat.Firm = PL.Firm)
                            INNER JOIN MD_CatalogItemMapping ItemMapping WITH (NOLOCK) ON ItemMapping.TigerItemId = PL.ItemId                            
                            UNION
                            SELECT FACT.Firm, FACT.UserId, FACT.ItemId, FACT.Year, FACT.Month
                            FROM OP_FactDistributedByUser FACT WITH (NOLOCK) 
                            INNER JOIN F_GetPermittedClientForUser(@userId) PClient ON (PClient.Firm = FACT.Firm AND PClient.UserId = FACT.UserId)
                            INNER JOIN MD_PermittedCatalog PCatalog WITH (NOLOCK) ON PCatalog.UserId = FACT.UserId
                            INNER JOIN MD_Catalog Cat WITH (NOLOCK) ON (Cat.Id = PCatalog.CatalogId AND Cat.Firm = FACT.Firm)
                            INNER JOIN MD_CatalogItemMapping ItemMapping WITH (NOLOCK) ON ItemMapping.TigerItemId = FACT.ItemId)
                            SELECT Mapping.Firm, Mapping.Year, Mapping.Month, Mapping.ItemId, PL.ItemUnitId AS PlanUnitId, PL.Quantity AS PlanQuantity,
                            FACT.ItemUnitId AS FactUnitId, FACT.Quantity AS FactQuantity 
                            FROM ItemUserMapping Mapping WITH (NOLOCK) 
                            LEFT Join MD_PlanDistributedByUser PL WITH (NOLOCK) ON (PL.ItemId = Mapping.ItemId AND PL.Firm = Mapping.Firm AND PL.UserId = Mapping.UserId AND PL.Year = Mapping.Year AND PL.Month = Mapping.Month)
                            LEFT Join OP_FactDistributedByUser FACT WITH (NOLOCK) ON (FACT.ItemId = Mapping.ItemId AND FACT.Firm = Mapping.Firm AND FACT.UserId = Mapping.UserId And FACT.Year = Mapping.Year AND FACT.Month = Mapping.Month)
                            WHERE Mapping.UserId = @userId AND (FACT.Quantity >= 0 OR PL.Quantity >= 0)';
        END
	ELSE IF (@type = 2)
		BEGIN
			SET @sqlQuery = 'WITH ItemClientMapping AS(
                            SELECT PL.Firm, PL.UserId, PL.ItemId, PL.ClientId, PL.Year, PL.Month 
                            FROM MD_PlanDistributedByClient PL WITH (NOLOCK)
                            INNER JOIN F_GetPermittedClientForUser(@userId) PClient ON (PClient.Firm = PL.Firm AND PClient.UserId = PL.UserId AND PClient.ClientId=PL.ClientId)
                            INNER JOIN MD_PermittedCatalog PCatalog WITH (NOLOCK) ON PCatalog.UserId = PL.UserId
                            INNER JOIN MD_Catalog Cat WITH (NOLOCK) ON (Cat.Id=PCatalog.CatalogId AND Cat.Firm=PL.Firm)
                            INNER JOIN MD_CatalogItemMapping ItemMapping WITH (NOLOCK) ON ItemMapping.TigerItemId = PL.ItemId
                            UNION
                            SELECT FACT.Firm, FACT.UserId, FACT.ItemId, FACT.ClientId, FACT.Year, FACT.Month
                            FROM OP_FactDistributedByClient FACT WITH (NOLOCK) 
                            INNER JOIN F_GetPermittedClientForUser(@userId) PClient ON (PClient.Firm = FACT.Firm AND PClient.UserId = FACT.UserId AND PClient.ClientId = FACT.ClientId)
                            INNER JOIN MD_PermittedCatalog PCatalog WITH (NOLOCK) ON PCatalog.UserId = FACT.UserId
                            INNER JOIN MD_Catalog Cat WITH (NOLOCK) ON (Cat.Id=PCatalog.CatalogId AND Cat.Firm = FACT.Firm)
                            INNER JOIN MD_CatalogItemMapping ItemMapping WITH (NOLOCK) ON ItemMapping.TigerItemId = FACT.ItemId)
                            SELECT Mapping.Firm, Mapping.Year, Mapping.Month, Mapping.ItemId, Mapping.ClientId, PL.ItemUnitId AS PlanUnitId, PL.Quantity AS PlanQuantity, 
                            FACT.ItemUnitId As FactUnitId, FACT.Quantity As FactQuantity 
                            FROM ItemClientMapping Mapping WITH (NOLOCK)
                            LEFT JOIN MD_PlanDistributedByClient PL WITH (NOLOCK) ON (PL.ItemId = Mapping.ItemId AND PL.Firm = Mapping.Firm And PL.UserId = Mapping.UserId AND PL.ClientId = Mapping.ClientId AND PL.Year = Mapping.Year AND PL.Month = Mapping.Month)
                            LEFT JOIN OP_FactDistributedByClient FACT WITH (NOLOCK) ON (FACT.ItemId = Mapping.ItemId AND FACT.Firm = Mapping.Firm And FACT.UserId = Mapping.UserId AND FACT.ClientId = Mapping.ClientId AND FACT.Year = Mapping.Year AND FACT.Month = Mapping.Month)
                            WHERE Mapping.UserId = @userId AND (FACT.Quantity >= 0 OR PL.Quantity >= 0)'
		END

    IF (@firm > 0)
        BEGIN
            SET @sqlQuery = CONCAT(@sqlQuery, ' AND Mapping.Firm = @firm');
        END

    IF (@year > 0 AND @month > 0)
        BEGIN
            SET @sqlQuery = CONCAT(@sqlQuery, ' AND Mapping.Year = @year AND Mapping.Month = @month');
        END
	ELSE
		BEGIN
			SET @sqlQuery = CONCAT(@sqlQuery, ' AND ((Mapping.Year = @year And Mapping.Month = @month) OR (Mapping.Year = @lastYear AND Mapping.Month = @lastMonth))');
		END

    EXEC sp_executesql @sqlQuery,
		N'
		@userId INT,
		@type TINYINT,
		@firm SMALLINT,
		@year SMALLINT,
		@month TINYINT,
		@lastYear SMALLINT,
		@lastMonth TINYINT',
		@userId = @userId,
		@type = @type,
		@firm = @firm,
		@year = @year,
		@month = @month,
		@lastYear = @lastYear,
		@lastMonth = @lastMonth
END