
CREATE TABLE [dbo].[SYS_AppConfiurations](
	[Id] [int] NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[IsCombo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)) 

CREATE TABLE [dbo].[SYS_ConfigCombo](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ConfigId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)) 

CREATE TABLE [dbo].[SYS_ServiceConfigMapping](
	[Id] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[ConfigId] [int] NOT NULL,
	[VersionId] [smallint] NULL,
 CONSTRAINT [PK_SYS_ServiceConfigMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
))

CREATE TABLE [dbo].[SYS_Services](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)) 
GO
INSERT [dbo].[SYS_AppConfiurations] ([Id], [Key], [Type], [IsCombo]) VALUES (1, N'CommonParameters.Environment', 1, 0)
INSERT [dbo].[SYS_AppConfiurations] ([Id], [Key], [Type], [IsCombo]) VALUES (2, N'CommonParameters.Version', 1, 0)
INSERT [dbo].[SYS_AppConfiurations] ([Id], [Key], [Type], [IsCombo]) VALUES (3, N'LogParameters.LogFilePath', 1, 0)
GO
INSERT [dbo].[SYS_ConfigCombo] ([Id], [Name], [ConfigId]) VALUES (1, N'development', 1)
INSERT [dbo].[SYS_ConfigCombo] ([Id], [Name], [ConfigId]) VALUES (2, N'production', 1)
INSERT [dbo].[SYS_ConfigCombo] ([Id], [Name], [ConfigId]) VALUES (3, N'development', 67)
GO
INSERT [dbo].[SYS_ServiceConfigMapping] ([Id], [ServiceId], [ConfigId], [VersionId]) VALUES (1, 1, 1, 4)
INSERT [dbo].[SYS_ServiceConfigMapping] ([Id], [ServiceId], [ConfigId], [VersionId]) VALUES (2, 1, 2, 4)
INSERT [dbo].[SYS_ServiceConfigMapping] ([Id], [ServiceId], [ConfigId], [VersionId]) VALUES (3, 1, 3, 4)
GO
INSERT [dbo].[SYS_Services] ([Id], [Name], [Type]) VALUES (1, N'ProxyWebServiceWS', 2)
INSERT [dbo].[SYS_Services] ([Id], [Name], [Type]) VALUES (2, N'RequestProcessorWS', 2)
INSERT [dbo].[SYS_Services] ([Id], [Name], [Type]) VALUES (3, N'MasterDataSyncSchedulerService', 1)
GO

/****** Object:  Index [UK_SYS_AppConfiurations_Key]    Script Date: 21.04.2022 9:54:35 ******/
ALTER TABLE [dbo].[SYS_AppConfiurations] ADD  CONSTRAINT [UK_SYS_AppConfiurations_Key] UNIQUE NONCLUSTERED 
(
	[Key] ASC
)
GO
ALTER TABLE [dbo].[SYS_AppConfiurations] ADD  CONSTRAINT [DF_SYS_AppConfiurations_IsCombo]  DEFAULT ((0)) FOR [IsCombo]
GO
