
CREATE PROCEDURE [dbo].[SP_FM_GetClientFiles]
    @Firm SMALLINT,
    @ClientName NVARCHAR(200),
    @ClientCode NVARCHAR(200),
    @FileName NVARCHAR(200),
	@Description NVARCHAR(200),
    @Specode1 NVARCHAR(100),
    @Specode2 NVARCHAR(100),
    @Specode3 NVARCHAR(100),
    @sorting NVARCHAR(MAX),
    @skipCount INT = 0,
    @maxResultCount INT = 10,
    @totalCount INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @query NVARCHAR(MAX);
    DECLARE @Result TABLE
                    (
                        Id INT,
                        Firm NVARCHAR(100),
                        FileName NVARCHAR(200),
                        SubFolder NVARCHAR(200),
                        ParentFolder NVARCHAR(200),
                        [File] NVARCHAR(500),
                        Specode1 NVARCHAR(100),
                        Specode2 NVARCHAR(100),
                        Specode3 NVARCHAR(100),
						ClientCount INT
                    );

    SET @query = '
		WITH FilteredGroups AS (
			SELECT DISTINCT g.GroupId
			FROM MD_ClientGroupData g WITH (NOLOCK)
			INNER JOIN MD_Client c WITH (NOLOCK) 
				ON g.ClientId = c.TigerId AND g.Firm = c.Firm
			WHERE 
				(@ClientCode IS NULL OR c.Code LIKE ''%'' + @ClientCode + ''%'') 
				AND (@ClientName IS NULL OR c.Name LIKE ''%'' + @ClientName + ''%'')
		),
		GroupClientCounts AS (
			SELECT 
				g.GroupId,
				COUNT(g.ClientId) AS GroupClientCount
			FROM MD_ClientGroupData g WITH (NOLOCK)
			INNER JOIN MD_Client c WITH (NOLOCK) 
				ON g.ClientId = c.TigerId AND g.Firm = c.Firm
			WHERE g.GroupId IN (SELECT GroupId FROM FilteredGroups)
			GROUP BY g.GroupId
		)
		SELECT 
			files.Id AS Id,
			firm.Name AS Firm,
			files.Name AS FileName,
			CASE WHEN parentFolder.Id IS NULL THEN '''' ELSE folder.Name END AS SubFolder,
			CASE WHEN parentFolder.Id IS NULL THEN folder.Name ELSE parentFolder.Name END AS ParentFolder,
			files.SecureUrl AS [File],
			files.Specode1,
			files.Specode2,
			files.Specode3,
			SUM(ISNULL(groupClientCounts.GroupClientCount, 0)) AS ClientCount
		FROM FM_Files files WITH (NOLOCK)
		INNER JOIN MD_Firm firm WITH (NOLOCK) ON files.Firm = firm.Nr
		INNER JOIN FM_Folders folder WITH (NOLOCK) ON files.FolderId = folder.Id
		LEFT JOIN FM_Folders parentFolder WITH (NOLOCK) ON folder.ParentId = parentFolder.Id
		INNER JOIN FM_FileClientMapping mapping WITH (NOLOCK) 
			ON files.Id = mapping.FileId AND mapping.ReferenceType = 2
		INNER JOIN GroupClientCounts groupClientCounts 
			ON groupClientCounts.GroupId = mapping.ReferenceId
		WHERE 
			files.Firm = @Firm
    ';

    IF (@FileName IS NOT NULL)
        SET @query = CONCAT(@query, ' AND files.Name LIKE ''%'' + @FileName + ''%''');
    IF (@Description IS NOT NULL)
        SET @query = CONCAT(@query, ' AND files.Description LIKE ''%'' + @Description + ''%''');
    IF (@Specode1 IS NOT NULL)
        SET @query = CONCAT(@query, ' AND files.Specode1 LIKE ''%'' + @Specode1 + ''%''');
    IF (@Specode2 IS NOT NULL)
        SET @query = CONCAT(@query, ' AND files.Specode2 LIKE ''%'' + @Specode2 + ''%''');
    IF (@Specode3 IS NOT NULL)
        SET @query = CONCAT(@query, ' AND files.Specode3 LIKE ''%'' + @Specode3 + ''%''');
		
	SET @query = CONCAT(@query, 
	'	GROUP BY 
			files.Id, 
			files.Name, 
			firm.Name, 
			folder.Name, 
			parentFolder.Name, 
			files.SecureUrl,
			files.Specode1,
			files.Specode2,
			files.Specode3,
			folder.Id, 
			parentFolder.Id		
		
		UNION ALL
		
		SELECT 
				files.Id																		AS Id,
				firm.Name																		AS Firm,
				files.Name																		AS FileName,
				CASE WHEN parentFolder.Id IS NULL THEN '''' ELSE folder.Name END				AS SubFolder,
				CASE WHEN parentFolder.Id IS NULL THEN folder.Name ELSE parentFolder.Name END	AS ParentFolder,
				files.SecureUrl																	AS [File],
				files.Specode1																	AS Specode1,
				files.Specode2																	AS Specode2,
				files.Specode3																	AS Specode3,
				COUNT(client.TigerId)																				AS ClientCount
		FROM FM_Files files WITH (NOLOCK)
		INNER JOIN MD_Firm firm WITH (NOLOCK) ON files.Firm = firm.Nr
		INNER JOIN FM_Folders folder WITH (NOLOCK) ON files.FolderId = folder.Id
		LEFT JOIN FM_Folders parentFolder WITH (NOLOCK) ON folder.ParentId = parentFolder.Id
		INNER JOIN FM_FileClientMapping mapping WITH (NOLOCK) ON files.Id = mapping.FileId AND mapping.ReferenceType = 1
		INNER JOIN MD_Client client WITH (NOLOCK) ON mapping.ReferenceId = CAST(client.TigerId AS BIGINT)

		WHERE files.Firm = @Firm
		');
		
		IF (@ClientName IS NOT NULL)
			SET @query = CONCAT(@query, ' AND client.Name LIKE ''%'' + @ClientName + ''%''');
		IF (@ClientCode IS NOT NULL)
			SET @query = CONCAT(@query, ' AND client.Code LIKE ''%'' + @ClientCode + ''%''');
		IF (@FileName IS NOT NULL)
			SET @query = CONCAT(@query, ' AND files.Name LIKE ''%'' + @FileName + ''%''');
		IF (@Description IS NOT NULL)
			SET @query = CONCAT(@query, ' AND files.Description LIKE ''%'' + @Description + ''%''');
		IF (@Specode1 IS NOT NULL)
			SET @query = CONCAT(@query, ' AND files.Specode1 LIKE ''%'' + @Specode1 + ''%''');
		IF (@Specode2 IS NOT NULL)
			SET @query = CONCAT(@query, ' AND files.Specode2 LIKE ''%'' + @Specode2 + ''%''');
		IF (@Specode3 IS NOT NULL)
			SET @query = CONCAT(@query, ' AND files.Specode3 LIKE ''%'' + @Specode3 + ''%''');

		SET @query = CONCAT(@query, 
		' GROUP BY
			files.Id, 
			files.Name, 
			firm.Name, 
			folder.Name, 
			parentFolder.Name, 
			files.SecureUrl,
			files.Specode1,
			files.Specode2,
			files.Specode3,
			folder.Id, 
			parentFolder.Id');

    -- Insert results into @Result table
    INSERT INTO @Result
    EXEC sp_executesql @query,
        N'@Firm SMALLINT, @ClientName NVARCHAR(200), @ClientCode NVARCHAR(200), @FileName NVARCHAR(200), @Description NVARCHAR(200), @Specode1 NVARCHAR(100), @Specode2 NVARCHAR(100), @Specode3 NVARCHAR(100)',
        @Firm = @Firm,
		@ClientName = @ClientName,
		@ClientCode = @ClientCode,
        @FileName = @FileName,
		@Description = @Description,
        @Specode1 = @Specode1,
        @Specode2 = @Specode2,
        @Specode3 = @Specode3;

    -- Calculate total count
    SET @totalCount = (SELECT COUNT(Id) FROM @Result);

	SET @query = CONCAT(@query, ' ORDER BY ' + @sorting + ' OFFSET @skipCount ROWS FETCH NEXT @maxResultCount ROWS ONLY');

    -- Paginate the results
    EXEC sp_executesql @query,
		N'@Firm SMALLINT, @ClientName NVARCHAR(200), @ClientCode NVARCHAR(200), @FileName NVARCHAR(200), @Description NVARCHAR(200),
		 @Specode1 NVARCHAR(100), @Specode2 NVARCHAR(100), @Specode3 NVARCHAR(100),
		 @sorting NVARCHAR(50), @skipCount INT, @maxResultCount INT, @totalCount INT OUT',
		@Firm = @Firm,
		@ClientName = @ClientName,
		@ClientCode = @ClientCode,
		@FileName = @FileName,
		@Description = @Description,
		@Specode1 = @Specode1,
		@Specode2 = @Specode2,
		@Specode3 = @Specode3,
		@sorting = @sorting,
		@skipCount = @skipCount,
		@maxResultCount = @maxResultCount,
		@totalCount = @totalCount OUT
END;

GO
