
CREATE FUNCTION [dbo].[F_OP_GetThirdPartyUsersForPushNotification](@RequestId int)
    returns @T table
               (
                   UserId      int,
                   IsLoud      bit,
                   IsDeletable bit
               )
AS
BEGIN
    declare @CreatorId INT = (select UserId from OP_IncomingLog with (nolock) where Id = @RequestId)
    insert into @T (UserId, IsLoud, IsDeletable)
    SELECT distinct ParentId, 1, 0
    from dbo.F_UIM_GetOrganizationUserParents(@CreatorId, 0)
    return
end

GO