
ALTER PROCEDURE [dbo].[SP_IM_GetInventoryAssetDemands] @startDate DATETIME,
                                                       @endDate DATETIME,
                                                       @firm SMALLINT,
                                                       @demandType TINYINT,
                                                       @demandNumber INT,
                                                       @assetNumber NVARCHAR(50),
                                                       @equipmentNameOrCode NVARCHAR(100),
                                                       @bindDirection SMALLINT,
                                                       @creatorUserIds NVARCHAR(MAX),
                                                       @userIds NVARCHAR(MAX),
                                                       @salesmanIds NVARCHAR(MAX),
                                                       @divisionNrs NVARCHAR(MAX),
                                                       @warehouseNrs NVARCHAR(MAX),
                                                       @departmentNrs NVARCHAR(MAX),
                                                       @clientCodeNameEdino NVARCHAR(100),
                                                       @customFilter NVARCHAR(MAX),
                                                       @status NVARCHAR(MAX),
                                                       @currentUserId BIGINT,
                                                       @sorting NVARCHAR(MAX),
                                                       @skipCount INT = 0,
                                                       @maxResultCount INT = 10,
                                                       @totalCount INT OUTPUT
AS
BEGIN

    DECLARE @query NVARCHAR(MAX);
    DECLARE @Result TABLE
                    (
                        DemandNumber            INT,
                        Firm                    NVARCHAR(50),
                        Type                    TINYINT,
                        CreatedDate             DATETIME,
                        UserName                NVARCHAR(100),
                        UserFullName            NVARCHAR(50),
                        AssetNumber             NVARCHAR(50),
                        BindDirection           TINYINT,
                        BindingPlace            NVARCHAR(100),
                        EquipmentCode           NVARCHAR(50),
                        EquipmentName           NVARCHAR(100),
                        BindingReason           NVARCHAR(100),
                        AssetReturnDemandReason NVARCHAR(100),
                        Attachment              NVARCHAR(MAX),
                        Status                  TINYINT,
                        CancelReason            NVARCHAR(50)
						
						
                    )

    SET @query =
            '
          with LatestBinding as (select AssetId,
                                        BindingType,
                                        BindingReasonId,
                                        CancelReasonId,
                                        row_number() over (partition by AssetId order by CreationTime desc) as RowNum
                                 from IM_AssetBinding with (nolock)),

		 unique_attachments as (select ReferenceId,
                                   string_agg(SecureUrl, '','') as Files
												from IM_AssetAttachment with (nolock)
												where Type=5
												group by ReferenceId)

          select request.Id                         as DemandNumber,
                 Firm.Name                          as Firm,
                 request.Type                       as Type,
                 request.CreationTime               as CreatedDate,
                 usr.UserName                       as UserName,
                 concat(usr.Name, '' '', usr.Surname) as UserFullName,
                 AssetNr                            as AssetNumber,
                 asset.BindingType                  as BindDirection,
                 case
                     when asset.BindingType = 1 then concat(demandusr.Name, '' '', demandusr.Surname)
                     when asset.BindingType = 2 then slsman.Name
                     when asset.BindingType = 3 then division.Name
                     when asset.BindingType = 4 then whouse.Name
                     when asset.BindingType = 5 then dep.Name
                     when asset.BindingType = 6 then Client.Name
                     when asset.BindingType = 128 then ISNULL(asset.BindingReference, '''') collate SQL_Latin1_General_CP1_CI_AS
                     ELSE ''''
                     end                            as BindingPlace,
                 item.Code                          as EquipmentCode,
                 item.Name                          as EquipmentName,
                 content.Name                       as BindingReason,
                 returnreason.Name                  as AssetReturnDemandReason,
				 isnull(attachments.Files, '' '')   as Attachment,
                 request.Status                     as Status,
                 cancelreason.Name                  as CancelReason
          from IM_AssetRequest request with (nolock)
                   join MD_Firm Firm with (nolock) on Firm.Nr = request.Firm
                   left join AbpUsers usr with (nolock) on usr.Id = request.CreatorUserId
                   left join IM_Asset asset with (nolock) on asset.Id = request.AssetId and Asset.IsDeleted = 0
                   join MD_Item item with (nolock) on item.TigerId = asset.ItemId and item.Firm = request.Firm
                   left join AbpUsers demandusr with (nolock) on cast(demandusr.Id as nvarchar(50)) = asset.BindingReference
                   left join MD_Salesman slsman with (nolock)
                             on cast(slsman.Code as nvarchar(50)) collate SQL_Latin1_General_CP1_CI_AS = asset.BindingReference and slsman.Firm = asset.Firm and
                                asset.BindingType = 2
                   left join MD_Division division with (nolock)
                             on cast(division.Nr as nvarchar(50)) = asset.BindingReference and division.Firm = asset.Firm and asset.BindingType = 3
                   left join MD_Warehouse whouse with (nolock)
                             on cast(whouse.Nr as nvarchar(50)) = asset.BindingReference and whouse.Firm = asset.Firm and asset.BindingType = 4
                   left join MD_Department dep with (nolock)
                             on cast(dep.Nr as nvarchar(50)) = asset.BindingReference and dep.Firm = asset.Firm and asset.BindingType = 5
                   left join MD_Client client with (nolock)
                             on cast(client.TigerId as nvarchar(50)) = asset.BindingReference and client.Firm = asset.Firm and asset.BindingType = 6
                   left join LatestBinding binding on binding.AssetId = request.AssetId and binding.RowNum = 1
                   left join IM_StaticContent content with (nolock) on content.Id = binding.BindingReasonId
                   left join IM_StaticContent cancelreason with (nolock) on cancelreason.Id = request.CancelledReasonId
                   left join IM_StaticContent returnreason with (nolock) on returnreason.Id = request.ReasonId
				   left join unique_attachments attachments on attachments.ReferenceId = request.Id

                   where 1=1
           --and request.Type=1
                      '
    IF (@startDate IS NOT NULL
        AND @endDate IS NOT NULL)
        SET @query = CONCAT(@query, ' and request.CreationTime between  @startDate and @endDate')

    IF @firm IS NOT NULL
        SET @query = CONCAT(@query, ' and (request.Firm = @firm)')

    IF @demandType IS NOT NULL
        SET @query = CONCAT(@query, ' and (request.Type = @demandType)')

    IF @demandNumber IS NOT NULL
        SET @query = CONCAT(@query, ' and (request.Id = @demandNumber)')


    IF @equipmentNameOrCode IS NOT NULL
        SET @query = CONCAT(@query, ' and (item.Name like ''%''+@equipmentNameOrCode+''%'' or item.Code like ''%''+@equipmentNameOrCode+''%'' )')

    IF @assetNumber IS NOT NULL
        SET @query = CONCAT(@query, ' and (AssetNr like ''%'' + @assetNumber + ''%'' )')

    IF @bindDirection IS NOT NULL
        SET @query = CONCAT(@query, ' and (asset.BindingType = @bindDirection)')

    IF @creatorUserIds IS NOT NULL
        SET @query = CONCAT(@query, ' and (usr.Id in (select value from string_split(@creatorUserIds, '','')))')

    IF @userIds IS NOT NULL
        SET @query = CONCAT(@query, ' and (asset.BindingType = 1 and demandusr.Id in (select value from string_split(@userIds, '','')))')

    IF @salesmanIds IS NOT NULL
        SET @query = CONCAT(@query,
                            ' and (asset.BindingType = 2 and slsman.Code collate SQL_Latin1_General_CP1_CI_AS in (select value from string_split(@salesmanIds, '','')))')

    IF @divisionNrs IS NOT NULL
        SET @query = CONCAT(@query, ' and (asset.BindingType = 3 and division.Nr in (select value from string_split(@divisionNrs, '','')))')

    IF @warehouseNrs IS NOT NULL
        SET @query = CONCAT(@query, ' and (asset.BindingType = 4 and whouse.Nr in (select value from string_split(@warehouseNrs, '','')))')

    IF @departmentNrs IS NOT NULL
        SET @query = CONCAT(@query, ' and (asset.BindingType = 5 and dep.Nr in (select value from string_split(@departmentNrs, '','')))')

    IF @clientCodeNameEdino IS NOT NULL
        SET @query = CONCAT(@query,
                            ' and (asset.BindingType = 6 and (client.Code like ''%''+@clientCodeNameEdino+''%'' or client.Name like ''%''+@clientCodeNameEdino+''%'' or client.Edino like ''%''+@clientCodeNameEdino+''%''))')

    IF @customFilter IS NOT NULL
        SET @query = CONCAT(@query, 'and (asset.BindingType = 128 and (asset.BindingReference like ''%'' + @customFilter + ''%'' ))')

    IF @status IS NOT NULL
        SET @query = CONCAT(@query, ' and (request.Status in (select value from string_split(@status, '','')))')

    IF @sorting IS NULL
        SET @query = CONCAT(@query, ' order by request.Id desc ')

    IF @sorting IS NOT NULL
        SET @query = CONCAT(@query, ' order by ' + @sorting)

    INSERT INTO @Result
        EXEC sp_executesql @query
            , N' @startDate datetime,
            @endDate datetime,
            @firm smallint,
            @demandType tinyint,
            @demandNumber int,
            @equipmentNameOrCode nvarchar(100),
            @assetNumber nvarchar(50),
            @bindDirection smallint,
            @creatorUserIds nvarchar(max),
            @userIds nvarchar(max),
            @salesmanIds nvarchar(max) ,
            @divisionNrs nvarchar(max),
            @warehouseNrs nvarchar(max),
            @departmentNrs nvarchar(max),
            @clientCodeNameEdino nvarchar(100),
            @customFilter nvarchar(max),
            @status nvarchar(max),
            @currentUserId bigint,
            @sorting nvarchar(max),
            @skipCount int = 0,
            @maxResultCount int = 10,
            @totalCount int output
			'
            , @startDate = @startDate
            , @endDate = @endDate
            , @firm = @firm
            , @demandType = @demandType
            , @demandNumber = @demandNumber
            , @equipmentNameOrCode = @equipmentNameOrCode
            , @assetNumber = @assetNumber
            , @bindDirection = @bindDirection
            , @creatorUserIds = @creatorUserIds
            , @userIds = @userIds
            , @salesmanIds = @salesmanIds
            , @divisionNrs = @divisionNrs
            , @warehouseNrs = @warehouseNrs
            , @departmentNrs = @departmentNrs
            , @clientCodeNameEdino = @clientCodeNameEdino
            , @customFilter = @customFilter
            , @status = @status
            , @currentUserId = @currentUserId
            , @sorting = @sorting
            , @skipCount = @skipCount
            , @maxResultCount = @maxResultCount
            , @totalCount = @totalCount OUTPUT

    SET @totalCount = (SELECT COUNT(DemandNumber)
                       FROM @Result);

    SELECT *
    FROM @Result
    ORDER BY COALESCE(@sorting, 'DemandNumber') DESC
    OFFSET @skipCount ROWS FETCH NEXT @maxResultCount ROWS ONLY

END

GO