<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="dubrar"/>
    <Version value="v1.00"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\Logs\{environment}\{version}\ClientStatistics.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=WIN-PJC02HCUL9L;Database=TayqaSale;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=WINDOWS-2PDAEB1;Database=unity_2;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <ClientId value="16" />
	<Responses value ="responses.config"/>
    <RequestQueueStat value="/api/services/app/RequestQueueStat/InsertRequestQueueStat" />
    <UserDeviceStat value="/api/services/app/OperationStat/InsertUserDeviceStat" />
    <OperationStat value="/api/services/app/OperationStat/InsertOperationStat" />
    <PushQueueStat value ="/api/services/app/PushQueueStat/InsertPushQueueStat" />
    <RequestStat value ="/api/services/app/RequestStat/InsertRequestStat"/>
    <AdministrativePushQueueStat value ="/api/services/app/AdministrativePushQueueStat/InsertAdministrativePushQueueStat"/>
    <IntegrationStat value ="/api/services/app/IntegrationStat/InsertIntegrationStat"/>
    <SyncStat value ="/api/services/app/SyncStat/InsertSyncStat"/>
    <ServerStat value ="/api/services/app/ServerStat/InsertServerStat"/>
    <ControlStat value ="/api/services/app/ControlStatus/InsertControlStatus"/>
    <Authorization value ="AAAACUeRyrc:APA91bHT15T3XrAPUGT4pY15v3COCa0U99pPqgnJXf9X_5Wa1o2Ei3m9xbE-RLiDTOgOk8bKzeUgvxZZ55nSXJ1dbvsZRiqtLPabOhYoKILjkHcUwiz2vx7zL2XCSmsgChnv3bwDMW1CS0k2mayJFwfDiW-Gt7HJPQ"/>
    <SyncCenterUrl value ="http://localhost:1110/prod/V2.20/TigerCore/SyncSalesMan"/>
    <X-AuthToken value ="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiI0IiwidW5pcXVlX25hbWUiOiJqMyIsIm5iZiI6MTU2NDIyMTY1MSwiZXhwIjoxNTk1MzI1NjUxLCJpYXQiOjE1NjQyMjE2NTEsImlzcyI6Imh0dHA6Ly93d3cuZHVicmFyLmNvbSIsImF1ZCI6Imh0dHA6Ly93d3cuZHVicmFyLmNvbSJ9.vnU1ukPmtfrTV1kr1dGFDeAjVA3k8KVXOQ9x2vGZMTM"/>
    <GoogleUri value = "https://fcm.googleapis.com/fcm/send"/>
    <BaseUrl value ="https://monitoring-core.tayqatech.com"/>
    <RequestQueueService value="True" />
    <ClientEnvironment value="prod"/>
    <ClientCode value="Dubrar"/>
    <ProductCode value="TayqaSale"/>
    <ProductVersion value="2.91"/>
    <ServerUrl value="http://localhost:1993"/>
    <PushQueueService value="True" />
    <IncomingLogService value="True" />
    <IntegrationService value="True" />
    <AdministrativePushQueueService value="True" />
    <OperationStatService value="True" />
    <SyncService value="True" />
    <ControlStatusService value="True" />
    <CpuProcessService value="True" />
    <UserDeviceService value="True" />
  </additionalParameters>
</configuration>