<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="prod"/>
    <Version value="V4.20"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\ERPIntegration\{version}\erpIntegrationService.txt"/>
    <LogLevel value="1"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=WIN-PJC02HCUL9L;Database=TayqaSale;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=WINDOWS-2PDAEB1;Database=unity_2;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>    
    <Firm value="191"/>
    <ActivePeriod value="1"/>
    <Step value="10"/>
    <ServiceName value="MainIntegrationService"/>
    <NextStep value="20"/>
    <RoundDigit value="4"/>
    <PriorityMaskForPrice value="111"/>    
    <MaximumTryCounterForService value="10"/>
    <DisposeAfterXHours value="12"/>
    <ListenerUrlForERPReconnection value="http://+:11101/{environment}/Integration/ReconnectToLogo/"/>    
    <ERP value="Unity"/>
    <ERPIntegratorDefaultVersion value="V1.10"/>    
	<ImplementedClient value="Dubrar"/>
    <LogIntegrationResult value="true"/>
    <ERPUnknonwErrorResponseId value="-99"/>
    <TigerApplyGetStockLinePrice value="true"/>
    <TigerGetStockLinePriceType value="8"/>
    <TigerUserName value="TaygaSale"/>
    <TigerPassword value="Ts*2019"/>
    <TigerERPResponsesFilePath value="erpResponses.config"/>
    <TigerLocalCulture value="M/d/yyyy"/>
    <TigerIsSpecialExchangeRate value="false"/>
    <TigerUserIdForCreatedBy value="1"/>
    <TigerLobjectLogFilePath value="C:\tayqaSale\logs\{environment}\{version}\lobject.txt"/>
    <TigerLogoConfigFilePath value=""/>      
    <TigerApplyCampaignFlag value="true"/>    
    <TigerCheckTaxNrForSaleOperations value="false"/>    
	<TigerIgnoreCashDate value="false"/>
    <ExtraWhereClauseAndOrderByFilter value="AND DocType IN (0,1,2,3,4,5,6)"/>
	<DebugModeForTayqaSaleIntegration value="true"/>
	<SpecImpCombinedItemColumnName value="PRODUCERCODE"/>	
  </additionalParameters>
</configuration>
