<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="prod"/>
    <Version value="v2.92"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\ReportManager\{version}\reportManager.txt"/>
    <LogLevel value="1"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <ErpDB value="Server=WINDOWS-2PDAEB1;Database=unity_2;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDbSecondary value="Server=WINDOWS-2PDAEB1;Database=unity_2;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaSaleDB value="Server=WIN-PJC02HCUL9L;Database=TayqaSale;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
	<TayqaSaleDbSecondary value="Server=WIN-PJC02HCUL9L;Database=TayqaSale;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <SalesmanSource value="SalesmanClientMapping"/>
    <RouteDaysBefore value="14"/>
    <RouteDaysAfter value="31"/>
    <ErpName value="Unity"/>
  </additionalParameters>
</configuration>
