<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section" />
    <section name="logParameters" type="section" />
    <section name="databaseParameters" type="section" />
  </configSections>
  <commonParameters>
    <Version value="V1.30" />
    <Environment value="prod" />
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\SyncScheduler\{version}\tayqasaleMasterDataSyncScheduler.txt" />
    <LogLevel value="2" />
    <FileSizeInMB value="10" />
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=WIN-PJC02HCUL9L;Database=TayqaSale;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60" />
  </databaseParameters>
  <additionalParameters>
    <AuthToken value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIzIiwidW5pcXVlX25hbWUiOiJzZXJ2aWNlX3VzZXIiLCJuYmYiOjE1Njg0NjExMDAsImV4cCI6MTU5OTU2NTEwMCwiaWF0IjoxNTY4NDYxMTAwLCJpc3MiOiJodHRwOi8vd3d3LmR1YnJhci5jb20iLCJhdWQiOiJodHRwOi8vd3d3LmR1YnJhci5jb20ifQ.-Z56Y822RmBI4kn0yK4x9ZxQeGz9vkZBaNQ_LFZYWi4" />
    <MaximumTryCounterForService value="10" />
    <AllowedProcessingUnitPerMinute value="5" />
    <CheckWebSyncServiceTestUrl value="http://localhost:1110/prod/V2.20/TigerCore/SyncSalesMan" />
    <CheckWebSyncServiceTestUrlParams value="{&quot;Firms&quot;: [191]}" />
  </additionalParameters>
</configuration>