<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Version value="V2.20"/>
    <Environment value="prod"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\SyncCenter\{version}\tayqasaleMasterDataSync.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
     <TayqaSaleDB value="Server=WIN-PJC02HCUL9L;Database=TayqaSale;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
     <ErpDB value="Server=WINDOWS-2PDAEB1;Database=unity_2;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <RoundDepthForDecimal value="4"/>
    <ERP value="Unity"/>
    <AuthTokenValidationEndpoint value="http://localhost:1104/tayqa/tiger/api/{environment}/v2.92/uid/CheckUser"/>
   <TigerSyncRefreshStartPeriod value="01.01.2000 00:00:00"/>    
    <TigerQueryFilterForItems value=" AND ITEM.CARDTYPE IN (1,2,3,12)"/>
    <TigerQueryFilterForClients value=" AND CLCARD.CARDTYPE IN (3,4)"/>
    <TigerQueryFilterForPrices value=" AND PRC.PTYPE=2 AND PRC.CLIENTCODE=''"/>
    <TigerClientRouteType value="CLCARD"/>
    <IgnorePermittedClientTable value ="true"/>
	<TigerQueryFilterForItemUnits value=""/>
    <TigerQueryFilterForDeliveryOrders value=""/>
	<DayCountForDeliveryOrders value ="30"/>
  </additionalParameters>
</configuration>