
ALTER FUNCTION [dbo].[F_MD_GetDocumentCountRestrictionData](@referenceId int, @restrictionType tinyint, @operationId tinyint, @firm smallint, @groupType smallint, @warehouseNr int = null) 
returns @T Table(
Limit int,
ReferenceId int
)
AS BEGIN
    IF (@restrictionType = 1)
        BEGIN
			insert into @T
            SELECT docRest.Limit, docRest.ReferenceId FROM MD_DocumentCountRestriction docRest WITH(NOLOCK)
            WHERE RestrictionType = @restrictionType
              AND ReferenceId = @referenceId
              AND IsActive = 1
              AND (@warehouseNr IS NOT NULL OR WarehouseNr IS NULL)
              AND (@warehouseNr IS NULL OR WarehouseNr = @warehouseNr)
			  AND OperationId = @operationId
              AND Firm = @firm
			  AND RestrictionTargetType = 1
        END
    IF (@restrictionType = 2)
        BEGIN
			insert into @T
            SELECT docRest.Limit, docRest.ReferenceId FROM MD_DocumentCountRestriction docRest WITH(NOLOCK)
            WHERE RestrictionType = @restrictionType
              AND ReferenceId = @referenceId
              AND IsActive = 1
              AND (@warehouseNr IS NOT NULL OR WarehouseNr IS NULL)
              AND (@warehouseNr IS NULL OR WarehouseNr = @warehouseNr)
              AND OperationId = @operationId
              AND Firm = @firm
        END
    IF (@restrictionType = 3)
        BEGIN
			insert into @T
            SELECT docRest.Limit, docRest.ReferenceId FROM MD_DocumentCountRestriction docRest with(nolock)
            WHERE RestrictionType = @restrictionType
              AND ReferenceId in
                  (SELECT GroupId
                   FROM MD_ClientGroupInfo with(nolock)
                   WHERE GroupId in
                         (SELECT GroupId
                          FROM MD_ClientGroupData with(nolock)
                          WHERE GroupType = @groupType
                            AND ClientId = @referenceId)
                     AND GroupType = @groupType
                     AND IsDeleted = 0)
              AND IsActive = 1
              AND (@warehouseNr IS NOT NULL OR WarehouseNr IS NULL)
              AND (@warehouseNr IS NULL OR WarehouseNr = @warehouseNr)
              AND OperationId = @operationId
              AND Firm = @firm
        END
    RETURN;
END