ALTER PROCEDURE [dbo].[SP_WPM_GetUserGPSTracking] @userId INT, @givenDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF OBJECT_ID('tempdb..#UserGpsTrackingIds') IS NOT NULL
        DROP TABLE #UserGpsTrackingIds;

    CREATE TABLE #UserGpsTrackingIds
    (
        UserId INT NOT NULL PRIMARY KEY
    );

    INSERT INTO #UserGpsTrackingIds
    SELECT UserId
    FROM F_Hybrid_GetPermittedUsers(@userId);

    WITH UserGpsTracking AS (
        SELECT UserId,
               Timestamp,
               Latitude,
               Longitude,
               ROW_NUMBER() OVER (PARTITION BY UserId ORDER BY TimeStamp DESC) AS Position
        FROM (
                 SELECT ugd.UserId, ugd.CreatedDate Timestamp, ugd.CreatedLatitude Latitude, ugd.CreatedLongitude Longitude
                 FROM WPM_TaskTicket ugd WITH (NOLOCK)
                 WHERE CreatedDate >= @givenDate
                   AND CreatedDate < DateAdd(DAY, 1, @givenDate)
                   AND UserId IN (SELECT UserId FROM #UserGpsTrackingIds)

                 UNION ALL

                 SELECT ugd.UserId, ugd.GpsDate Timestamp, ugd.Latitude, ugd.Longitude
                 FROM OP_UserGpsData ugd WITH (NOLOCK)
                 WHERE GpsDate >= @givenDate
                   AND GpsDate < DateAdd(DAY, 1, @givenDate)
                   AND UserId IN (SELECT UserId FROM #UserGpsTrackingIds)

                 UNION ALL

                 SELECT route.UserId, Cast(route.[Date] AS DATETIME2) Timestamp, 0 AS Latitude, 0 AS Longitude
                 FROM MD_Route route WITH (NOLOCK)
                 WHERE Date >= @givenDate
                   AND Date < DateAdd(DAY, 1, @givenDate)
                   AND UserId IN (SELECT UserId FROM #UserGpsTrackingIds)
             ) t
    )
    SELECT ugt.UserId, TimeStamp, Latitude, Longitude, profiePhoto.SecureUrl as ProfilePhotoUrl
    FROM UserGpsTracking ugt
	left join AbpUserProfilePhoto profiePhoto on ugt.UserId = profiePhoto.UserId
    WHERE Position = 1
END