create function [dbo].[F_IM_GetTransferDemandsForUser](@userId int, @beginDate datetime, @endDate datetime)
    RETURNS TABLE
        AS RETURN
        -- Written by TayqaTech (Kanan Mammadov) on 08.05.2022
        -- This query returns the list of inventory transfer demands for user
        -- Ticket: TSC-3515

        select Demands.CreationTime                   as CreationTime,
               concat(Users.Name, ' ', Users.Surname) as CreatorUserFullName,
               Inventory.RegistrationNr               as InventoryNr,
			   Inventory.Firm					      as Firm,
               Items.Code                             as ItemCode,
               Items.Name                             as ItemName,
               IsDeliveryRequired                     as IsDeliveryRequired,
               FromClientId                           as FromClientId,
               ToClientId                             as ToClientId,
               ConfirmedDate                          as ConfirmedDate,
               Demands.Status                         as Status,
			   Demands.CreatorUserId				  as CreatorUserId,
			   Demands.Id							  as TransferDemandId,
			   Demands.UId							  as UId

        from IM_TransferDemand Demands with (nolock)
                 join AbpUsers Users with (nolock) on Demands.CreatorUserId = Users.Id and Users.IsDeleted = 0
                 join IM_Inventory Inventory with (nolock) on Inventory.Id = Demands.InventoryId
                 join MD_Item Items with (nolock) on Items.TigerId = Inventory.TigerId and Items.Firm = Inventory.Firm

        where Users.Id = @userId
          and Demands.CreationTime between @beginDate and @endDate and Demands.Status != 2