ALTER   FUNCTION [dbo].[F_WPM_GetPhotoGallery](@startDate date, @endDate date, @firm smallint, @userId int, @skipCount int, @takeCount int)
    Returns @Result Table
                    (
                        ClientCode      nvarchar(50),
                        ClientName      nvarchar(50),
                        CreatedUserName nvarchar(50),
                        LikeStatus      bit,
                        StarCount       tinyint,
                        PhotoAddress    nvarchar(1000),
                        SecureUrl       nvarchar(250),
                        Comment         nvarchar(50),
                        CreationDate    datetime,
                        Reason          nvarchar(50),
                        AttachmentId    int,
                        LikeUserId      int,
                        CommentUserId   int,
                        StarUserId      int,
                        SourceType      tinyint
                    )
AS
begin
    insert into @Result (ClientCode, ClientName, CreatedUserName, LikeStatus, StarCount, PhotoAddress, SecureUrl, Comment, CreationDate, Reason,
                         AttachmentId, LikeUserId, CommentUserId, StarUserId, SourceType)

    select *
    from (select Clients.Code           as ClientCode,
                 Clients.Name           as ClientName,
                 Users.UserName         as CreatedUserName,
                 Likes.Status           as LikeStatus,
                 Stars.StarCount        as StarCount,
                 Files.Url              as PhotoAddress,
                 Files.SecureUrl        as SecureUrl,
                 Comments.Comment       as Comment,
                 Files.CreatedDate      as CreationDate,
                 Reasons.Description    as Reason,
                 Files.Id               as AttachmentId,
                 Likes.CreatorUserId    as LikeUserId,
                 Comments.CreatorUserId as CommentUserId,
                 Stars.CreatorUserId    as StarUserId,
                 2                      as SourceType
          from WPM_Attachment Files

                   join WPM_TaskTicketAction Reference on Files.ReferenceId = reference.Id
                   join WPM_TaskTicket Tickets on Tickets.Id = Reference.TaskTicketId
                   join MD_Client Clients on Clients.TigerId = Tickets.ClientId and Clients.Firm = Tickets.Firm and Clients.Firm = @firm
                   join AbpUsers Users on Users.Id = Tickets.UserId
                   join F_UIM_GetOrganizationTreeUsers(@userId) StructureUsers on StructureUsers.UserId = Users.Id
                   left join MD_PhotoLike Likes on Likes.ReferenceId = Files.Id
                   left join MD_PhotoStar Stars on files.Id = Stars.ReferenceId
                   left join MD_PhotoComment Comments on files.Id = Comments.ReferenceId
                   left join MD_StopReason Reasons on Reasons.Id = Comments.ReasonId

          where cast(Files.CreatedDate as date) between @startDate and @endDate
            and Files.Type = 3

          union all

          select Clients.Code           as ClientCode,
                 Clients.Name           as ClientName,
                 Users.UserName         as CreatedUserName,
                 Likes.Status           as LikeStatus,
                 Stars.StarCount        as StarCount,
                 Files.Url              as PhotoAddress,
                 Files.SecureUrl        as SecureUrl,
                 Comments.Comment       as Comment,
                 Files.CreatedDate      as CreationDate,
                 Reasons.Description    as Reason,
                 Files.Id               as AttachmentId,
                 Likes.CreatorUserId    as LikeUserId,
                 Comments.CreatorUserId as CommentUserId,
                 Stars.CreatorUserId    as StarUserId,
                 1                      as SourceType
          from CHL_Attachment Files with (nolock)
                   join CHL_UserSurveyResponseDetail Reference with (nolock) on Reference.Id = Files.ReferenceId
                   join CHL_UserSurveyResponse Response with (nolock) on Response.Id = UserSurveyResponseId
                   join AbpUsers Users with (nolock) on Users.Id = Response.UserId
                   join MD_Client Clients with (nolock)
                        on Clients.TigerId = Response.ClientId and Clients.Firm = Response.Firm and Clients.Firm = @firm
                   join F_UIM_GetOrganizationTreeUsers(@userId) ou on ou.UserId = Users.Id
                   left join MD_PhotoLike Likes on Likes.ReferenceId = Files.Id
                   left join MD_PhotoStar Stars on Stars.ReferenceId = Files.Id
                   left join MD_PhotoComment Comments on Comments.ReferenceId = Files.Id
                   left join MD_StopReason Reasons on Reasons.Id = Comments.ReasonId

          where Files.Type = 3
            and cast(Files.CreatedDate as date) between @startDate and @endDate) Result

    order by CreationDate desc
    offset @skipCount rows fetch next @takeCount rows only

    return
end