CREATE FUNCTION [F_WPM_GetTaskSummary](@startDate datetime, @endDate datetime, @userId int)
    Returns Table
        AS
        RETURN

		-- Author: TayqaTech for TayqaSale (Kanan Mammadov)
		-- Ticket: TSC-3560
		-- Date: 21.05.2022
		-- Description: The query returns task summary counts for users

        select TreeUsers.UserId                                                                      as UserId,
               sum(iif(Tickets.Id is null, 1, 0))                                                    as PendingTasks,
               sum(iif(Tickets.CreatedDate is not null and Tickets.FinalizedDate is null, 1, 0))     as InProgressTasks,
               sum(iif(Tickets.CreatedDate is not null and Tickets.FinalizedDate is not null, 1, 0)) as CompletedTasks
        from WPM_UserTask TaskUsers
                 join F_UIM_GetOrganizationTreeUsers(@UserId) TreeUsers
                      on TreeUsers.UserId = TaskUsers.UserId and TaskUsers.Status = 0
                 join WPM_Task Tasks on Tasks.Id = TaskUsers.TaskId and Tasks.IsDeleted = 0 and Tasks.Type = 1
                 join WPM_TaskClient Clients on TaskUsers.TaskId = Clients.TaskId
                 join WPM_TaskSchedule Schedule on Schedule.TaskId = Clients.TaskId and Schedule.PeriodType = 1
                 left join WPM_TaskTicket Tickets with (nolock)
                           on Tickets.Firm = Tasks.Firm and Tickets.TaskId = Tasks.Id and
                              Tickets.UserId = TreeUsers.UserId and
                              Tickets.ClientId = Clients.ClientId

        where (@startDate between cast(Schedule.StartDate as date) and cast(Schedule.EndDate as date))
           or (@endDate between cast(Schedule.StartDate as date) and cast(Schedule.EndDate as date))


        group by TreeUsers.UserId
go