CREATE PROCEDURE [dbo].[SP_UIM_DeleteAuthTokenByPasswordExpiredDate] 
AS
BEGIN
    delete  from UIM_UserAuthToken 
	from UIM_UserAuthToken auth	
		join AbpUsers users on auth.UserId = users.Id
	where 
		users.PasswordExpiredDay < (DATEDIFF(DAY, users.PasswordModifiedDate, GETDATE()) + 1)
END
