CREATE   FUNCTION [dbo].[F_WPM_GetTaskSummaryDetailLine](@taskTicketId int)
    Returns Table
        AS
        RETURN

		-- Author: TayqaTech for TayqaSale (Kanan Mammadov)
		-- Ticket: TSC-3560
		-- Date: 21.05.2022
		-- Description: The query returns task details for the selected user

        select TaskActions.OrderNo         as ActionOrderNo,
               TaskActions.ActionType      as ActionType,
               TaskActions.Message         as ActionMessage,
               TicketActions.Id            as ActionId,
               TicketActions.CreatedDate   as StartDate,
               TicketActions.FinalizedDate as EndDate
        from WPM_TaskAction TaskActions
                 join WPM_TaskTicketAction TicketActions on TaskActions.Id = TicketActions.ActionId

    where TicketActions.TaskTicketId = @taskTicketId
go