CREATE FUNCTION [dbo].[F_WPM_GetTaskSummaryDetail](@startDate datetime, @endDate datetime, @userId int)
    Returns Table
        AS
        RETURN

		-- Author: TayqaTech for TayqaSale (Kanan Mammadov)
		-- Ticket: TSC-3560
		-- Date: 21.05.2022
		-- Description: The query returns task details for the selected user

        select Tasks.Name            as TaskCode,
               Tasks.Message         as TaskMessage,
               Tickets.Id            as TaskTicketId,
               Tasks.CreatedDate     as TaskCreatedDate,
               Clients.TigerId       as ClientId,
               Clients.Code          as ClientCode,
               Clients.Name          as ClientName,
               case
                   when Tickets.Id is null then 0
                   when Tickets.CreatedDate is not null and Tickets.FinalizedDate is null then 1
                   when Tickets.CreatedDate is not null and Tickets.FinalizedDate is not null then 2
                   end               as Status,
               Tickets.CreatedDate   as StartDate,
               Tickets.FinalizedDate as EndDate

        from WPM_UserTask TaskUsers
                 join WPM_Task Tasks on Tasks.Id = TaskUsers.TaskId and Tasks.IsDeleted = 0 and Tasks.Type = 1
                 join WPM_TaskClient TaskClients on TaskUsers.TaskId = TaskClients.TaskId
                 join MD_Client Clients
                      on Clients.TigerId = TaskClients.ClientId and Clients.Firm = Tasks.Firm and Clients.IsDeleted = 0
                 join WPM_TaskSchedule Schedule on Schedule.TaskId = Tasks.Id and Schedule.PeriodType = 1
                 left join WPM_TaskTicket Tickets with (nolock)
                           on Tickets.TaskId = Tasks.Id and Tickets.ClientId = Clients.TigerId and
                              Tickets.UserId = @userId

        where TaskUsers.UserId = @UserId
          and (cast(Schedule.StartDate as date) <= cast(@startDate as date)
            or cast(Schedule.EndDate as date) >= cast(@endDate as date))
          and cast(Schedule.EndDate as date) >= cast(@endDate as date)
go