ALTER FUNCTION [dbo].[F_IM_GetInventoryFullHistoryReport](@inventoryId int, @startDate datetime null, @endDate datetime null)
returns   table
as 
return 
SELECT * FROM (
(
	SELECT 
	transferDemand.Id as OperationId,
	inventory.Id as InventoryId,
	fromClient.Code+' -> '+ toClient.Code as ClientCode,
	fromClient.Name+' -> '+ toClient.Name as ClientName,
	transferDemand.CreationTime as CreatedDate,
	transferDemand.CompletedDate as EndDate,
	creatorUser.UserName as UserName, 
	CAST(1 as tinyint) as OperationType,
	'TransferDemand' as SourceType,
	CASE 
		WHEN (SELECT COUNT(*) FROM IM_TransferDemandImages WHERE IM_TransferDemandImages.TransferDemandId=transferDemand.Id)>0 THEN CONVERT(Bit,1)
		ELSE CONVERT(Bit,0)
	END as HasImages
	FROM IM_Inventory inventory WITH(NOLOCK)
	JOIN IM_TransferDemand transferDemand WITH(NOLOCK) ON inventory.Id = transferDemand.InventoryId
	JOIN MD_Client toClient WITH(NOLOCK) ON transferDemand.ToClientId = toClient.TigerId AND inventory.Firm = toClient.Firm
	JOIN MD_Client fromClient WITH(NOLOCK) ON transferDemand.FromClientId = fromClient.TigerId AND inventory.Firm = fromClient.Firm
	LEFT JOIN AbpUsers creatorUser WITH(NOLOCK) on transferDemand.CreatorUserId = creatorUser.Id
)

UNION

(
	SELECT 
	id.Id as OperationId,
	inv.Id as InventoryId,
	c.Code as ClientCode,
	c.Name as ClientName,
	id.CreationTime as CreatedDate,
	id.CompletedDate as EndDate,
	creatorUser.UserName as UserName, 
	id.DemandType as OperationType,
	'InventoryDemand' as SourceType,

	CASE 
		WHEN (SELECT COUNT(*) FROM IM_InventoryDemandImage WHERE IM_InventoryDemandImage.InventoryDemandId=id.Id)>0 THEN CONVERT(Bit,1)
		ELSE CONVERT(Bit,0)
	END as HasImages

	FROM IM_Inventory inv WITH(NOLOCK)
	JOIN MD_Item i WITH(NOLOCK) on inv.Firm=i.Firm AND inv.TigerId=i.TigerId
	JOIN IM_InventoryDemandInventoryMapping idm WITH(NOLOCK) on idm.InventoryId=inv.Id
	JOIN IM_InventoryDemand id WITH(NOLOCK) on idm.InventoryDemandId = id.Id
	JOIN MD_Client c WITH(NOLOCK) on id.Firm=c.Firm AND id.ClientTigerId=c.TigerId
	LEFT JOIN AbpUsers creatorUser WITH(NOLOCK) on id.CreatorUserId = creatorUser.Id
)
UNION 
(
	SELECT 
	stateHistory.Id as OperationId,
	inv.Id as InventoryId,
	c.Code as ClientCode,
	c.Name as ClientName,
	stateHistory.CreatedDate as CreatdedDate,
	stateHistory.CreatedDate as EndDate,
	creatorUser.UserName as UserName,
	stateHistory.StateHistoryType as OperationType,
	'InventoryStateHistory' as SourceType,

	CASE 
		WHEN (SELECT COUNT(*) FROM IM_InventoryStateHistoryImage WHERE IM_InventoryStateHistoryImage.InventoryStateHistoryId=stateHistory.Id)>0 THEN CONVERT(Bit,1) 
		ELSE CONVERT(Bit,0)
	END as HasImages

	FROM IM_InventoryStateHistory stateHistory WITH(NOLOCK)
	JOIN IM_Inventory inv WITH(NOLOCK) on stateHistory.InventoryId=inv.Id
	JOIN MD_Item i WITH(NOLOCK) on inv.Firm=i.Firm AND inv.TigerId=i.TigerId
	JOIN MD_Client c WITH(NOLOCK) on stateHistory.ClientTigerId=c.TigerId AND stateHistory.Firm=c.Firm
	LEFT JOIN AbpUsers creatorUser WITH(NOLOCK) on stateHistory.CreatorUserId = creatorUser.Id
)
) FullHistoryReport

WHERE
FullHistoryReport.InventoryId=@inventoryId
AND (@startDate Is NULL OR FullHistoryReport.CreatedDate>=@startDate)
AND (@endDate Is NULL OR FullHistoryReport.CreatedDate<=@endDate)