Create FUNCTION [dbo].[F_WPM_GetTaskSummaryAttachment](@actionId int)
    Returns Table
        AS
        RETURN

		-- Author: TayqaTech for TayqaSale (Kanan Mammadov)
		-- Ticket: TSC-3560
		-- Date: 21.05.2022
		-- Description: The query returns task details for the selected user

        select TaskActions.ActionType as AttachmentType,
               case ActionType
                   when 9 then SurveyName
                   when 1 then Images.SecureUrl
                   else TaskActions.Message
                   end    as AttachmentDescription
        from WPM_TaskAction TaskActions
                 join WPM_TaskTicketAction TicketActions
                      on TaskActions.Id = TicketActions.ActionId
                 left join WPM_Attachment Images on Images.ReferenceId = TicketActions.Id and Images.Type = 3
                 left join (select TaskId,
                                   WPM_TaskAction.Id,
                                   Surveys.Name                     as SurveyName,
                                   json_value(Params, '$.surveyId') as SurveyId
                            from WPM_TaskAction
                                     join CHL_Survey Surveys on Surveys.Id = json_value(Params, '$.surveyId')
                            where ActionType = 9) Survey on Survey.TaskId = TaskActions.TaskId and Survey.Id = TaskActions.Id
        where TicketActions.Id = @actionId
