CREATE FUNCTION F_MD_GetDocumentCountForDocumentCountRestriction (@referenceId int, @restrictionType tinyint, @operationId tinyint, @firm smallint, @groupType smallint, @warehouseNr int = NULL, @userId int)
RETURNS float
AS
BEGIN
  IF (@restrictionType = 1)
  BEGIN
    RETURN (SELECT
      SUM(ss.DocumentCount) AS Counts
    FROM (SELECT
      COUNT(*) AS DocumentCount
    FROM OP_IncomingLog i WITH (NOLOCK)
    JOIN OP_GeneralLog g WITH (NOLOCK)
      ON i.Id = g.RequestId
      AND i.UserId = @referenceId
      AND i.Firm = @firm
      AND g.ImportResult = 0
      AND DocType = (@operationId - 1)
    LEFT JOIN OP_IncomingLogCommonExtension logex WITH (NOLOCK)
      ON logex.Id = i.Id
    WHERE (@warehouseNr IS NOT NULL
    OR logex.WhouseNr IS NULL)
    AND (@warehouseNr IS NULL
    OR logex.WhouseNr = @warehouseNr)
    AND i.RegisteredDate >= DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE()))
    AND g.RegisteredDate >= DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE()))
    UNION ALL
    SELECT
      COUNT(*)
    FROM OP_RequestQueue r WITH (NOLOCK)
    LEFT JOIN OP_RequestQueueCommonExtension rc WITH (NOLOCK)
      ON rc.Id = r.Id
      AND r.UserId = @referenceId
      AND r.Firm = @firm
	  
      AND r.DocType = (@operationId - 1)
    WHERE (@warehouseNr IS NOT NULL
    OR rc.WhouseNr IS NULL)
    AND (@warehouseNr IS NULL
    OR rc.WhouseNr = @warehouseNr)
    AND r.RegisteredDate >= DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())) AND R.Step = 20) AS ss)
  END
  IF (@restrictionType = 2)
  BEGIN
    RETURN (SELECT
      SUM(ss.DocumentCount) AS Counts
    FROM (SELECT
      COUNT(*) AS DocumentCount
    FROM OP_IncomingLog i WITH (NOLOCK)
    JOIN OP_GeneralLog g WITH (NOLOCK)
      ON i.Id = g.RequestId
      AND i.ClientId = @referenceId
      AND i.Firm = @firm
      AND i.UserId = @userId
      AND g.ImportResult = 0
      AND DocType = (@operationId - 1)
    LEFT JOIN OP_IncomingLogCommonExtension logex WITH (NOLOCK)
      ON logex.Id = i.Id
    WHERE (@warehouseNr IS NOT NULL
    OR logex.WhouseNr IS NULL)
    AND (@warehouseNr IS NULL
    OR logex.WhouseNr = @warehouseNr)
    AND i.RegisteredDate >= DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE()))
    AND g.RegisteredDate >= DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE()))
    UNION ALL
    SELECT
      COUNT(*)
    FROM OP_RequestQueue r WITH (NOLOCK)
    LEFT JOIN OP_RequestQueueCommonExtension rc WITH (NOLOCK)
      ON rc.Id = r.Id
      AND r.ClientId = @referenceId
      AND r.Firm = @firm
      AND r.UserId = @userId
      AND r.DocType = (@operationId - 1)
    WHERE (@warehouseNr IS NOT NULL
    OR rc.WhouseNr IS NULL)
    AND (@warehouseNr IS NULL
    OR rc.WhouseNr = @warehouseNr)
    AND r.RegisteredDate >= DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())) AND R.Step = 20) AS ss)
  END
  IF (@restrictionType = 3)
  BEGIN
    RETURN (SELECT
      SUM(ss.DocumentCount) AS Counts
    FROM (SELECT
      COUNT(*) AS DocumentCount
    FROM OP_IncomingLog i WITH (NOLOCK)
    JOIN OP_GeneralLog g WITH (NOLOCK)
      ON i.Id = g.RequestId
      AND i.ClientId in (select distinct j2.ClientId from MD_ClientGroupData j1
	join MD_ClientGroupData j2 on j1.GroupId = j2.GroupId and j1.GroupType = j2.GroupType and j1.Firm = j2.Firm
                          WHERE j1.GroupType = @groupType AND j1.ClientId = @referenceId and j1.Firm = @firm)
      AND i.Firm = @firm
      AND i.UserId = @userId
      AND g.ImportResult = 0
      AND DocType = (@operationId - 1)
    LEFT JOIN OP_IncomingLogCommonExtension logex WITH (NOLOCK)
      ON logex.Id = i.Id
    WHERE (@warehouseNr IS NOT NULL
    OR logex.WhouseNr IS NULL)
    AND (@warehouseNr IS NULL
    OR logex.WhouseNr = @warehouseNr)
    AND i.RegisteredDate >= DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE()))
    AND g.RegisteredDate >= DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE()))
    UNION ALL
    SELECT
      COUNT(*)
    FROM OP_RequestQueue r WITH (NOLOCK)
    LEFT JOIN OP_RequestQueueCommonExtension rc WITH (NOLOCK)
      ON rc.Id = r.Id
      AND r.ClientId in (select distinct j2.ClientId from MD_ClientGroupData j1
	join MD_ClientGroupData j2 on j1.GroupId = j2.GroupId and j1.GroupType = j2.GroupType and j1.Firm = j2.Firm
                          WHERE j1.GroupType = @groupType AND j1.ClientId = @referenceId and j1.Firm = @firm)
      AND r.Firm = @firm
      AND r.UserId = @userId
      AND r.DocType = (@operationId - 1)
    WHERE (@warehouseNr IS NOT NULL
    OR rc.WhouseNr IS NULL)
    AND (@warehouseNr IS NULL
    OR rc.WhouseNr = @warehouseNr)
    AND r.RegisteredDate >= DATEADD(dd, 0, DATEDIFF(dd, 0, GETDATE())) AND R.Step = 20) AS ss)
  END
  RETURN 0
END