
CREATE   PROCEDURE [dbo].[SP_CM_GetCampaignTargetList] @divisionNr int, @clientId bigint, @salesmanId int,
                                                        @specode nvarchar(100), @authcode nvarchar(100), @processDate date
AS
BEGIN

        select Campaign.TargetaAudiancesSimpleRelationType as RelationType,
               Campaign.TargetaAudiancesComplexRelationString as ComplexRelationString,
               Campaign.Id,
               Campaign.Firm,
               DivisionSelectionType,
               Division,
               ClientSelectionType,
               ClientId,
               SalesmanSelectionType,
               SalesmanId,
               SpecodeSelectionType,
               Specode.Specode,
               GroupSelectionType,
               GroupId,
               AuthcodeSelectionType,
               Authcode
        from CM_Campaign Campaign with (nolock)

                 -- Divisions
                 left join (select Campaign.Id as CampaignId, ReferanceId as Division, Audiance.SelectionType as DivisionSelectionType
                            from CM_Campaign Campaign with(nolock)
                                     join CM_CampaignTargetAudiance  Audiance with(nolock) on Campaign.Id = Audiance.CampaignId 
                                     join CM_CampaignTargetAudianceLine Lines with(nolock) on Lines.TargetAudianceId = Audiance.Id
                            where AudianceType = 8
                              and Campaign.IsActive = 1) Division
                           on Division.CampaignId = Campaign.Id

            -- Clients
                 left join (select Campaign.Id as CampaignId, ReferanceId as ClientId, Audiance.SelectionType as ClientSelectionType
                            from CM_Campaign Campaign with(nolock)
                                     join CM_CampaignTargetAudiance Audiance with(nolock) on Campaign.Id = Audiance.CampaignId
                                     join CM_CampaignTargetAudianceLine Lines with(nolock) on Lines.TargetAudianceId = Audiance.Id
                            where AudianceType = 9
                              and Campaign.IsActive = 1  ) Clients
                           on Clients.CampaignId = Campaign.Id

            -- Client groups
                 left join (select Campaign.Id    as CampaignId,
                                   Groups.GroupId as GroupId,
                                   Audiance.SelectionType              as GroupSelectionType
                            from CM_CampaignTargetAudiance Audiance with (nolock)
                                     join CM_Campaign Campaign with (nolock) on Campaign.Id = Audiance.CampaignId
                                     join CM_CampaignTargetAudianceLine Lines with (nolock) on Audiance.Id = Lines.TargetAudianceId
                                     join MD_ClientGroupInfo Groups with (nolock)
                                          on Groups.Firm = Campaign.Firm and Audiance.AudianceType = 10 -- and Groups.GroupType = 9
                                              and Groups.Id = Lines.ReferanceId and Groups.Firm = Campaign.Firm) Groups
                           on Groups.CampaignId = Campaign.Id


            -- Salesman
                 left join (select Campaign.Id as CampaignId, ReferanceId as SalesmanId, Audiance.SelectionType as SalesmanSelectionType
                            from CM_Campaign Campaign with(nolock)
                                     join CM_CampaignTargetAudiance Audiance with(nolock) on Campaign.Id = Audiance.CampaignId
                                     join CM_CampaignTargetAudianceLine Lines with(nolock) on Lines.TargetAudianceId = Audiance.Id
                            where AudianceType = 11
                              and Campaign.IsActive = 1 
							  ) Salesman
                           on Salesman.CampaignId = Campaign.Id

            -- Specode
                 left join (select Campaign.Id as CampaignId, Value as Specode, Audiance.SelectionType as SpecodeSelectionType
                            from CM_Campaign Campaign with(nolock)
                                     join CM_CampaignTargetAudiance Audiance with(nolock) on Campaign.Id = Audiance.CampaignId
                                     join CM_CampaignTargetAudianceLine Lines with(nolock) on Lines.TargetAudianceId = Audiance.Id
                            where AudianceType = 6
                              and Campaign.IsActive = 1 ) Specode
                           on Specode.CampaignId = Campaign.Id

            -- Authcode
                 left join (select Campaign.Id as CampaignId, Value as Authcode, Audiance.SelectionType as AuthcodeSelectionType
                            from CM_Campaign Campaign with(nolock)
                                     join CM_CampaignTargetAudiance Audiance with(nolock) on Campaign.Id = Audiance.CampaignId
                                     join CM_CampaignTargetAudianceLine Lines with(nolock) on Lines.TargetAudianceId = Audiance.Id
                            where AudianceType = 7
                              and Campaign.IsActive = 1 ) Authcode
                           on Authcode.CampaignId = Campaign.Id

        where (@processDate between StartDate and EndDate or @processDate is null)
          and IsActive = 1

    end