<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="veyseloglu"/>
    <Version value="v2.92"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\RequestProcessor\{version}\requestProcessor.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASVO;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaSaleDbSecondary value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASVO;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60;"/>
  </databaseParameters>
  <additionalParameters>
    <RouteDaysBefore value="7"/>
    <RouteDaysAfter value="14"/>
    <RestoreOperationDays value="30"/>
	<DeliveryConsiderMasterDataDays value="30"/>
    <SalesmanSource value="UserSalesmanMapping"/>
    <CatalogImagesPath value="C:\TayqaSale\AppDownloads\{environment}\ImageZips\"/>
    <ERPIntegratorVersion value="V1.10"/>
    <UseMasterDataTimeStamp value="false"/>
    <ImplementedClient value="Veyseloglu"/>
    <AllowedOrderLineCount value="20"/>
  </additionalParameters>
</configuration>
