<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section" />
    <section name="logParameters" type="section" />
    <section name="databaseParameters" type="section" />
  </configSections>
  <commonParameters>
    <Version value="V1.30" />
    <Environment value="veyseloglu" />
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\Logs\{environment}\{version}\tayqasaleMasterDataSyncScheduler.txt" />
    <LogLevel value="2" />
    <FileSizeInMB value="10" />
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASVO;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60;" />
  </databaseParameters>
  <additionalParameters>
    <AuthToken value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIzIiwidW5pcXVlX25hbWUiOiJzZXJ2aWNlX3VzZXIiLCJuYmYiOjE1Njc5OTg1MjIsImV4cCI6MTU5OTEwMjUyMiwiaWF0IjoxNTY3OTk4NTIyLCJpc3MiOiJodHRwOi8vdmV5c2Vsb2dsdS5heiIsImF1ZCI6Imh0dHA6Ly92ZXlzZWxvZ2x1LmF6In0.0A0cqMsKA4RDn-0Vf3GHRnvdSV40rzwTR3fPExGYyds" />
    <MaximumTryCounterForService value="10" />
    <AllowedProcessingUnitPerMinute value="10" />
    <CheckWebSyncServiceTestUrl value="http://VOTAYQAWEB02.veyseloglu.az:1110/veyseloglu/V2.10/TigerVeyseloglu/SyncSalesMan" />
    <CheckWebSyncServiceTestUrlParams value="{&quot;Firms&quot;: [150]}" />
  </additionalParameters>
</configuration>