


CREATE FUNCTION [dbo].[FN_TS_Report_GetAllSalesmanFinalizedItemExtract_XXX_YY](@beginDate DATETIME, @endDate DATETIME)
    RETURNS TABLE
        AS RETURN
            (
                SELECT t.ItemCode, 
					   t.ItemName, 
					   t.ItemId, 

					   t.GrossQuantity, 
					   t.ReturnQuantity, 
					   t.NetQuantity, 
					   t.PromoQuantity,
					   t.SalesmanRef,
                       
					   t.SalesmanCode,
					   t.SalesmanName,

                       t.GrossAmount GrossAmount, 
					   t.ReturnAmount ReturnAmount, 
					   t.NetAmount NetAmount, 
					   t.PromoAmount PromoAmount,

					   t.GrossQuantity * t.WEIGHT GrossWeight,
					   t.ReturnQuantity * t.WEIGHT ReturnWeight,
					   t.NetQuantity * t.WEIGHT NetWeight,
					   t.PromoQuantity * t.WEIGHT PromoWeight
					   
					   ,'AZN' As CurrencyCode
                FROM (
                         SELECT ITEMS.CODE			AS ItemCode,
								man.DEFINITION_		AS SalesmanName,  
								man.CODE			AS SalesmanCode, 
								ITEMS.NAME			AS ItemName, 
								LINE.SALESMANREF	AS SalesmanRef, 
								ITEMS.LOGICALREF	AS ItemId,
								mun1.GROSSWEIGHT	AS WEIGHT,
                                ROUND(SUM((IIF(LINE.LINETYPE IN (0, 6), 1, 0)) * (IIF(LINE.TRCODE IN (7, 8), 1, 0)) * LINE.AMOUNT *
                                          ((IIF(LINE.UINFO2 = 0, 1, LINE.UINFO2)) / (IIF(LINE.UINFO1 = 0, 1, LINE.UINFO1)))), 2) AS GrossQuantity,

                                ROUND(SUM((IIF(LINE.TRCODE IN (2, 3), 1, 0)) * LINE.AMOUNT *
                                          ((IIF(LINE.UINFO2 = 0, 1, LINE.UINFO2)) / (IIF(LINE.UINFO1 = 0, 1, LINE.UINFO1)))), 2) AS ReturnQuantity,

                                ROUND(SUM((IIF(LINE.LINETYPE IN (0, 6), 1, 0)) * (IIF(LINE.TRCODE IN (7, 8), 1, -1)) * LINE.AMOUNT *
                                          ((IIF(LINE.UINFO2 = 0, 1, LINE.UINFO2)) / (IIF(LINE.UINFO1 = 0, 1, LINE.UINFO1)))), 2) AS NetQuantity,

                                ROUND(SUM((IIF(LINE.LINETYPE IN (1), 1, 0)) * (IIF(LINE.TRCODE IN (7, 8), 1, 0)) * LINE.AMOUNT *
                                          ((IIF(LINE.UINFO2 = 0, 1, LINE.UINFO2)) / (IIF(LINE.UINFO1 = 0, 1, LINE.UINFO1)))), 2) AS PromoQuantity,

								ROUND(SUM((IIF(LINE.LINETYPE IN (0, 6), 1, 0)) * (IIF(LINE.TRCODE IN (7, 8), 1, 0)) * LINE.VATMATRAH), 2) AS GrossAmount,

                                ROUND(SUM((IIF(LINE.TRCODE IN (2, 3), 1, 0)) * LINE.VATMATRAH ), 2) AS ReturnAmount,

                                ROUND(SUM((IIF(LINE.LINETYPE IN (0, 6), 1, 0)) * (IIF(LINE.TRCODE IN (7, 8), 1, -1)) * LINE.VATMATRAH ), 2) AS NetAmount,

                                ROUND(SUM((IIF(LINE.LINETYPE IN (1), 1, 0)) * (IIF(LINE.TRCODE IN (7, 8), 1, 0)) * LINE.VATMATRAH ), 2) AS PromoAmount

                         FROM LG_XXX_YY_STLINE LINE WITH (NOLOCK)
                                  INNER JOIN LG_XXX_ITEMS ITEMS WITH (NOLOCK) ON ITEMS.LOGICALREF = LINE.STOCKREF
								  INNER JOIN LG_XXX_ITMUNITA mun1 WITH (NOLOCK) ON mun1.ITEMREF = LINE.STOCKREF AND mun1.LINENR = 1
								  LEFT JOIN lg_slsman man on man.logIcalref=LINE.salesmanref and man.FIRMNR=9
                         WHERE LINE.CANCELLED = 0
                           AND LINE.STATUS = 0
                           AND LINE.LINETYPE IN (0, 1, 6)
                           AND LINE.TRCODE IN (2, 3, 7, 8)
                           AND LINE.DATE_ >= @beginDate
                           AND LINE.DATE_ <= @endDate
                         GROUP BY ITEMS.CODE, ITEMS.NAME, ITEMS.LOGICALREF, LINE.SALESMANREF, mun1.GROSSWEIGHT,man.CODE, man.DEFINITION_) t
            )


GO


