DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
INSERT INTO SYS_PushMethod
VALUES ('ReturnDispatchRejected', 'Return Dispatch Rejected', null, null, 1, 3, 1, null, null, 2, GETDATE(), @Id + 1)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
INSERT INTO SYS_PushMethod
VALUES ('ReturnInvoiceRejected', 'Return Invoice Rejected', null, null, 1, 3, 1, null, null, 2, GETDATE(), @Id + 1)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
INSERT INTO SYS_PushMethod
VALUES ('SaleDispatchRejected', 'Sale Dispatch Rejected', null, null, 1, 3, 1, null, null, 2, GETDATE(), @Id + 1)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
GO
DECLARE
@Id SMALLINT
SET @Id = (SELECT MAX(Id)
           FROM SYS_PushMethod)
