
create procedure [dbo].[SP_SPEC_GetVisitData]
(
	@startDate datetime,
	@endDate datetime,
	@pageNumber int,
	@pageCount int output
)
As
Begin

	declare @value float = (select cast(count(*) as float) from SPEC_ExternalVisit 
					  where CreatedDate between convert(date, @startDate, 120) and convert(date, @endDate, 120)) / 10000

	set @pageCount = cast(@value as int)

	if floor(@value) <> ceiling(@value)
	begin
		set @pageCount += 1
	end

	select visit.AuditId,
		   visit.SalesPointId,
		   p.ProductCode,
		   0 as SalesAmount
	from SPEC_ProductInfo p
		join (select * from SPEC_ExternalVisit v 
			  order by v.Id offset (@pageNumber - 1) * 10000 rows fetch next 10000 rows only) as visit
			  on visit.AuditId = p.AuditId
	where visit.CreatedDate >= convert(date, @startDate, 120)
		and visit.CreatedDate <= convert(date, @endDate, 120)
		
End

go