
ALTER PROCEDURE [dbo].[SP_MD_GetClientRouteDatesData] @userId INT, @beginDate DATE, @endDate DATE, @firm SMALLINT = 0, @clientId INT = 0
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    SET @sql = 'SELECT R.Firm, R.TigerClientId, R.Date, R.ClientOrderNo
                FROM MD_Route R WITH (NOLOCK)
                         INNER JOIN F_GetPermittedClientForUser(@userId) PClient ON (PClient.ClientId = R.TigerClientId AND PClient.Firm = R.Firm AND R.UserId = PClient.UserId)
                         INNER JOIN MD_Client Client ON Client.TigerId = PClient.ClientId AND Client.Firm = PClient.Firm
                WHERE PClient.UserId = @userId
                  AND R.Status = 0
                  AND R.Date >= @beginDate
                  AND R.Date <= @endDate';

    IF (@firm > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND PClient.Firm=@firm')
        END

    IF (@clientId > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND PClient.ClientId=@clientId');
        END

    EXEC sp_executesql @sql, N'@userId INT, @firm SMALLINT, @clientId INT, @beginDate DATE, @endDate DATE',
         @userId = @userId, @firm = @firm, @clientId = @clientId, @beginDate = @beginDate, @endDate = @endDate

END
