
Create   FUNCTION [dbo].[F_UIM_GetOrganizationUserParentswithoutHeader](
)
    RETURNS TABLE
        AS
        RETURN
            (
                with organizations as                                       -- organization tree CTE
                         (select ParentId as orgParent, Id as orgChild, 1 as orgLevel
                          from AbpOrganizationUnits
                          where IsDeleted = 0
                          union all
                          select d.orgParent, s.Id, d.orgLevel + 1
                          from organizations as d
                                   join AbpOrganizationUnits s on d.orgChild = s.ParentId
                          where s.IsDeleted = 0),

                     userOrganizationUnit as
                         (select distinct uou.UserId ParentUserId, uou1.UserId
                          from organizations ou
                                   JOIN AbpUserOrganizationUnits uou on ou.orgParent = uou.OrganizationUnitId
                                   JOIN AbpUserOrganizationUnits uou1 on ou.orgChild = uou1.OrganizationUnitId
                          where uou.IsDeleted = 0
                            and uou1.IsDeleted = 0
                            and ( uou.UserId IN
                                                         (select distinct uou1.UserId
                                                          from organizations ou
                                                                   JOIN AbpUserOrganizationUnits uou on ou.orgParent = uou.OrganizationUnitId
                                                                   JOIN AbpUserOrganizationUnits uou1 on ou.orgChild = uou1.OrganizationUnitId
                                                          where uou.IsDeleted = 0
                                                            and uou1.IsDeleted = 0))),

                     usertypes as                                           -- user type tree CTE
                         (select ParentId as typeParent, Id as typeChild, 1 as typeLevel
                          from UIM_UserType
                          union all
                          select d.typeParent, s.Id, d.typeLevel + 1
                          from usertypes as d
                                   join UIM_UserType s on d.typeChild = s.ParentId)

                     -- Query Begins
                select distinct ou.ParentUserId, ou.UserId
                from userOrganizationUnit ou
                         join
                     (select tt.Id as TypeId, tt.Type as ParentType, ut.UserId
                      from UIM_UserTypeUserMapping ut
                               join
                           (select t.Id as typeParent, t.Id as typeChild, 1 as typeLevel
                            from UIM_UserType t                             -- selecting item as tree item
                            union all
                            select typeParent, typeChild, typeLevel
                            from usertypes
                            where typeParent is not null) d
                           on ut.UserTypeId = d.typeChild
                               join UIM_UserType tt on tt.Id = d.typeParent -- for getting type name
                               join AbpUsers u on u.Id = ut.UserId and u.IsDeleted = 0
                      where Type in ('App', 'Hybrid')) ubt on ou.UserId = ubt.UserId and ou.ParentUserId != ou.UserId
                
            )
