CREATE    Function [dbo].[FN_TS_Report_GetSalesmanSaleSummary_XXX_YY](@beginDate datetime, @endDate datetime)
    RETURNS TABLE
        AS RETURN
            (
                WITH ORDERS AS (
                    SELECT SALESMANREF   as SalesmanId,
                           ORD.DATE_     as Date,
                           SUM(NETTOTAL) As OrderNetTotal
                    FROM LG_XXX_YY_ORFICHE ORD WITH (NOLOCK)
                    WHERE DATE_ BETWEEN @beginDate AND @endDate
                    GROUP BY SALESMANREF, ORD.DATE_),

                     SALEOPS AS (
                         SELECT CLFLINE.SALESMANREF                                                 AS SalesmanId,
                                DATE_                                                               AS Date,
                                ROUND(ISNULL(ORDERS.OrderNetTotal, 0), 2)                           AS OrderTotal,
                                ROUND(SUM(IIF(TRCODE IN (37, 38), AMOUNT, 0)), 2)                   AS SalesTotal,
                                ROUND(SUM(IIF(TRCODE IN (32, 33), AMOUNT, 0)), 2)                   AS ReturnTotal,
                                ROUND(SUM(IIF(TRCODE IN (1), AMOUNT, 0)), 2)                        AS CashIn,
                                ROUND(ISNULL(SUM(AMOUNT * (IIF(SIGN = 0, 1, -1))), 0), 2)           AS DailyTotal,
                                ROUND(SUM(SUM(AMOUNT * (IIF(SIGN = 0, 1, -1))))
                                          OVER (PARTITION BY SALESMANREF ORDER BY SALESMANREF, DATE_
                                              ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW), 2) AS CumilativeDebt
                         FROM LG_XXX_YY_CLFLINE CLFLINE WITH (NOLOCK)
                                  LEFT JOIN ORDERS ON ORDERS.SalesmanId = CLFLINE.SALESMANREF AND ORDERS.Date = CLFLINE.DATE_
                         WHERE CLFLINE.SALESMANREF > 0
                           AND CLFLINE.DATE_ BETWEEN @beginDate AND @endDate
                         GROUP BY CLFLINE.SALESMANREF, ORDERS.OrderNetTotal, DATE_),

                     DEBTS AS (
                         SELECT SALEOPS.*, ISNULL(OpenDebt, 0) + CumilativeDebt AS ClosingBalance
                         FROM SALEOPS
                                  LEFT JOIN (
                             SELECT C.SALESMANREF                                                                  as SalesmanId,
                                    @beginDate                                                                     as Date,
                                    ROUND(SUM(AMOUNT * (IIF(SIGN = 0, 1, -1)) * IIF(DATE_ < @beginDate, 1, 0)), 2) as OpenDebt
                             FROM LG_XXX_YY_CLFLINE C WITH (NOLOCK)
                             WHERE C.SALESMANREF > 0
                             GROUP BY C.SALESMANREF) OpenDebt on OpenDebt.SalesmanId = SALEOPS.SalesmanId)

                SELECT SLSMAN.LOGICALREF           AS SalesmanId,
                       SLSMAN.CODE                 AS SalesmanCode,
                       SLSMAN.DEFINITION_          AS SalesmanName,
                       DEBTS.Date                  AS Date,
                       DEBTS.CashIn                AS CashInAmount,
                       DEBTS.ReturnTotal           AS ReturnInvoiceAmount,
                       DEBTS.OrderTotal            AS OrderAmount,
                       ClosingBalance - DailyTotal AS OpenDebt,
                       ClosingBalance              AS TotalDebt,
                       DEBTS.SalesTotal            AS InvoicedAmount
                FROM DEBTS
                         JOIN LG_SLSMAN SLSMAN WITH (NOLOCK) ON SLSMAN.FIRMNR = 9 AND SLSMAN.LOGICALREF = DEBTS.SalesmanId
            );

GO

CREATE    Function [dbo].[FN_TS_Report_GetSalesmanClientSaleSummary_XXX_YY](@salesmanId int, @beginDate datetime, @endDate datetime)
    RETURNS TABLE
        AS RETURN
            (
                WITH ORDERS AS (
                    SELECT ORD.SALESMANREF   AS SalesmanId,
                           ORD.CLIENTREF     as ClientId,
                           ORD.DATE_     as Date,
                           SUM(NETTOTAL) As OrderNetTotal
                    FROM LG_XXX_YY_ORFICHE ORD WITH (NOLOCK)
					--JOIN LG_XXX_SLSCLREL SLSCLREL WITH (NOLOCK) ON SLSCLREL.CLIENTREF = ORD.CLIENTREF AND SLSCLREL.SALESMANREF = @salesmanId

                    WHERE DATE_ BETWEEN @beginDate AND @endDate
                      AND SALESMANREF = @salesmanId
                    GROUP BY ORD.SALESMANREF, ORD.CLIENTREF, ORD.DATE_),

                     SALEOPS AS (
                         SELECT COALESCE(CLFLINE.CLIENTREF, ORDERS.ClientId)                                   AS ClientId,
                                COALESCE(CLFLINE.DATE_, ORDERS.Date)                                           AS Date,
                                ROUND(ISNULL(ORDERS.OrderNetTotal, 0), 2)                                      AS OrderTotal,
                                ROUND(SUM(IIF(TRCODE IN (37, 38), AMOUNT, 0)), 2)                              AS SalesTotal,
                                ROUND(SUM(IIF(TRCODE IN (32, 33), AMOUNT, 0)), 2)                              AS ReturnTotal,
                                ROUND(SUM(IIF(TRCODE IN (1), AMOUNT, 0)), 2)                                   AS CashIn,
                                ROUND(ISNULL(SUM(AMOUNT * (IIF(SIGN = 0, 1, -1))), 0), 2)                      AS DailyTotal,
                                ROUND(ISNULL(SUM(SUM(AMOUNT * (IIF(SIGN = 0, 1, -1))))
                                                 OVER (PARTITION BY CLFLINE.CLIENTREF ORDER BY CLFLINE.CLIENTREF, CLFLINE.DATE_
                                                     ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW), 0), 2) AS CumilativeDebt
                         FROM LG_XXX_YY_CLFLINE CLFLINE WITH (NOLOCK)
						 --JOIN LG_XXX_SLSCLREL SLSCLREL WITH (NOLOCK) ON SLSCLREL.CLIENTREF = CLFLINE.CLIENTREF AND SLSCLREL.SALESMANREF = @salesmanId
                                  FULL OUTER JOIN ORDERS ON ORDERS.ClientId = CLFLINE.CLIENTREF AND ORDERS.Date = CLFLINE.DATE_
                         WHERE (CLFLINE.DATE_ BETWEEN @beginDate AND @endDate OR ORDERS.Date BETWEEN @beginDate AND @endDate)
                           AND (SALESMANREF = @salesmanId OR ORDERS.SalesmanId = @salesmanId)
                         GROUP BY CLFLINE.CLIENTREF, ORDERS.ClientId, ORDERS.Date, ORDERS.OrderNetTotal, DATE_),

                     DEBTS AS (
                         SELECT SALEOPS.*, ISNULL(OpenDebt, 0) + CumilativeDebt AS ClosingBalance
                         FROM SALEOPS
                                  FULL OUTER JOIN (
                             SELECT CLFLINE.CLIENTREF                                                              as ClientId,
                                    @beginDate                                                                     as Date,
                                    ROUND(SUM(AMOUNT * (IIF(SIGN = 0, 1, -1)) * IIF(DATE_ < @beginDate, 1, 0)), 2) as OpenDebt
                             FROM LG_XXX_YY_CLFLINE CLFLINE WITH (NOLOCK)
							 --JOIN LG_XXX_SLSCLREL SLSCLREL WITH (NOLOCK) ON SLSCLREL.CLIENTREF = CLFLINE.CLIENTREF 

                             WHERE CLFLINE.CLIENTREF > 0 
							 --AND SLSCLREL.SALESMANREF = @salesmanId
                             AND CLFLINE.SALESMANREF = @salesmanId
                             GROUP BY CLFLINE.CLIENTREF) OpenDebt on OpenDebt.ClientId = SALEOPS.ClientId)

                SELECT CLCARD.LOGICALREF           AS ClientId,
                       CLCARD.CODE                 AS ClientCode,
                       CLCARD.DEFINITION_          AS ClientName,
                       DEBTS.Date                  AS Date,
                       DEBTS.CashIn                AS CashInAmount,
                       DEBTS.ReturnTotal           AS ReturnInvoiceAmount,
                       DEBTS.OrderTotal            AS OrderAmount,
                       ClosingBalance - DailyTotal AS OpenDebt,
                       ClosingBalance              AS TotalDebt,
                       DEBTS.SalesTotal            AS InvoicedAmount
                FROM DEBTS
                         JOIN LG_XXX_CLCARD CLCARD WITH (NOLOCK) ON CLCARD.LOGICALREF = DEBTS.ClientId
            )
GO

CREATE  Function [dbo].[FN_TS_Report_GetSalesmanClientItemSaleSummary_XXX_YY](@salesmanId int,@clientId int,@beginDate datetime, @endDate datetime)
    RETURNS TABLE
        AS RETURN
            (
                WITH ORDERS AS (
                    SELECT LINE.STOCKREF                                                                                                           AS ItemId,
                           LINE.DATE_                                                                                                              AS Date,
                           SUM(ISNULL(CASE
                                          WHEN LINE.LINETYPE IN (1) THEN LINE.LINENET - LINE.LINENET * LINE.DISCPER / 100
                                          WHEN LINE.LINETYPE IN (0, 6) THEN LINE.LINENET - ISNULL(DISCOUNTLINE.LINENET, 0) END, 0) + LINE.VATAMNT) AS OrderAmount
                    FROM LG_XXX_YY_ORFLINE LINE WITH (NOLOCK)
                             LEFT JOIN LG_XXX_YY_ORFLINE DISCOUNTLINE WITH (NOLOCK) ON (DISCOUNTLINE.ORDFICHEREF = LINE.ORDFICHEREF AND DISCOUNTLINE.LINETYPE = 2 AND
                                                                                        DISCOUNTLINE.GLOBTRANS = 0 AND LINE.LOGICALREF = DISCOUNTLINE.PARENTLNREF)
                    WHERE (LINE.LINETYPE in (0, 1, 6) OR (LINE.LINETYPE IN (2)
                        AND LINE.GLOBTRANS = 1))
                      AND (LINE.SALESMANREF = @salesmanId OR DISCOUNTLINE.SALESMANREF = @salesmanId)
                      AND (LINE.CLIENTREF = @clientId OR DISCOUNTLINE.CLIENTREF = @clientId)
                      AND LINE.DATE_ BETWEEN @beginDate AND @endDate
                    GROUP BY LINE.STOCKREF, LINE.DATE_),

                     INVOICES AS (
                         SELECT LINE.STOCKREF                                                                                          AS ItemId,
                                LINE.DATE_                                                                                             AS Date,
                                ROUND(SUM((IIF(LINE.LINETYPE IN (0, 6), 1, 0)) *
                                          (IIF(LINE.TRCODE IN (7, 8), 1, 0)) * LINE.VATMATRAH), 2)                                     AS GrossAmount,
                                ROUND(SUM((IIF(LINE.TRCODE IN (2, 3), 1, 0)) * LINE.VATMATRAH), 2)                                     AS ReturnAmount,
                                ROUND(SUM((IIF(LINE.LINETYPE IN (1), 1, 0)) * (IIF(LINE.TRCODE IN (7, 8), 1, 0)) * LINE.VATMATRAH), 2) AS PromoAmount

                         FROM LG_XXX_YY_STLINE LINE WITH (NOLOCK)

                         WHERE LINE.CANCELLED = 0
                           AND LINE.STATUS = 0
                           AND LINE.LINETYPE IN (0, 1, 6)
                           AND LINE.TRCODE IN (2, 3, 7, 8)
                           AND LINE.DATE_ >= @beginDate
                           AND LINE.DATE_ <= @endDate
                           AND LINE.SALESMANREF = @salesmanId
                           AND LINE.CLIENTREF = @clientId
                         GROUP BY LINE.STOCKREF, LINE.DATE_
                     )


                SELECT ITEMS.CODE                           AS ItemCode,
                       ITEMS.NAME                           AS ItemName,
                       ITEMS.LOGICALREF                     AS ItemId,
                       COALESCE(ORDERS.Date, INVOICES.Date) AS Date,
                       ISNULL(INVOICES.PromoAmount, 0)      AS PromoAmount,
                       ISNULL(INVOICES.ReturnAmount, 0)     AS ReturnInvoiceAmount,
                       ISNULL(ORDERS.OrderAmount, 0)        AS OrderAmount,
                       ISNULL(INVOICES.GrossAmount, 0)      AS InvoicedAmount

                FROM ORDERS
                         FULL OUTER JOIN INVOICES ON ORDERS.ItemId = INVOICES.ItemId AND ORDERS.Date = INVOICES.Date
                         JOIN LG_XXX_ITEMS ITEMS WITH (NOLOCK) ON ITEMS.LOGICALREF = ORDERS.ItemId OR ITEMS.LOGICALREF = INVOICES.ItemId
            );
