create Function [dbo].[FN_TS_Report_GetItemSerialNumbers_XXX_YY](@itemId INT)
RETURNS TABLE
AS RETURN
(
SELECT distinct SERILOTN.CODE AS SerialNumber, SERILOTN.ITEMREF ItemId
from LG_XXX_YY_SERILOTN SERILOTN
where SERILOTN.ITEMREF = (SELECT *  FROM F_SplitList(@itemId, ','))
);

