CREATE Function [dbo].[FN_TS_MasterData_GetOrderCompletionStatus_XXX_YY](@beginDate datetime, @endDate datetime)
RETURNS TABLE
AS RETURN
(
SELECT ORFICHE.LOGICALREF AS ERPID,
CASE WHEN ORFICHE.STATUS = 1 THEN 0
	 WHEN SUM((CASE WHEN CLOSED=0 THEN 1 ELSE 0 END)) = 0 THEN 1
	 WHEN SUM((CASE WHEN CLOSED=0 THEN 1 ELSE 0 END)* (AMOUNT-SHIPPEDAMOUNT)) !=0  AND SUM(SHIPPEDAMOUNT)>0 THEN 2
	 WHEN SUM((AMOUNT-SHIPPEDAMOUNT)) = 0 THEN 3
	 END Status,
CAPIBLOCK_CREADEDDATE CreatedDate, 
CAPIBLOCK_MODIFIEDDATE 
from LG_XXX_YY_ORFICHE ORFICHE WITH (NOLOCK) 
inner join LG_XXX_YY_ORFLINE LINE ON LINE.ORDFICHEREF = ORFICHE.LOGICALREF
WHERE (CAPIBLOCK_CREADEDDATE >=@beginDate AND CAPIBLOCK_CREADEDDATE <=@endDate) OR (CAPIBLOCK_MODIFIEDDATE>=@beginDate AND CAPIBLOCK_MODIFIEDDATE<=@endDate)
GROUP BY 
ORFICHE.LOGICALREF, ORFICHE.STATUS, CAPIBLOCK_CREADEDDATE, CAPIBLOCK_MODIFIEDDATE
)
