create Function [dbo].[FN_TS_Integration_GetInvoiceLineSerialNumbers_XXX_YY](@invoiceId int)
RETURNS TABLE
AS RETURN
(
SELECT LINE.INVOICEREF AS FicheRef, SERILOTN.CODE AS SerialNumber, LINE.STOCKREF AS ItemId, LINE.LOGICALREF AS InvoiceRef
FROM LG_XXX_YY_STLINE LINE WITH (NOLOCK)
LEFT JOIN LG_XXX_YY_SLTRANS SLTRANS ON SLTRANS.STTRANSREF = LINE.LOGICALREF
LEFT JOIN LG_XXX_YY_SERILOTN SERILOTN ON SLTRANS.SLREF=SERILOTN.LOGICALREF
WHERE (LINE.LINETYPE in (0,1,6) OR (LINE.LINETYPE IN (2) AND LINE.GLOBTRANS=1 )) 
AND LINe.INVOICEREF=@invoiceId and SERILOTN.CODE is not null
);