Create Function [dbo].[FN_TS_Report_GetSaleActionReports_XXX_YY](@beginDate datetime, @endDate datetime)
returns table as 
return
select	man.CODE 'SalesmanCode',
		man.DEFINITION_ 'SalesmanName', 
		card.LOGICALREF 'ClientId',  
		card.CODE 'ClientCode',
		card.DEFINITION_ 'ClientName',
		card.EDINO'ClientEdino',
  ROUND(  SUM((CASE WHEN line.DATE_<@beginDate THEN 1 ELSE 0 END)*
                                      (CASE WHEN line.SIGN=0 THEN 1 ELSE -1 END)*line.AMOUNT),2) 'OpeningBalance' ,
sum((case when line.DATE_ between @beginDate and @endDate then 1 else 0 end)*(case when line.trcode in (37,38) then 1 else 0 end)*line.AMOUNT) 'Sales',
sum((case when line.DATE_ between @beginDate and @endDate then 1 else 0 end)*(case when line.trcode in (32,33) then 1 else 0 end)*line.AMOUNT) 'Returns',
sum((case when line.DATE_ between @beginDate and @endDate then 1 else 0 end)*(case when line.trcode in (1) then 1 else 0 end)*line.AMOUNT) 'CashPayment',
sum((case when line.DATE_ between @beginDate and @endDate then 1 else 0 end)*(case when line.trcode in (20) then 1 else 0 end)*line.AMOUNT) 'BankPayment',
ROUND(  SUM((CASE WHEN line.DATE_ <= @beginDate THEN 1 ELSE 0 END)* (CASE WHEN line.SIGN=0 THEN 1 ELSE -1 END)*line.AMOUNT),2) 'ClosingBalance',
        case when line.trcurr in(0,162) then 'AZN'
			 when line.trcurr=1 then 'USD'
			 when line.trcurr=20 then 'EUR'
			 when line.trcurr=51 then 'RUR'
			 when line.trcurr=53 then 'TRY' end as 'CurrencyCode'                             
                                      
from LG_XXX_YY_CLFLINE  line with (NOLOCK)
 
		inner join LG_XXX_CLCARD card with (NOLOCK) on card.LOGICALREF=line.CLIENTREF
		left join LG_XXX_SLSCLREL slc with (NOLOCK) on slc.CLIENTREF=card.LOGICALREF
		left join LG_SLSMAN man with (nolock) on man.LOGICALREF=slc.SALESMANREF
where line.STATUS=0 and line.CANCELLED=0 and FIRMNR=2
group by card.code,card.DEFINITION_,man.CODE,man.DEFINITION_,card.EDINO,card.LOGICALREF,line.TRCURR
