create or ALTER FUNCTION [dbo].[F_GetClientsForWebOrder](
    @userId BIGINT,
    @firm SMALLINT,
    @clientCodeOrNameOrPhone NVARCHAR(200),
    @address NVARCHAR(200),
    @city NVARCHAR(200),
    @town NVARCHAR(200),
    @district NVARCHAR(200)
    )
    RETURNS @Clients TABLE
                     (
                         Id       INT,
                         Code     NVARCHAR(50),
                         Name     NVARCHAR(100),
                         Phone    NVARCHAR(20),
                         Address  NVARCHAR(200),
                         Note     NVARCHAR(500),
                         Location NVARCHAR(100),
                         City NVARCHAR(100),
                         Town NVARCHAR(100),
                         District NVARCHAR(100)
                     )
    AS
    BEGIN
        DECLARE @isAdmin BIT = 0;
        
        -- İstifadəçinin adı "admin" olub-olmadığını yoxla
        IF EXISTS (
            SELECT 1 
            FROM AbpUsers 
            WHERE Id = @userId 
            AND LOWER(UserName) = 'admin' 
        )
        BEGIN
            SET @isAdmin = 1;
        END
        
        -- Əgər admin isə, bütün müştəriləri gətir
        IF @isAdmin = 1
        BEGIN
            INSERT INTO @Clients (Id, Code, Name, Phone, Address, Note, Location, City, Town, District)
            SELECT TigerId    AS Id,
                   Code,
                   Name,
                   Telephone  AS Phone,
                   Address,
                   'Note'     AS Note,
                   'Location' AS Location,
                   City,
                   Town,
                   District
            FROM MD_Client AS Client
            WHERE Client.Firm = @firm
              AND Client.Status = 0
              AND (
                @clientCodeOrNameOrPhone IS NULL OR
                Client.Code LIKE '%' + @clientCodeOrNameOrPhone + '%' OR
                Client.Name LIKE '%' + @clientCodeOrNameOrPhone + '%' OR
                Client.Telephone LIKE '%' + @clientCodeOrNameOrPhone + '%')
              AND (@address IS NULL OR Client.Address LIKE '%' + @address + '%')
              AND (@city IS NULL OR Client.City LIKE '%' + @city + '%')
              AND (@town IS NULL OR Client.Town LIKE '%' + @town + '%')
              AND (@district IS NULL OR Client.District LIKE '%' + @district + '%');
        END
        ELSE
        BEGIN
            -- Admin deyilsə, yalnız icazəli müştəriləri gətir
            INSERT INTO @Clients (Id, Code, Name, Phone, Address, Note, Location, City, Town, District)
            SELECT TigerId    AS Id,
                   Code,
                   Name,
                   Telephone  AS Phone,
                   Address,
                   'Note'     AS Note,
                   'Location' AS Location,
                   City,
                   Town,
                   District
            FROM F_GetAllPermittedUsersPermittedClients(@userId) AS PermittedClient
                     JOIN MD_Client AS Client ON Client.TigerId = PermittedClient.ClientId AND Client.Firm = PermittedClient.Firm
            WHERE Client.Firm = @firm
              AND Client.Status = 0
              AND (
                @clientCodeOrNameOrPhone IS NULL OR
                Client.Code LIKE '%' + @clientCodeOrNameOrPhone + '%' OR
                Client.Name LIKE '%' + @clientCodeOrNameOrPhone + '%' OR
                Client.Telephone LIKE '%' + @clientCodeOrNameOrPhone + '%')
              AND (@address IS NULL OR Client.Address LIKE '%' + @address + '%')
              AND (@city IS NULL OR Client.City LIKE '%' + @city + '%')
              AND (@town IS NULL OR Client.Town LIKE '%' + @town + '%')
              AND (@district IS NULL OR Client.District LIKE '%' + @district + '%');
        END
        
        RETURN;
    END