CREATE PROCEDURE dbo.SP_IM_EditAsset @id INT,
                                     @assetNr NVARCHAR(50),
                                     @serialNr NVARCHAR(50),
                                     @warehouseNr INT,
                                     @divisionNr INT,
                                     @initialCostPrice FLOAT,
                                     @currentCostPrice FLOAT,
                                     @amortizationBeginDate DATE,
                                     @AmortizationPercent FLOAT,
                                     @AmortizationTerm INT,
                                     @bindingReference NVARCHAR(500),
                                     @bindingType SMALLINT,
                                     @purchaseDate DATETIME,
                                     @responsiblePerson INT,
                                     @responsiblePerson2 INT,
                                     @specialCode NVARCHAR(100),
                                     @specialCode2 NVARCHAR(100),
                                     @specialCode3 NVARCHAR(100),
                                     @userId BIGINT
AS
BEGIN
    UPDATE IM_Asset
    SET AssetNr               = @assetNr,
        SerialNr              = @serialNr,
        WarehouseNr           = @warehouseNr,
        DivisionNr            = @divisionNr,
        InitialCostPrice      = @initialCostPrice,
        CurrentCostPrice      = @currentCostPrice,
        AmortizationBeginDate = @amortizationBeginDate,
        AmortizationPercent   = @amortizationPercent,
        AmortizationTerm      = @amortizationTerm,
        BindingType           = @bindingType,
        BindingReference      = @bindingReference,
        PurchaseDate          = @purchaseDate,
        ResponsiblePerson     = @responsiblePerson,
        ResponsiblePerson2    = @responsiblePerson2,
        SpecialCode           = @specialCode,
        SpecialCode2          = @specialCode2,
        SpecialCode3          = @specialCode3,
        LastModifierUserId    = @userId,
        LastModificationTime  = GETDATE()
    WHERE Id = @id;
END
go