<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="vtrade"/>
    <Version value="V4.10"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\Tayqasale\Logs\{environment}\ERPIntegration\{version}\erpIntegrationService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASVTRADE;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=LST_VTRADE01.veyseloglu.az,1452;Database=TIGER2019;User ID=lgn_vesastiger;Password=*Os%124MiN87+*14noQ!;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <ServiceName value="MainIntegrationService"/>	
    <Firm value="91"/>
    <ActivePeriod value="1"/>
    <Step value="10"/>    
	<NextStep value="20"/>    
    <RoundDigit value="4"/>
    <PriorityMaskForPrice value="100"/>        
    <MaximumTryCounterForService value="10"/>
    <DisposeAfterXHours value="12"/>
    <ListenerUrlForERPReconnection value="http://+:11101/{environment}/Integration/ReconnectToLogo/"/>   
    <ERP value="TigerEnterprise"/>
    <ImplementedClient value="VeyselogluVtrade"/>
    <LogIntegrationResult value="true"/>
    <ERPIntegratorDefaultVersion value="V1.10"/>
    <ERPUnknonwErrorResponseId value="-99"/>
    <TigerApplyGetStockLinePrice value="true"/>
    <TigerGetStockLinePriceType value="8"/> 
    <TigerUserName value="VESASVTRADE"/>
    <TigerPassword value="678876"/>
    <TigerERPResponsesFilePath value="erpResponses.config"/>    
    <TigerLocalCulture value="M/d/yyyy"/>
    <TigerIsSpecialExchangeRate value="true"/>
    <TigerUserIdForCreatedBy value="890"/>
    <TigerLobjectLogFilePath value="C:\Tayqasale\logs\{environment}\{version}\lobject.txt"/>
    <TigerLogoConfigFilePath value=""/>
    <TigerApplyCampaignFlag value="true"/>	
    <VeyselogluAdditionalDB value="Server=LST_VTRADE01.veyseloglu.az,1452;Database=ReportBase;User ID=lgn_vesastiger;Password=*Os%124MiN87+*14noQ!;Trusted_Connection=false; Connection Timeout=60"/>
	<UpdateOrderProcessDate value="true"/>
  </additionalParameters>
</configuration>
