<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="vtrade"/>
    <Version value="V1.00"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\logs\{environment}\InternalProcessing\{version}\internalProcessingService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASVTRADE;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <Firm value="91"/>
    <ActivePeriod value="1"/>
    <Step value="20"/>        
    <MaximumTryCounterForService value="10"/>
    <LogProcessingResult value="true"/>    
    <ExtraWhereClauseAndOrderByFilter value="AND DocType IN (0,1,2,3,4,5,6,7,8,9) ORDER BY DocType DESC"/>    
  </additionalParameters>
</configuration>
