<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="vtrade"/>
    <Version value="v2.92"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\ProxyWebService\{version}\proxyWebService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASVTRADE;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaSaleDbSecondary value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASVTRADE;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60; ApplicationIntent=readonly"/>
  </databaseParameters>
  <additionalParameters>    
    <ServicesBaseUrl value="http://VOTAYQAWEB02.veyseloglu.az"/>
    <UimPort value="1102"/>
    <RequestProcessorPort value="1104"/>
    <ReportManagerPort value="1103"/>
    <LoyaltyManagementPort value="1107"/>
	<DeliveryManagementPort value="1108"/>
    <WorkPlanManagementPort value="1111"/>
    <UserActivityLogLevel value="2"/>
    <MethodCallHistoryLiveTime value="600"/>
    <UserMethodCallDelayTime value="60"/>
    <UserMethodCallAllowedInterval value="2"/>
    <MethodCallAllowedCount value="15"/>
    <MethodCallMaxWaitTime value="15000"/>
    <AppDownloadPath value="C:\TayqaSale\AppDownloads\{environment}"/>
    <AppUploadPath value="C:\TayqaSale\AppUploads\{environment}"/>
    <ApkFilesPath value="\ApkFiles"/>
    <PrintTemplatesPath value="\PrintTemplates"/>
    <CatalogImagesPath value="\ImageZips"/>
    <ClientShowcaseImagesPath value="\ClientShowcaseImages"/>
    <VisitDataImagesPath value="\VisitImages"/>
	<WpmImagesPath value="\WpmImages"/>
    <AppLogFilesPath value="\AppLogFiles"/>
    <AuditItemImagesPath value="\AuditItemImages"/>
    <AuditCompetingItemImagesPath value="\AuditCompetingItemImages"/>
    <MediaContentPath value="C:\TayqaSale\MediaContent\{environment}"/>
    <ContractsPath value="\Contracts"/>
    <ImagesPath value="\Images"/>
  </additionalParameters>
</configuration>