<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="vtrade"/>
    <Version value="v2.92"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\ReportManager\{version}\reportManager.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <ErpDB value="Server=LST_VTRADE01.veyseloglu.az,1452;Database=TIGER2019;User ID=lgn_vesastiger;Password=*Os%124MiN87+*14noQ!;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaSaleDB value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASVTRADE;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60;"/>
    <ErpDbSecondary value="Server=LST_VTRADE01.veyseloglu.az,1452;Database=TIGER2019;User ID=lgn_vesastiger;Password=*Os%124MiN87+*14noQ!;Trusted_Connection=false; Connection Timeout=60;"/>
    <TayqaSaleDbSecondary value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASVTRADE;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60;"/>
  </databaseParameters>
  <additionalParameters>
    <SalesmanSource value="UserSalesmanMapping"/>
    <VeyselogluSpecialReportDb value="Server=LST_VTRADE01.veyseloglu.az,1452;Database=ReportBase;User ID=lgn_vesastiger;Password=*Os%124MiN87+*14noQ!;Trusted_Connection=false; Connection Timeout=60;"/>
    <ErpName value="TigerVeyseloglu"/>
  </additionalParameters>
</configuration>
