alter Function [dbo].[FN_TS_Report_GetSaleActionReports_XXX_YY](@beginDate datetime, @endDate datetime)
    returns table as
        return

-- Date: 28.04.2022 
-- Written by TayqaTech (Kanan Mammadov) for TayqaSale
-- The query returns the list of salesman/clients with sales, return and balance amounts 

        select SLSMAN.LOGICALREF                                                           SalesmanId,
               SLSMAN.CODE                                                                 SalesmanCode,
               SLSMAN.DEFINITION_                                                          SalesmanName,
               CLCARD.LOGICALREF                                                           ClientId,
               CLCARD.CODE                                                                 ClientCode,
               CLCARD.DEFINITION_                                                          ClientName,
               CLCARD.EDINO                                                                ClientEdino,
               ROUND(SUM((CASE WHEN CLFLINE.DATE_ < cast(@beginDate as date) THEN 1 ELSE 0 END) *
                         (CASE WHEN CLFLINE.SIGN = 0 THEN 1 ELSE -1 END) * CLFLINE.AMOUNT), 2) OpeningBalance,
               ROUND(sum((case when CLFLINE.DATE_ between cast(@beginDate as date) and cast(@endDate as date) then 1 else 0 end) *
                         (case when CLFLINE.trcode in (37, 38) then 1 When CLFLINE.TRCODE In (32, 33) Then -1 else 0 end) *
                         CLFLINE.AMOUNT), 2)                                                Sales,
               ROUND(sum((case when CLFLINE.DATE_ between cast(@beginDate as date) and cast(@endDate as date) then 1 else 0 end) *
                         (case when CLFLINE.trcode in (32, 33) then 1 else 0 end) *
                         CLFLINE.AMOUNT), 2)                                                Returns,
               ROUND(sum((case when CLFLINE.DATE_ between cast(@beginDate as date) and cast(@endDate as date) then 1 else 0 end) *
                         (case when CLFLINE.trcode in (1) then 1 else 0 end) *
                         CLFLINE.AMOUNT), 2)                                                CashPayment,
               ROUND(sum((case when CLFLINE.DATE_ between cast(@beginDate as date) and cast(@endDate as date) then 1 else 0 end) *
                         (case when CLFLINE.trcode in (20) then 1 else 0 end) *
                         CLFLINE.AMOUNT), 2)                                                BankPayment,
               ROUND(SUM((CASE WHEN CLFLINE.DATE_ <= cast(@endDate as date) THEN 1 ELSE 0 END) * (CASE WHEN CLFLINE.SIGN = 0 THEN 1 ELSE -1 END) *
                         CLFLINE.AMOUNT), 2)                                                ClosingBalance,
               case
                   when CLFLINE.trcurr in (0, 162) then 'AZN'
                   when CLFLINE.trcurr = 1 then 'USD'
                   when CLFLINE.trcurr = 20 then 'EUR'
                   when CLFLINE.trcurr = 51 then 'RUR'
                   when CLFLINE.trcurr = 53 then 'TRY'
                   else 'AZN'
                   end as                                                                CurrencyCode

        from LG_XXX_YY_CLFLINE CLFLINE with (NOLOCK)

                 join LG_XXX_CLCARD CLCARD with (NOLOCK) on CLCARD.LOGICALREF = CLFLINE.CLIENTREF
                 join LG_SLSMAN SLSMAN with (nolock) on SLSMAN.LOGICALREF = CLFLINE.SALESMANREF

        where CLFLINE.STATUS = 0
          and CLFLINE.CANCELLED = 0
          and FIRMNR = CAST(XXX AS INT)
        group by CLCARD.code, CLCARD.DEFINITION_, SLSMAN.CODE, SLSMAN.LOGICALREF, SLSMAN.DEFINITION_, CLCARD.EDINO, CLCARD.LOGICALREF, CLFLINE.TRCURR
go
