ALTER Function [dbo].[FN_TS_Report_GetOrderStatus_XXX_YY](@beginDate datetime, @endDate datetime)
    RETURNS TABLE
        AS RETURN
            (
                Select ORFICHE.LOGICALREF                AS OrderId,
                       ILog.DocId                        AS DocId,
                       ORFICHE.FICHENO                   AS OrderNo,
                       ORFICHE.DATE_                     AS OrderDate,
                       ORFICHE.NETTOTAL                  AS NetTotal,
                       SLSMAN.LOGICALREF                 AS SalesmanId,
                       SLSMAN.DEFINITION_                AS SalesmanName,
                       SLSMAN.CODE                       AS SalesmanCode,
                       CASE
                           WHEN STATUS IN (1, 2) AND CANCELLED = 0 THEN 0
                           WHEN STATUS IN (4) AND CANCELLED = 0 THEN 1
                           WHEN CANCELLED = 1 THEN 2 END AS OrderStatus,
                       CARD.CODE                         AS ClientCode,
                       CARD.SPECODE4                     AS ClientSpecode4,
                       ORFICHE.CLIENTREF                 AS ClientId,
                       CARD.DEFINITION_                  AS ClientName,
                       'AZN'                             As CurrencyCode
                From LG_XXX_YY_ORFICHE ORFICHE With (NoLock)
                         Inner Join LG_XXX_CLCARD CARD With (NoLock) On CARD.LOGICALREF = ORFICHE.CLIENTREF
                         INNER JOIN LG_SLSMAN SLSMAN With (NoLock) ON SLSMAN.LOGICALREF = ORFICHE.SALESMANREF AND SLSMAN.FIRMNR = CAST(XXX AS INT)
                         INNER JOIN TayqaSale..OP_GeneralLog GLog with (nolock) on GLog.TigerId = ORFICHE.LOGICALREF and GLog.ImportResult = 0
                         INNER JOIN TayqaSale..OP_IncomingLog ILog with (nolock) on GLog.RequestId = ILog.Id AND ILog.DocType = 0 and ILog.Firm = CAST(XXX AS INT)

                Where ORFICHE.STATUS IN (1, 2, 4)
                  AND ORFICHE.DATE_ Between @beginDate And @endDate
            );