CREATE Function [dbo].[FN_TS_Report_GetClientOperationsTotalInfo_XXX_YY](@clientId int)
    RETURNS TABLE
        AS RETURN
-- Date: 07.24.2022
-- Written by TayqaTech (Shahri Yahyayeva) for TayqaSale
-- Description: The query returns a report on overdue debts and client operations
-- Ticket: TSC-3710
            (
                SELECT GroupID,
                       Name,
                       iif(Name = N'Ödənməmiş Borc' and left(Value, 1) = '-', 'Yoxdur', Value) as Value,
                       row_number() over (partition by GroupID order by Name)                  AS OrderNumber,
					   --If CashIn is less than 80% of UnpaidDebt then result will be red else green 
                       (case
                            when Color < 80 and Color > 0 and Name in (N'Kassa Mədaxil', N'İş Yeri Borcu')
                                then '#FF0000'
                            when Color >= 80 or Color <= 0 and Name in (N'Kassa Mədaxil', N'İş Yeri Borcu')
                                then '#50C878'
                            else '#000000'
                           end)                                                                as Color
                FROM (select cast((row_number() over (order by CAPIDIV.Nr )) as varchar(50))                     AS GroupID,
                             cast(CAPIDIV.NR as varchar(50))                                                     AS "İş Yeri Nömrəsi",
                             cast(CAPIDIV.NAME as varchar(50))                                                   AS "İş Yeri",
                             cast(CLRNUMS.ACCRISKLIMIT as varchar(50))                                           AS "Risk Limiti",
							 -- ClientPastDebt - Payment
                             cast(ISNULL(SUM((IIF(CLFLINE.DATE_ <=
                                                  DATEADD(DAY, -CLCARD.DUEDATECOUNT, CONVERT(DATE, GETDATE())), 1, 0)) *
                                             (IIF(CLFLINE.SIGN = 0, 1, -1)) * CLFLINE.AMOUNT), 0) -
                                  ISNULL(SUM((CASE WHEN CLFLINE.Date_ > DATEADD(DAY, -DUEDATECOUNT, CONVERT(date, GETDATE())) 
								AND CLFLINE.SIGN = 1 THEN 1 ELSE 0 END) * CLFLINE.Amount), 0) as varchar(50)) AS "Ödənməmiş Borc",
                             cast((GNTOTCL.DEBIT - GNTOTCL.CREDIT) as varchar(50))                               AS "İş Yeri Borcu",
                             cast((ROUND(SUM(IIF(TRCODE IN (37, 38), AMOUNT, 0)), 2)) as varchar(50))            AS "Toplam Satış",
                             cast((ROUND(SUM(IIF(TRCODE IN (32, 33), AMOUNT, 0)), 2)) as varchar(50))            AS "Toplam Qaytarma",
                             cast((ROUND(SUM(IIF(TRCODE IN (1), AMOUNT, 0)), 2)) as varchar(50))                 AS "Kassa Mədaxil",
							 --(CashIn*100)/UnpaidDebt 
                             ((ROUND(SUM(IIF(TRCODE IN (1), AMOUNT, 0)), 2)) * 100) /
                             ((ISNULL(SUM((IIF(CLFLINE.SIGN = 0, 1, -1)) * CLFLINE.AMOUNT), 0)) -
                              (ISNULL(SUM((IIF(CLFLINE.DATE_ >=
                                               DATEADD(DAY, -CLCARD.DUEDATECOUNT, cast(getdate() as date)) AND
                                               CLFLINE.SIGN = 1, 1, 0)) * CLFLINE.AMOUNT), 0)))                  as Color

                      from LG_XXX_YY_CLFLINE CLFLINE WITH (NOLOCK)
                               inner join LG_XXX_CLCARD CLCARD WITH (NOLOCK) ON (CLCARD.LOGICALREF = CLFLINE.CLIENTREF)
                               join L_CAPIDIV CAPIDIV WITH (NOLOCK) on (CAPIDIV.NR = CLFLINE.BRANCH) and CAPIDIV.FIRMNR = CAST(XXX AS INT)
                               left join LV_XXX_YY_GNTOTCL GNTOTCL WITH (NOLOCK)
                                         On (GNTOTCL.CARDREF = CLCARD.LOGICALREF) and TOTTYP = 1 and GNTOTCL.BRANCH = CLFLINE.BRANCH
                               left join LG_XXX_YY_CLRNUMS CLRNUMS WITH (NOLOCK) ON CLRNUMS.CLCARDREF = CLCARD.LOGICALREF
                      where CLFLINE.DATE_ >= dateadd(day, -90, cast(getdate() as date))
                        and CLCARD.LOGICALREF = @clientId
                      and CLFLINE.STATUS = 0
                      and CLFLINE.CANCELLED = 0
                      group by CLRNUMS.ACCRISKLIMIT, CAPIDIV.NR, CAPIDIV.NAME, GNTOTCL.DEBIT, GNTOTCL.CREDIT) as pvt
                         UNPIVOT
                         (Value FOR Name IN
                        ("İş Yeri Nömrəsi", "İş Yeri" , "Risk Limiti","Ödənməmiş Borc", "İş Yeri Borcu", "Toplam Satış","Toplam Qaytarma","Kassa Mədaxil")
                         ) AS unpvt
            )