create Function [dbo].[FN_TS_Report_GetMatirutyDebtByDivisionReport_XXX_YY](@date datetime)

-- Date: 13.07.2022
-- Written by TayqaTech (Kanan Mammadov) for TayqaSale
-- Description: The query returns a report on matured debt of divisions
-- Ticket: TSC-3709

    returns table as
        return
        with Debt as (SELECT CLCARD.LOGICALREF                                                         AS ClientId,
                             CLFLINE.BRANCH                                                            AS DivisionNr,
                             ROUND(ISNULL(SUM((IIF(CLFLINE.DATE_ < DATEADD(DAY, -CLCARD.DUEDATECOUNT, cast(@date as date)), 1, 0)) *
                                              (IIF(CLFLINE.SIGN = 0, 1, -1)) * CLFLINE.AMOUNT), 0), 2) AS MaturityDebt,
                             ROUND(ISNULL(SUM((IIF(cast(CLFLINE.DATE_ as date) = cast(@date as date) AND CLFLINE.TRCODE = 1, 1, 0)) * CLFLINE.AMOUNT),
                                          0), 2)                                                       AS DailyPayment
                      FROM LG_XXX_YY_CLFLINE CLFLINE WITH (NOLOCK)
                               INNER JOIN LG_XXX_CLCARD CLCARD WITH (NOLOCK) ON (CLCARD.LOGICALREF = CLFLINE.CLIENTREF)
                      WHERE CLFLINE.CANCELLED = 0
                        AND CLFLINE.STATUS = 0
                        AND CLCARD.DUEDATECOUNT > 0
                      GROUP BY CLCARD.LOGICALREF, CLFLINE.BRANCH)

        select DIV.NR                      as DivisionNr,
               DIV.NAME                    as DivisionName,
               ROUND(sum(MaturityDebt), 2) as MaturityDebt,
               ROUND(SUM(DailyPayment), 2) as DailyPayment
        from Debt
                 join L_CAPIDIV DIV with (nolock) on DIV.NR = Debt.DivisionNr AND DIV.FIRMNR = CAST(XXX AS INT)
        group by DIV.NR, DIV.NAME
		having sum(MaturityDebt)>0 or sum(DailyPayment)>0