
ALTER PROCEDURE [dbo].[SP_MD_GetItemRestrictionsAtClientLevel] @userId INT, @firm SMALLINT = 0, @erpItemId INT = 0
AS  
BEGIN  
    DECLARE @sql NVARCHAR(MAX);  
    SET @sql = 'SELECT DISTINCT cir.Firm,
                                cir.TigerItemId TigerId,
                                cir.TigerClientId,
                                cir.IsForbidden,
                                cir.Min,
                                cir.Max,
                                cir.MinQuantityAtClient,
                                cir.AutoFillType,
                                cir.AutoFillQuantity,
                                cir.IncreaseDecreaseQuantityType,
                                cir.IncreaseDecreaseQuantity,
                                cir.IsRestricted,
                                cir.OperationBitmask,
								cir.HideForbidden
                    FROM MD_ClientItemRestriction cir WITH (NOLOCK)
                             JOIN F_GetPermittedClientForUser(@userId) pc ON pc.ClientId = cir.TigerClientId AND pc.Firm = cir.Firm
                             INNER JOIN MD_CatalogItemMapping CItemMap WITH (NOLOCK) ON (CItemMap.TigerItemId = cir.TigerItemId)
                             INNER JOIN MD_PermittedCatalog PCatalog WITH (NOLOCK) ON (PCatalog.UserId = @userId AND PCatalog.CatalogId = CItemMap.CatalogId)
                             INNER JOIN MD_Catalog Cat WITH (NOLOCK) ON (Cat.Firm = cir.Firm AND Cat.Id = PCatalog.CatalogId)
                    WHERE cir.Status = 0';
  
    IF (@firm > 0)  
        BEGIN  
            SET @sql = CONCAT(@sql, ' And cir.Firm = @firm')  
        END  
  
      IF (@erpItemId > 0)  
        BEGIN  
            SET @sql = CONCAT(@sql, ' And cir.TigerItemId = @erpItemId')  
        END  
  
    EXEC sp_executesql @sql, N'@userId INT, @firm SMALLINT, @erpItemId INT', @userId = @userId, @firm = @firm, @erpItemId = @erpItemId  
  
END