
ALTER PROC [dbo].[SP_MD_GetClientItemRestrictionData] @userId INT, @firm SMALLINT = 0, @clientId INT = 0
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    SET @sql = 'SELECT RCLIENT.Firm,
               PCLIENT.ClientId,
               RCLIENT.TigerItemId,
               RCLIENT.Max,
               RCLIENT.Min,
               RCLIENT.IsForbidden,
               RCLIENT.RegisteredDate,
			   RCLIENT.HideForbidden
        FROM F_GetPermittedClientForUserWithRegisteredDate(@userId) PCLIENT
                 INNER JOIN MD_ClientItemRestriction RCLIENT WITH (NOLOCK)
                            ON (RCLIENT.TigerClientId = PCLIENT.ClientId AND RCLIENT.Firm = PCLIENT.Firm AND
                                RCLIENT.Status = 0)
                 INNER JOIN MD_CatalogItemMapping CItemMap WITH (NOLOCK)
                            ON (CItemMap.TigerItemId = RCLIENT.TigerItemId AND CatalogId IN (SELECT CatalogId
                                                                                             FROM MD_PermittedCatalog
                                                                                             WHERE UserId = PCLIENT.UserId))
        WHERE PCLIENT.UserId = @userId';

    IF (@firm > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' and PCLIENT.Firm = @firm');
        END

    IF (@clientId > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' and PCLIENT.ClientId = @clientId');
        END

    EXEC sp_executesql @sql, N'@userId INT, @firm SMALLINT, @clientId INT', @userId = @userId, @firm = @firm, @clientId = @clientId

END