
ALTER PROCEDURE [dbo].[SP_MD_GetItemRestrictionsAtClientGroupLevel] @userId INT, @firm SMALLINT = 0, @erpItemId INT = 0, @groupType SMALLINT = 0
AS  
BEGIN  
    DECLARE @sql NVARCHAR(MAX);  
    SET @sql = 'SELECT DISTINCT CgIr.Firm,
                                CgIr.TigerItemId TigerId,
                                CgIr.GroupId,
                                CgIr.IsForbidden,
                                CgIr.Min,
                                CgIr.Max,
                                CgIr.MinQuantityAtClient,
                                CgIr.AutoFillType,
                                CgIr.AutoFillQuantity,
                                CgIr.IncreaseDecreaseQuantityType,
                                CgIr.IncreaseDecreaseQuantity,
                                CgIr.IsRestricted,
                                CgIr.OperationBitmask,
								CgIr.HideForbidden
                    FROM MD_ClientGroupItemRestriction CgIr WITH (NOLOCK)
                             INNER JOIN MD_CatalogItemMapping CItemMap WITH (NOLOCK) ON (CItemMap.TigerItemId = CgIr.TigerItemId)
                             INNER JOIN MD_PermittedCatalog PCatalog WITH (NOLOCK) ON (PCatalog.UserId = @userId AND PCatalog.CatalogId = CItemMap.CatalogId)
                             INNER JOIN MD_Catalog Cat WITH (NOLOCK) ON (Cat.Firm = CgIr.Firm AND Cat.Id = PCatalog.CatalogId)
                    WHERE CgIr.Status = 0';
  
    IF (@firm > 0)  
        BEGIN  
            SET @sql = CONCAT(@sql, ' And CgIr.Firm = @firm')
        END  
  
      IF (@erpItemId > 0)  
        BEGIN  
            SET @sql = CONCAT(@sql, ' And CgIr.TigerItemId = @erpItemId')
        END  

		IF(@groupType > 0)
		BEGIN
			SET @sql = CONCAT(@sql, ' And CgIr.GroupType = @groupType')
		END
  
    EXEC sp_executesql @sql, N'@userId INT, @firm SMALLINT, @erpItemId INT, @groupType SMALLINT', @userId = @userId, @firm = @firm, @erpItemId = @erpItemId, @groupType = @groupType 
  
END