
ALTER PROCEDURE [dbo].[SP_MD_GetItemRestrictionsAtItemLevel] @userId INT, @firm SMALLINT = 0, @erpItemId INT = 0
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    SET @sql = 'SELECT DISTINCT Ir.Firm,
                                Ir.TigerItemId TigerId,
                                Ir.IsForbidden,
                                Ir.Min,
                                Ir.Max,
                                Ir.MinQuantityAtClient,
                                Ir.AutoFillType,
                                Ir.AutoFillQuantity,
                                Ir.IncreaseDecreaseQuantityType,
                                Ir.IncreaseDecreaseQuantity,
                                Ir.IsRestricted,
                                Ir.OperationBitmask,
								Ir.HideForbidden
                    FROM MD_ItemRestriction Ir WITH (NOLOCK)
                             INNER JOIN MD_CatalogItemMapping CItemMap WITH (NOLOCK) ON (CItemMap.TigerItemId = Ir.TigerItemId)
                             INNER JOIN MD_PermittedCatalog PCatalog WITH (NOLOCK) ON (PCatalog.UserId = @userId AND PCatalog.CatalogId = CItemMap.CatalogId)
                             INNER JOIN MD_Catalog Cat WITH (NOLOCK) ON (Cat.Firm = Ir.Firm AND Cat.Id = PCatalog.CatalogId)
                             INNER JOIN MD_Item Item ON Item.Firm = Ir.Firm AND Item.TigerId = Ir.TigerItemId
                    WHERE Ir.Status = 0
                      AND Item.Status = 0
                      AND Item.IsDeleted = 0';

    IF (@firm > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' And Ir.Firm = @firm')
        END

      IF (@erpItemId > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' And Ir.TigerItemId = @erpItemId')
        END

    EXEC sp_executesql @sql, N'@userId INT, @firm SMALLINT, @erpItemId INT', @userId = @userId, @firm = @firm, @erpItemId = @erpItemId

END