
ALTER PROCEDURE [dbo].[SP_CHL_SalesmanKPIReport] 
											@minDate DATETIME, 
											@maxDate DATETIME, 
											@firm SMALLINT, 
											@userId INT,
											@isAdminUser BIT = 0,
											@pointType INT = 1,
											@isAllEmployees BIT = 0,
											@surveyCreatorUsers NVARCHAR(100) = NULL,
											@clientNameOrCodeOrGroupCode NVARCHAR(50) = NULL,
											@clientSpecodes NVARCHAR(50) = NULL,
											@surveyNameOrCode NVARCHAR(50) = NULL,
											@surveySpecodes NVARCHAR(50) = NULL,
											@questionGroupsStr NVARCHAR(500) = NULL, 
											@questionTypeStr NVARCHAR(50) = '4', 
											@questionSpecodes NVARCHAR(50) = NULL,
											@surveyContentType INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF OBJECT_ID('tempdb..#SalesmanKPIPermittedUserIds') IS NOT NULL
        DROP TABLE #SalesmanKPIPermittedUserIds;

    CREATE TABLE #SalesmanKPIPermittedUserIds
    (
        UserId INT NOT NULL PRIMARY KEY
    );

    IF OBJECT_ID('tempdb..#SalesmanKPIUniqueSalesmanIds') IS NOT NULL
        DROP TABLE #SalesmanKPIUniqueSalesmanIds;

    CREATE TABLE #SalesmanKPIUniqueSalesmanIds
    (
        SalesmanId INT NOT NULL PRIMARY KEY
    );

    DECLARE @sql NVARCHAR(MAX) =
        'SELECT S.TigerId AS SalesmanId,
       S.Name AS SalesmanName,
       S.Code AS SalesmanCode,
       USR.SavedDate,
       USR.Id AS UserSurveyResponseId,
       C.TigerId AS ClientId,
       C.Name AS ClientName,
       C.Code AS ClientCode,
       SRV.Name AS SurveyName,
       SRV.Id AS SurveyId,
       USR.UserId,
       TAG.[Name] TagName,
       SR.Name AS SurveyContentType,
       USP.Point AS CalculatedPoint,
       SMP.Point AS MaxPoint
    FROM MD_Salesman S
             JOIN MD_SalesmanClientMapping SCM ON S.Firm = SCM.Firm AND S.TigerId = SCM.SalesmanId
             JOIN MD_Client C ON SCM.Firm = C.Firm AND SCM.ClientId = C.TigerId
             JOIN CHL_UserSurveyResponse USR ON C.Firm = USR.Firm AND C.TigerId = USR.ClientId
             JOIN CHL_Survey SRV ON USR.SurveyId = SRV.Id
             JOIN (
        SELECT SurveyId, sum(Point) Point
            FROM F_CHL_CalculateSurveyMaxPointsWithQuestionTypeConsidered()
            WHERE PointType = @pointType
              AND QuestionType IN (SELECT Value FROM F_SplitList(@questionTypeStr, DEFAULT))
            GROUP BY SurveyId) SMP ON SMP.SurveyId = SRV.Id
             JOIN (
        SELECT ReportId, sum(Point) Point
            FROM
                F_CHL_CalculateUserSurveyPointsWithQuestionTypeConsidered()
            WHERE PointType = @pointType
              AND QuestionType IN (SELECT Value FROM F_SplitList(@questionTypeStr, DEFAULT))
            GROUP BY ReportId) USP ON USP.ReportId = USR.ID
             LEFT JOIN (
        SELECT ST.SurveyId, T.[Name]
            FROM CHL_Tag T
                     JOIN MD_TagLabel TL ON T.TagLabelId = TL.Id
                     JOIN CHL_SurveyTag ST ON ST.TagId = T.Id
            WHERE TL.[Name] = ''Representative''
    ) TAG ON TAG.SurveyId = SRV.Id
    LEFT JOIN MD_StopReason SR on SR.Id = SRV.SurveyContentType and SR.Type = 7
    WHERE S.PositionId = @pointType
      AND USR.Status IN (1, 2, 4)
      AND (TAG.[Name] IS NULL OR S.Code IN (SELECT [Value] FROM F_SplitList(TAG.[Name], '','')))
              AND C.Firm = @firm
              AND SRV.Firm = @firm
              AND SRV.RepresentativeKPI = 1
              AND USR.SavedDate > @minDate
              AND USR.SavedDate < @maxDate'

    IF (@surveyCreatorUsers IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND USR.UserId in (select Value from F_SplitList(@surveyCreatorUsers, '',''))');
        END

    IF (@isAllEmployees = 0)
        BEGIN
            DECLARE @userIdsSql NVARCHAR(200);

            IF (@isAdminUser = 0)
                BEGIN
                    SET @userIdsSql = 'SELECT UserId FROM F_UIM_GetOrganizationTreeAllUsers(@userId)'
                END
            ELSE
                BEGIN
                    SET @userIdsSql = 'SELECT Id as UserId FROM AbpUsers WHERE IsDeleted = 0 AND IsActive = 1'
                END

            INSERT INTO #SalesmanKPIPermittedUserIds
                EXEC sp_executesql @userIdsSql, N'@userId INT', @userId = @userId

            INSERT INTO #SalesmanKPIUniqueSalesmanIds
            SELECT DISTINCT UEM.EmployeeId
                FROM UIM_UserEmployeeMapping UEM
                         JOIN MD_Salesman S ON UEM.Firm = S.Firm AND UEM.EmployeeId = S.TigerId
                         JOIN #SalesmanKPIPermittedUserIds PU ON UEM.UserId = PU.UserId
                WHERE S.Firm = @firm
                  AND (@pointType IS NULL OR S.PositionId = @pointType)

            SET @sql = CONCAT(@sql, ' AND S.TigerId in (select SalesmanId from #SalesmanKPIUniqueSalesmanIds)');
        END

    IF (@clientNameOrCodeOrGroupCode IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' and (C.Code like ''%' + @clientNameOrCodeOrGroupCode + '%'' OR C.Name like ''%' + @clientNameOrCodeOrGroupCode + '%'')');
        END

    IF (@clientSpecodes IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' and (C.SpecialCode = @clientSpecodes OR C.SpecialCode2 = @clientSpecodes OR C.SpecialCode3 = @clientSpecodes OR C.SpecialCode4 = @clientSpecodes OR C.SpecialCode5 = @clientSpecodes)');
        END

    IF (@surveyNameOrCode IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' and (SRV.Code like ''%' + @surveyNameOrCode + '%'' OR SRV.Name like ''%' + @surveyNameOrCode + '%'')');
        END

    IF (@surveySpecodes IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' and (SRV.Specode1 = @surveySpecodes OR SRV.Specode2 = @surveySpecodes OR SRV.Specode3 = @surveySpecodes)');
        END

    IF(@surveyContentType is NOT  null)
        begin
            set @sql = CONCAT(@sql, ' and SRV.SurveyContentType = @surveyContentType');
        end

    IF (@questionGroupsStr IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND (SELECT Count(*) from CHL_SurveyQuestion SQ
                                            JOIN CHL_Question Q ON SQ.QuestionId = Q.Id and SQ.SurveyId = SRV.Id
                                            WHERE q.QuestionGroupId in (select * from F_SplitList(@questionGroupsStr, '',''))) > 0');
        END

    IF (@questionSpecodes IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND (SELECT Count(*) from CHL_SurveyQuestion SQ
                                        JOIN CHL_Question Q ON SQ.QuestionId = Q.Id and SQ.SurveyId = SRV.Id
                                        WHERE q.Specode1 = @questionSpecodes OR q.Specode2 = @questionSpecodes OR q.Specode3 = @questionSpecodes) > 0');
        END

    EXEC sp_executesql @sql,
         N'@minDate DATETIME, 
		 @maxDate DATETIME,
         @firm SMALLINT, 
		 @userId INT, 
		 @isAdminUser BIT, 
		 @pointType INT,
         @isAllEmployees BIT,
         @surveyCreatorUsers NVARCHAR(30),
         @clientNameOrCodeOrGroupCode  NVARCHAR(30),
		 @clientSpecodes NVARCHAR(30),
         @surveyNameOrCode  NVARCHAR(30), 
		 @surveySpecodes NVARCHAR(30),
         @questionGroupsStr NVARCHAR(30),
		 @questionTypeStr NVARCHAR(30), 
		 @questionSpecodes NVARCHAR(30),
		 @surveyContentType INT',
         @minDate = @minDate, 
		 @maxDate = @maxDate,
         @firm = @firm, 
		 @userId = @userId, 
		 @isAdminUser = @isAdminUser, 
		 @pointType = @pointType,
         @isAllEmployees = @isAllEmployees,
         @surveyCreatorUsers = @surveyCreatorUsers,
         @clientNameOrCodeOrGroupCode = @clientNameOrCodeOrGroupCode, 
		 @clientSpecodes = @clientSpecodes,
         @surveyNameOrCode = @surveyNameOrCode, 
		 @surveySpecodes = @surveySpecodes,
         @questionGroupsStr = @questionGroupsStr, 
		 @questionTypeStr = @questionTypeStr, 
		 @questionSpecodes = @questionSpecodes, 
		 @surveyContentType = @surveyContentType
END