
ALTER PROCEDURE [dbo].[SP_CHL_ClientKPIReport] 
										@minDate DATETIME, 
										@maxDate DATETIME, 
										@firm SMALLINT, 
										@userId INT, 
										@isAdminUser BIT = 0,
                                        @pointType TINYINT = 1,
                                        @salesManCodesStr NVARCHAR(2000) = NULL, 
										@surveyCreatorUsers NVARCHAR(100) = NULL,
                                        @clientNameOrCodeOrGroupCode NVARCHAR(50) = NULL,
                                        @clientSpecodes NVARCHAR(50) = NULL,
                                        @surveyNameOrCode NVARCHAR(50) = NULL,
                                        @surveySpecodes NVARCHAR(50) = NULL,
                                        @questionGroupsStr NVARCHAR(500) = NULL, 
										@questionType INT = NULL, 
										@questionSpecodes NVARCHAR(50) = NULL,
                                        @surveyContentType INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF OBJECT_ID('tempdb..#ClientKPIPermittedUserIds') IS NOT NULL
        DROP TABLE #ClientKPIPermittedUserIds;

    CREATE TABLE #ClientKPIPermittedUserIds
    (
        UserId INT NOT NULL PRIMARY KEY
    );

    DECLARE @userIdsSql NVARCHAR(200);

    IF (@isAdminUser = 0)
        BEGIN
            SET @userIdsSql = 'SELECT UserId FROM F_UIM_GetOrganizationTreeAllUsers(@userId)'
        END
    ELSE
        BEGIN
            SET @userIdsSql = 'SELECT Id as UserId FROM AbpUsers WHERE IsDeleted = 0 AND IsActive = 1'
        END

    INSERT INTO #ClientKPIPermittedUserIds
        EXEC sp_executesql @userIdsSql, N'@userId INT', @userId = @userId

    IF OBJECT_ID('tempdb..#ClientKPIUniqueClientIds') IS NOT NULL
        DROP TABLE #ClientKPIUniqueClientIds;

    CREATE TABLE #ClientKPIUniqueClientIds
    (
        ClientId INT NOT NULL PRIMARY KEY
    );

 --   INSERT INTO #ClientKPIUniqueClientIds
	--SELECT DISTINCT C.TigerId FROM MD_Client C
	--JOIN F_GetAllPermittedClient() PC ON PC.Firm = C.Firm AND PC.ClientId = C.TigerId
	--JOIN #ClientKPIPermittedUserIds PU ON PU.UserId = PC.UserId
	
	INSERT INTO #ClientKPIUniqueClientIds
	SELECT DISTINCT SCM.ClientId
	    FROM MD_SalesmanClientMapping SCM
	             JOIN MD_Salesman S WITH(NOLOCK) ON SCM.Firm = S.Firm AND SCM.SalesmanId = S.TigerId
	             JOIN MD_Client C WITH(NOLOCK) ON SCM.Firm = C.Firm AND SCM.ClientId = C.TigerId
	             JOIN F_GetAllPermittedClient() PC ON PC.Firm = C.Firm AND PC.ClientId = C.TigerId
	             JOIN #ClientKPIPermittedUserIds PU ON PU.UserId = PC.UserId
	    WHERE C.Firm = @firm
	      AND (@salesManCodesStr IS NULL OR s.Code IN (SELECT Value FROM F_SplitList(@salesManCodesStr, ',')))

    DECLARE @sql NVARCHAR(MAX) =
        'SELECT USR.SavedDate,
			   USR.CreatedDate,
               USR.Id AS UserSurveyResponseId,
               C.TigerId AS ClientId,
               C.Name AS ClientName,
               C.Code AS ClientCode,
               SRV.Code AS SurveyCode,
               SRV.Name AS SurveyName,
               SRV.Id AS SurveyId,
               USR.UserId,
               SR.Name AS SurveyContentType,
               USP.Point AS CalculatedPoint,
               SMP.Point AS MaxPoint
            FROM MD_Client C WITH(NOLOCK)
                     JOIN CHL_UserSurveyResponse USR WITH(NOLOCK) ON C.Firm = USR.Firm AND C.TigerId = USR.ClientId
                     JOIN CHL_Survey SRV WITH(NOLOCK) ON USR.SurveyId = SRV.Id
                     JOIN F_CHL_CalculateSurveyMaxPoints(@pointType) SMP ON SMP.SurveyId = SRV.Id
                     JOIN F_CHL_CalculateUserSurveyPoints(@pointType) USP ON USP.ReportId = USR.ID
					 JOIN UIM_UserTypeUserMapping UTUM WITH(NOLOCK) ON UTUM.UserId = USR.UserId					 
                     LEFT JOIN MD_StopReason SR WITH(NOLOCK) on SR.Id = SRV.SurveyContentType and SR.Type = 7
            WHERE USR.Status IN (1, 2, 4)
              AND C.Firm = @firm
              AND C.TigerId in (select ClientId from #ClientKPIUniqueClientIds)
              AND SRV.Firm = @firm
              AND SRV.ClientKPI = 1
              AND USR.SavedDate > @minDate
              AND USR.SavedDate < @maxDate'

    IF (@surveyCreatorUsers IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND USR.UserId in (select Value from F_SplitList(@surveyCreatorUsers, '',''))');
        END


    IF (@clientNameOrCodeOrGroupCode IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' and (C.Code like ''%' + @clientNameOrCodeOrGroupCode + '%'' OR C.Name like ''%' + @clientNameOrCodeOrGroupCode + '%'' OR C.TradingGroupCode like ''%' + @clientNameOrCodeOrGroupCode + '%'')');
        END

    IF (@clientSpecodes IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' and (C.SpecialCode = @clientSpecodes OR C.SpecialCode2 = @clientSpecodes OR C.SpecialCode3 = @clientSpecodes OR C.SpecialCode4 = @clientSpecodes OR C.SpecialCode5 = @clientSpecodes)');
        END

    IF (@surveyNameOrCode IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' and (SRV.Code like ''%' + @surveyNameOrCode + '%'' OR SRV.Name like ''%' + @surveyNameOrCode + '%'')');
        END

    IF (@surveySpecodes IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' and (SRV.Specode1 = @surveySpecodes OR SRV.Specode2 = @surveySpecodes OR SRV.Specode3 = @surveySpecodes)');
        END

    IF (@questionGroupsStr IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND (SELECT Count(*) from CHL_SurveyQuestion SQ WITH(NOLOCK)
                                            JOIN CHL_Question Q WITH(NOLOCK) ON SQ.QuestionId = Q.Id and SQ.SurveyId = SRV.Id
                                            WHERE q.QuestionGroupId in (select * from F_SplitList(@questionGroupsStr, '',''))) > 0');
        END

    IF (@questionType IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND (SELECT Count(*) from CHL_SurveyQuestion SQ WITH(NOLOCK)
                                        JOIN CHL_Question Q WITH(NOLOCK) ON SQ.QuestionId = Q.Id and SQ.SurveyId = SRV.Id
                                        WHERE q.Type = @questionType) > 0');
        END

    IF (@questionSpecodes IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' AND (SELECT Count(*) from CHL_SurveyQuestion SQ WITH(NOLOCK)
                                        JOIN CHL_Question Q WITH(NOLOCK) ON SQ.QuestionId = Q.Id and SQ.SurveyId = SRV.Id
                                        WHERE q.Specode1 = @questionSpecodes OR q.Specode2 = @questionSpecodes OR q.Specode3 = @questionSpecodes) > 0');
        END

    IF (@surveyContentType IS NOT NULL)
        BEGIN
            SET @sql = CONCAT(@sql, ' and SRV.SurveyContentType = @surveyContentType');
        END

		SET @sql = CONCAT(@sql, ' OPTION(RECOMPILE)')

    EXEC sp_executesql @sql,
         N'@userId INT,
		 @pointType INT,
		 @firm SMALLINT,
         @minDate DATETIME, 
		 @maxDate DATETIME,
         @salesManCodesStr  NVARCHAR(MAX), 
		 @surveyCreatorUsers NVARCHAR(30),
         @clientNameOrCodeOrGroupCode NVARCHAR(30), 
		 @clientSpecodes NVARCHAR(30),
         @surveyNameOrCode  NVARCHAR(30),
		 @surveySpecodes NVARCHAR(30),
         @questionGroupsStr NVARCHAR(30),
		 @questionType INT,
		 @questionSpecodes NVARCHAR(30), 
		 @surveyContentType INT',
         @userId = @userId, 
		 @pointType = @pointType, 
		 @firm = @firm,
         @minDate = @minDate, 
		 @maxDate = @maxDate,
         @salesManCodesStr = @salesManCodesStr, 
		 @surveyCreatorUsers = @surveyCreatorUsers,
         @clientNameOrCodeOrGroupCode = @clientNameOrCodeOrGroupCode,
		 @clientSpecodes = @clientSpecodes,
         @surveyNameOrCode = @surveyNameOrCode,
		 @surveySpecodes = @surveySpecodes,
         @questionGroupsStr = @questionGroupsStr,
		 @questionType = @questionType,
		 @questionSpecodes = @questionSpecodes,
		 @surveyContentType = @surveyContentType
END