CREATE Function [dbo].[FN_TS_Report_GetClientOperationsTotalInfo_XXX_YY](@clientId int)
    RETURNS TABLE
        AS RETURN
        -- Date: 07.24.2022
-- Written by TayqaTech (Shahri Yahyayeva) for TayqaSale
-- Description: The query returns a report on overdue debts and client operations
-- Ticket: TSC-3710

            (
                SELECT GroupID,
                       Name,
                       Value,
                       row_number() over (partition by GroupID order by Name) AS OrderNumber,
                       (case
                            when Color between 0 and 80 and Name in ('CashIn', 'ClientUnpaidDebt') then '#FF0000'
                            when Color > 80 and Name in ('CashIn', 'ClientUnpaidDebt') then '#228B22'
                            else '#000000'
                           end)                                               as Color
                FROM (select cast((row_number() over (order by CAPIDIV.Nr )) as varchar(50))                         AS N'GroupID',
                             cast(CAPIDIV.NR as varchar(50))                                                         AS N'DivisionNr',
                             cast(CAPIDIV.NAME as varchar(50))                                                       AS DivisionName,
                             cast(CLRNUMS.ACCRISKLIMIT as varchar(50))                                               AS RiskLimit,
                             cast(((ISNULL(SUM((IIF(CLFLINE.SIGN = 0, 1, -1)) * CLFLINE.AMOUNT), 0)) -
                                   (ISNULL(SUM((IIF(CLFLINE.DATE_ >= DATEADD(DAY, -0, cast(getdate() as date)) AND
                                                    CLFLINE.SIGN = 1, 1, 0)) * CLFLINE.AMOUNT), 0))) as varchar(50)) AS ClientUnpaidDebt,
                             cast((GNTOTCL.DEBIT - GNTOTCL.CREDIT) as varchar(50))                                   AS DivisionDebt,
                             cast((ROUND(SUM(IIF(TRCODE IN (37, 38), AMOUNT, 0)), 2)) as varchar(50))                AS SalesTotal,
                             cast((ROUND(SUM(IIF(TRCODE IN (32, 33), AMOUNT, 0)), 2)) as varchar(50))                AS ReturnTotal,
                             cast((ROUND(SUM(IIF(TRCODE IN (1), AMOUNT, 0)), 2)) as varchar(50))                     AS CashIn,
                             ((ROUND(SUM(IIF(TRCODE IN (1), AMOUNT, 0)), 2)) * 100) /
                             ((ISNULL(SUM((IIF(CLFLINE.SIGN = 0, 1, -1)) * CLFLINE.AMOUNT), 0)) -
                              (ISNULL(SUM((IIF(CLFLINE.DATE_ >=
                                               DATEADD(DAY, -0, cast(getdate() as date)) AND
                                               CLFLINE.SIGN = 1, 1, 0)) * CLFLINE.AMOUNT), 0)))                      as Color

                      from LG_XXX_YY_CLFLINE CLFLINE WITH (NOLOCK)
                               join LG_XXX_CLCARD CLCARD WITH (NOLOCK) ON (CLCARD.LOGICALREF = CLFLINE.CLIENTREF)
                               join L_CAPIDIV CAPIDIV WITH (NOLOCK) on (CAPIDIV.NR = CLFLINE.BRANCH) and CAPIDIV.FIRMNR = CAST(XXX AS INT)
                               left join LG_XXX_YY_GNTOTCL GNTOTCL WITH (NOLOCK) On (GNTOTCL.CARDREF = CLCARD.LOGICALREF) and TOTTYP = 1
                          --and GNTOTCL.BRANCH = CLFLINE.BRANCH
                               left join LG_XXX_YY_CLRNUMS CLRNUMS WITH (NOLOCK) ON CLRNUMS.CLCARDREF = CLCARD.LOGICALREF
                      where date_ >= dateadd(day, -90, cast(getdate() as date))
                        and CLCARD.LOGICALREF = @clientId

                      group by CLRNUMS.ACCRISKLIMIT, CAPIDIV.NR, CAPIDIV.NAME, GNTOTCL.DEBIT, GNTOTCL.CREDIT) as pvt
                         UNPIVOT
                         (Value FOR Name IN
                        (DivisionNr, DivisionName, RiskLimit, ClientUnpaidDebt, DivisionDebt, SalesTotal, ReturnTotal, CashIn)
                         ) AS unpvt

            )
