CREATE Function [dbo].[FN_TS_Report_GetMatirutyDebtByClientReport_XXX_YY](@date datetime)
    -- Date: 13.07.2022
-- Written by TayqaTech (Kanan Mammadov) for TayqaSale
-- Description: The query returns a report on matured debt of clients
-- Ticket: TSC-3709

    returns table as
        return
        with REPORT as (SELECT CLCARD.LOGICALREF                                              as ClientId,
                               CLCARD.CODE                                                    as ClientCode,
                               CLCARD.DEFINITION_                                             as ClientName,
                               IIF(CLCARD.CITY = '', N'Təyin edilməyib', CLCARD.CITY)         as Territory,
                               IIF(CLCARD.TOWN = '', N'Təyin edilməyib', CLCARD.TOWN)         as Region,
                               IIF(CLCARD.DISTRICT = '', N'Təyin edilməyib', CLCARD.DISTRICT) as District,
                               IIF(CLCARD.SPECODE5 = '', N'Təyin edilməyib', CLCARD.SPECODE5) as ClientType,
                               IIF(CLCARD.SPECODE = '', N'Təyin edilməyib', CLCARD.SPECODE)   as Specode,
                               IIF(CLCARD.SPECODE3 = '', N'Təyin edilməyib', CLCARD.SPECODE3) as SaleChannel,

                               ROUND(ISNULL(SUM((CASE
                                                     WHEN CLFLINE.SIGN = 1 THEN -1
                                                     WHEN CLFLINE.SIGN = 0 AND
                                                          CLFLINE.DATE_ < DATEADD(DAY, ISNULL(PAYPLAN.WRKDAYS, 0), @date)
                                                         THEN 1 END) * CLFLINE.AMOUNT), 0) - ISNULL(SUM((IIF(
                                               CLFLINE.DATE_ < convert(date, @date) and
                                               CLFLINE.DATE_ >= DATEADD(DAY, ISNULL(PAYPLAN.WRKDAYS, 0), @date) and CLFLINE.SIGN = 1,
                                               1, 0)) * CLFLINE.AMOUNT), 0), 2)               as MaturityDebt,

                               ROUND(ISNULL(SUM((IIF(cast(CLFLINE.DATE_ as date) = cast(@date as date) AND CLFLINE.TRCODE = 1, 1, 0)) * CLFLINE.AMOUNT), 0),
                                     2)                                                       as DailyPayment
                        FROM LG_XXX_YY_CLFLINE CLFLINE WITH (NOLOCK)
                                 INNER JOIN LG_XXX_CLCARD CLCARD WITH (NOLOCK) ON (CLCARD.LOGICALREF = CLFLINE.CLIENTREF)
                                 LEFT JOIN LG_XXX_PAYPLANS PAYPLAN WITH (NOLOCK) ON (PAYPLAN.LOGICALREF = CLCARD.PAYMENTREF)
                        WHERE CLFLINE.CANCELLED = 0
                          AND CLFLINE.STATUS = 0
                        GROUP BY CLCARD.LOGICALREF, CLCARD.CODE, CLCARD.DEFINITION_, CLCARD.CITY, CLCARD.TOWN, CLCARD.DISTRICT, CLCARD.SPECODE, CLCARD.SPECODE5,
                                 CLCARD.SPECODE3)

        SELECT *
        FROM REPORT
        WHERE MaturityDebt > 0
           OR DailyPayment > 0
