CREATE Function [dbo].[FN_TS_Report_GetMatirutyDebtByDivisionForDivisionsReport_XXX_YY](@date datetime, @clientId bigint)
    -- Date: 13.07.2022
-- Written by TayqaTech (Kanan Mammadov) for TayqaSale
-- Description: The query returns a report on matured debt of divisions FOR SELECTED CLIENT
-- Ticket: TSC-3709

    returns table as
        return
        with Debt as (SELECT CLFLINE.BRANCH                                   AS DivisionNr,
                             ROUND(ISNULL(SUM((CASE
                                                   WHEN CLFLINE.SIGN = 1 THEN -1
                                                   WHEN CLFLINE.SIGN = 0 AND
                                                        CLFLINE.DATE_ < DATEADD(DAY, ISNULL(PAYPLAN.WRKDAYS, 0), @date)
                                                       THEN 1 END) * CLFLINE.AMOUNT), 0) - ISNULL(SUM((IIF(
                                             CLFLINE.DATE_ < convert(date, @date) and
                                             CLFLINE.DATE_ >= DATEADD(DAY, ISNULL(PAYPLAN.WRKDAYS, 0), convert(date, @date)) and CLFLINE.SIGN = 1,
                                             1, 0)) * CLFLINE.AMOUNT), 0), 2) AS MaturityDebt,
                             ROUND(ISNULL(SUM((IIF(cast(CLFLINE.DATE_ as date) = cast(@date as date) AND CLFLINE.TRCODE = 1, 1, 0)) * CLFLINE.AMOUNT),
                                          0), 2)                              AS DailyPayment
                      FROM LG_XXX_YY_CLFLINE CLFLINE
                               WITH (NOLOCK)
                               INNER JOIN LG_XXX_CLCARD CLCARD WITH (NOLOCK) ON (CLCARD.LOGICALREF = CLFLINE.CLIENTREF)
                               LEFT JOIN LG_XXX_PAYPLANS PAYPLAN WITH (NOLOCK) ON (PAYPLAN.LOGICALREF = CLCARD.PAYMENTREF)
                      WHERE CLFLINE.CANCELLED = 0
                        AND CLFLINE.STATUS = 0
                        AND CLCARD.LOGICALREF = @clientId
                      GROUP BY CLFLINE.BRANCH)

        select DIV.NR                 as DivisionNr,
               DIV.NAME               as DivisionName,
               ROUND(MaturityDebt, 2) as MaturityDebt,
               ROUND(DailyPayment, 2) as DailyPayment
        from Debt
                 join L_CAPIDIV DIV with (nolock) on DIV.NR = Debt.DivisionNr AND DIV.FIRMNR = CAST(XXX AS INT)
        where MaturityDebt > 0
           or DailyPayment > 0

