ALTER Function [dbo].[FN_TS_Report_GetWarehouseInOutLineData_XXX_YY](@ficheId int)
RETURNS TABLE
AS RETURN
(
	SELECT distinct ITEM.NAME AS ItemName, ITEM.CODE AS ItemCode, UNITLINE.CODE AS UnitCode, LINE.AMOUNT AS Quantity , SERILOTN.CODE AS SerialNumber
	from LG_XXX_YY_STLINE LINE WITH (NOLOCK)
	INNER JOIN LG_XXX_ITEMS ITEM WITH (NOLOCK) ON ITEM.LOGICALREF = LINE.STOCKREF
	INNER JOIN LG_XXX_UNITSETL UNITLINE WITH (NOLOCK) ON UNITLINE.LOGICALREF=LINE.UOMREF
	LEFT JOIN LG_XXX_YY_SLTRANS SLTRANS ON SLTRANS.STTRANSREF = LINE.LOGICALREF
	LEFT JOIN LG_XXX_YY_SERILOTN SERILOTN ON SLTRANS.SLREF=SERILOTN.LOGICALREF
	WHERE LINE.STFICHEREF = @ficheId
)
