create FUNCTION [dbo].[F_RM_GetPermittedWarehouseInOutReportData](@firm SMALLINT, @userId bigint)
    RETURNS TABLE
        AS
        RETURN
            (
                select w.Nr, w.Name
                from MD_PermittedWarehouse pw
                         join MD_Warehouse w on w.Nr = pw.TigerWarehouseNr and w.Firm = pw.Firm and w.DivisionNr = pw.DivisionNr
                where pw.Firm = @firm
                  and UserId = @userId
                group by w.Nr, w.Name
            )