<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="vgeorgia"/>
    <Version value="V2.30"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\Logs\{environment}\{version}\pushNotificationServiceLog.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASGEO;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>    
    <PushServerKey value="AAAAoB1R71A:APA91bELZwvRWZ-PXmA4otb1teDOGWN7CAyYGKn9fNugGvqjAVEjaRg6BFnr0YpJULiqXlJnoaw-Il1HWfVmvffWy9vq9YZDELfwXvJi5Mwe8cglXtaNkM2ZuL2Z7C28PUm18yLvxioC"/>    
    <FcmEndpoint value="https://fcm.googleapis.com/fcm/send"/>
    <AdministrativePushCountLimitPerMinute value="100"/>
    <MaximumTryCounterForService value="10"/>
    <AppJsonFormat value="V1"/>
  </additionalParameters>
</configuration>
