<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section" />
    <section name="logParameters" type="section" />
    <section name="databaseParameters" type="section" />
  </configSections>
  <commonParameters>
    <Version value="V1.30" />
    <Environment value="vgeorgia" />
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\Logs\{environment}\{version}\tayqasaleMasterDataSyncScheduler.txt" />
    <LogLevel value="2" />
    <FileSizeInMB value="10" />
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASGEO;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60" />
  </databaseParameters>
  <additionalParameters>
    <AuthToken value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIyIiwidW5pcXVlX25hbWUiOiJhZG1pbiIsIm5iZiI6MTU2Nzk5ODM5MiwiZXhwIjoxNTk5MTAyMzkyLCJpYXQiOjE1Njc5OTgzOTIsImlzcyI6Imh0dHA6Ly92ZXlzZWxvZ2x1LmF6L3ZnZW9yZ2lhIiwiYXVkIjoiaHR0cDovL3ZleXNlbG9nbHUuYXovdmdlb3JnaWEifQ.m4zgtGV2YOlGBN5QSDyv1tfTYvHf6AmHLzGc1YrNpKs" />
    <MaximumTryCounterForService value="10" />
    <AllowedProcessingUnitPerMinute value="10" />
    <CheckWebSyncServiceTestUrl value="http://VOTAYQAWEB02.veyseloglu.az:1110/vgeorgia/V2.10/TigerVeyseloglu/SyncSalesMan" />
    <CheckWebSyncServiceTestUrlParams value="{&quot;Firms&quot;: [8]}" />
  </additionalParameters>
</configuration>