<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section" />
    <section name="logParameters" type="section" />
    <section name="databaseParameters" type="section" />
  </configSections>
  <commonParameters>
    <Environment value="vgeorgia" />
    <Version value="v1.2" />
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\Logs\{environment}\{version}\TayqaTechAgent.txt" />
    <LogLevel value="2" />
    <FileSizeInMB value="10" />
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASGEO;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60" />
  </databaseParameters>
  <additionalParameters>
    <AuthorizationService value="false" />
    <LicenseService value="true" />
    <ContentService value="true" />
    <MonitoringService value="false" />
    <ClientEnvironment value="prod" />
    <ClientCode value="VGeorgia" />
    <ProductCode value="TayqaSale" />
    <ProductVersion value="2.91" />
    <ServerUrl value="https://tsale-discovery.tayqatech.com/v2.0" />
    <RefreshAuthTokenMethod value="/authorization/refreshauthtoken" />
    <ServicePortalUrl value="http://VOTAYQAWEB02.veyseloglu.az:1401" />
    <LicenseCheckMethod value="/license/licensedata" />
    <DeviceDataMethod value="/license/devicedata" />
    <UserDataMethod value="/license/userdata" />
    <LogFilesMethod value="/monitoring/uploadlogfiles" />
    <LogFilesInfoMethod value="/monitoring/logfilesinfo" />
    <AppTranslationsMethod value="/content/apptranslations" />
    <TokenRefreshPeriod value="1" />
    <SyncStartHour value="20" />
    <SyncEndHour value="22" />
    <Login value="VGF5cWFTYWxlJVNlcnYhY2VfVXNlcg==" />
    <AuthToken value="first use" />
    <LogFilesPath value="C:\TayqaSale\logs\" />
    <LogFilesDaysCountToDelete value="30" />
    <LogFilesLastSendTime value="0" />
  </additionalParameters>
</configuration>