<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="vgeorgia"/>
    <Version value="v2.92"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\UserIdentityManagement\{version}\userIdentityManagement.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASGEO;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaSaleDbSecondary value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASGEO;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60;"/>
  </databaseParameters>
  <additionalParameters>
    <AllowUnknownDeviceRegistration value="true"/>
    <MaxDiscounts value="3"/>
    <MaxLoginAttemptsCount value="10"/>
    <AuthTokenLifetimeApp value="8640"/>
    <AuthAddress value="http://veyseloglu.az/vgeorgia"/>
    <SyncPeriodStart1 value="72000"/>
    <SyncPeriodEnd1 value="86370"/>
    <SyncPeriodStart2 value="21600"/>
    <SyncPeriodEnd2 value="27000"/>
    <ServicePortalUrl value="http://VOTAYQAWEB02.veyseloglu.az:1401"/>
    <Login value="VGF5cWFTYWxlJVNlcnYhY2VfVXNlcg=="/>
	<SigningKey value=" fOr VGeorgia 20!9!"/>
  </additionalParameters>
</configuration>
