
CREATE       proc [dbo].[SP_CM_GetItemIdsByGroupId] (    
    @firm SMALLINT ,
    @itemIds nvarchar(max) ,
    @itemGroupIds nvarchar(max) ,
	@conditionFormat tinyint,
	@groupType tinyint null)
AS
BEGIN 
SET NOCOUNT ON;

declare @itemGroupType tinyint = (select Value from SYS_GlobalConfigParameter where Name = 'ItemGroupTypeForCampaign' and Status = 1)

IF @itemGroupType is not null
	Set @groupType = @itemGroupType

Declare @Query nvarchar(max);

IF @conditionFormat = 5 or @conditionFormat=1
	 select Distinct( items.itemId) ItemId from (SELECT LTRIM(Value) itemId FROM F_SplitList(@itemIds,',')) items
	 join MD_ItemGroupItemMapping map with (nolock) on  items.itemId =map.ItemId and map.Firm=@firm
	 where map.GroupId  in (SELECT LTRIM(Value) groupId FROM F_SplitList(@itemGroupIds,',')) and  map.GroupType=@groupType

IF @conditionFormat = 6 or @conditionFormat=2
	 select Distinct( items.itemId) ItemId from (SELECT LTRIM(Value) itemId FROM F_SplitList(@itemIds,',')) items
	 join MD_ItemGroupItemMapping map with (nolock) on  items.itemId =map.ItemId and map.Firm=@firm
	 where map.GroupId not in (SELECT LTRIM(Value) groupId FROM F_SplitList(@itemGroupIds,',')) and  map.GroupType=@groupType

 END

