
CREATE  PROCEDURE [dbo].[SP_CM_GetCampaignBudgetConsumptionDetails]
@campaignId int,
@docNumber nvarchar(50) null,
@startDate datetime null,
@endDate datetime null,
@docType tinyint null,
@clientNameOrCode nvarchar(200) null,
@salesmanNameOrCode nvarchar(200) null,
@division nvarchar(200) null,
@warehouse nvarchar(200) null,
@users nvarchar(max) null,
@promoType tinyint null
AS
BEGIN
SET NOCOUNT ON;

Declare @Query nvarchar(max);
Set @Query='
select
iLog.Id,
iLog.DocCreatedTime CreationDate,
iLog.DocType,
JSON_VALUE(resultLog.ImportResult,''$.ERPDocInfo.FicheNo'') FicheNo,
client.Code ClientCode,
client.Name ClientName,
salesman.Code SalesmanCode,
salesman.Name SalesmanName,
division.Name Division,
warehouse.Name Warehouse,
users.UserName Username,
CAST(JSON_VALUE(resultLog.ImportResult,''$.ERPDocInfo.GrossAmount'') AS Float) TotalAmount,
COUNT(promoCons.Id) PromoCount,
SUM(promoCons.Consumption) Consumption
from CM_CampaignBudgetPromoConsumption promoCons with (nolock)  
join CM_CampaignDiscountTermPromo promo with (nolock)  on promo.Id = promoCons.PromoId
join OP_IncomingLog iLog with (nolock)  on promoCons.RequestId=iLog.Id
join OP_GeneralLog gLog with (nolock)  on iLog.Id=gLog.RequestId and  gLog.ImportResult=0
join  OP_ERPIntegrationtResultLog resultLog with (nolock)  on resultLog.GeneralId=gLog.Id
join OP_IncomingLogCommonExtension iLogEx with (nolock)  on iLogEx.Id=iLog.Id 
join MD_Client client with (nolock)  on client.TigerId= iLog.ClientId and client.Firm=iLog.Firm
left join MD_Salesman salesman with (nolock) on salesman.TigerId= iLog.SalesmanRef and salesman.Firm=iLog.Firm
join MD_Division division with (nolock)  on division.Nr= iLog.Division and iLog.Firm=division.Firm
join MD_Warehouse warehouse with (nolock) on warehouse.Nr= iLogEx.WhouseNr and iLog.Firm =warehouse.Firm
join AbpUsers users with (nolock) on users.Id =iLog.UserId'

SET @Query = CONCAT(@Query,' Where promoCons.CampaignId=@campaignId')

IF @startDate IS NOT NULL and @endDate  IS NOT NULL
		SET @Query = CONCAT(@Query,' and ( @startDate <= iLog.DocCreatedTime and @endDate >= iLog.DocCreatedTime )' )


IF @docType IS NOT NULL 
		SET @Query = CONCAT(@Query,' and iLog.DocType = @docType' )

IF @promoType IS NOT NULL
		SET @Query = CONCAT(@Query,' and promo.PromoType = @promoType' )

IF @clientNameOrCode IS NOT NULL
		SET @Query = CONCAT(@Query,' and (client.Code like ''%''+@clientNameOrCode+''%'' or client.Name like ''%''+@clientNameOrCode+''%'')' )

IF @salesmanNameOrCode IS NOT NULL
		SET @Query = CONCAT(@Query,' and (salesman.Code like ''%''+@salesmanNameOrCode+''%'' or salesman.Name like ''%''+@salesmanNameOrCode+''%'')' )

IF @division IS NOT NULL and TRY_PARSE(@division AS int) IS NULL
		SET @Query = CONCAT(@Query,' and (division.Name like ''%''+@division+''%'')')

IF @division IS NOT NULL and (TRY_PARSE(@division AS int) IS NOT NULL)
		SET @Query = CONCAT(@Query,' and (division.Name like ''%''+@division+''%'' or division.Nr=@division)')

IF @warehouse IS NOT NULL and TRY_PARSE(@warehouse AS int) IS NULL
		SET @Query = CONCAT(@Query,' and (warehouse.Name like ''%''+@warehouse+''%'')')

IF @warehouse IS NOT NULL and (TRY_PARSE(@warehouse AS int) IS NOT NULL)
		SET @Query = CONCAT(@Query,' and (warehouse.Name like ''%''+@warehouse+''%'' or warehouse.Nr=@warehouse)')

IF @docNumber IS NOT NULL 
		SET @Query = CONCAT(@Query,' and (ISJSON(resultLog.ImportResult)=1 AND JSON_VALUE(resultLog.ImportResult,''$.ERPDocInfo.FicheNo'')  like ''%''+@docNumber+''%'')')

IF @users IS NOT NULL
        SET @Query = CONCAT(@Query, ' and (iLog.UserId IN (SELECT * FROM F_SplitList(@users, '','')))')

SET @Query = CONCAT(@Query,' 
group by
iLog.Id,
iLog.DocCreatedTime,
iLog.DocType,
iLog.DocNumber,
resultLog.ImportResult,
promoCons.RequestId,
client.Code,
client.Name,
salesman.Code,
salesman.Name,
division.Name,
warehouse.Name,
users.UserName')

 Print(@Query)

   EXEC sp_executesql @Query, N'
    @startDate datetime ,
    @endDate datetime ,
    @docType tinyint ,
    @clientNameOrCode NVARCHAR(200) ,
    @salesmanNameOrCode NVARCHAR(200) ,
    @division NVARCHAR(200) ,
    @warehouse NVARCHAR(200) ,
	@users NVARCHAR(max),
	@campaignId int,
	@docNumber nvarchar(50),
	@promoType tinyint',
	@docNumber=@docNumber,
	@startDate = @startDate,
    @endDate = @endDate,
    @docType =@docType,
    @clientNameOrCode = @clientNameOrCode,
    @salesmanNameOrCode = @salesmanNameOrCode,
    @division = @division,
    @warehouse = @warehouse ,
    @users = @users,
	@campaignId=@campaignId,
	@promoType=@promoType
END