CREATE OR ALTER procedure [dbo].[SP_SM_GetDailyDistanceReport](@currentUserId int,
                                                      @startDate datetime,
                                                      @endDate datetime,
                                                      @userIds nvarchar(max)=null)
as


declare
    @Query nvarchar(max) = '

with RouteTime as (select RouteTime.UserId                                                  as UserId,
                          RouteTime.Date                                                    as Date,
                          iif(ObjectId = 12 and Objectvalue = 1, RouteTime.StartTime, null) as StartTime,
                          iif(ObjectId = 13 and Objectvalue = 1, RouteTime.EndTime, null)   as EndTime
                   from WPM_Route RouteTime with (nolock)
                            left join UIM_UserConfigParameter Configs with (nolock) on RouteTime.UserId = Configs.UserId
                   where ObjectId in (12, 13)
                     and cast(Date as date) between cast(@startDate as date) and cast(@endDate as date)),

     SaleActions as (select UserId                   as UserId,
                            ProcessDate              as Date,
                            min(ILog.DocCreatedTime) as FirstAction,
                            max(ILog.DocCreatedTime) as LastAction
                     from OP_IncomingLog ILog with (nolock)
                              join OP_GeneralLog GLog with (nolock) on ILog.Id = GLog.RequestId and GLog.ImportResult = 0
                     where ILog.ProcessDate between cast(@startDate as date) and cast(@endDate as date)
                     group by UserId, ProcessDate),

     Result as (select coalesce(RouteTime.UserId, SaleActions.UserId)         as UserId,
                       coalesce(RouteTime.Date, SaleActions.Date)             as Date,
                       coalesce(RouteTime.StartTime, SaleActions.FirstAction) as MinTime,
                       coalesce(RouteTime.EndTime, SaleActions.LastAction)    as MaxTime
                from RouteTime
                         full outer join SaleActions on RouteTime.UserId = SaleActions.UserId and RouteTime.Date = SaleActions.Date),

     Summary as (select UserId       as UserId,
                        min(MinTime) as MinTime,
                        max(MaxTime) as MaxTime
                 from Result
                 group by UserId),

     GeoData as (select UserId                                                                 as UserId,
                        TimeSpan                                                               as Time,
                        Latitude                                                               as SourceLatitude,
                        Longitude                                                              as SourceLongitude,
                        isnull(lag(Latitude) over (partition by UserId order by TimeSpan), 0)  as DestinationLatitude,
                        isnull(lag(Longitude) over (partition by UserId order by TimeSpan), 0) as DestinationLongitude
                 from OP_UserAllGpsData with (nolock)
                 where cast(TimeSpan as date) between cast(@startDate as date) and cast(@endDate as date)),

     Distance as (select UserId,
                         Time,
                         IIF(DestinationLatitude = 0 OR SourceLatitude = 0,
                             -1,
                             geography::Point(GeoData.SourceLatitude, GeoData.SourceLongitude, 4326).STDistance(
                                     geography::Point(GeoData.DestinationLatitude, GeoData.DestinationLongitude, 4326))) as DistanceInKm
                  from GeoData),

     DistanceResult as (select UserId                             as UserId,
                               min(Time)                          as MinTime,
                               max(Time)                          as MaxTime,
                               round(sum(DistanceInKm / 1000), 2) as TotalDistance
                        from Distance
                        where DistanceInKm > 0
                        group by UserId),

     Final as (select coalesce(Summary.UserId, DistanceResult.UserId)   as UserId,
                      coalesce(Summary.MinTime, DistanceResult.MinTime) as MinDate,
                      coalesce(Summary.MaxTime, DistanceResult.MaxTime) as MaxDate,
                      isnull(TotalDistance, 0)                          as TotalDistance
               from Summary
                        full outer join DistanceResult on Summary.UserId = DistanceResult.UserId),

     Output as (select Users.Id                                as UserId,
                       sum(TotalDistance)                      as TotalDistance,
                       sum(datediff(minute, MinDate, MaxDate)) as TotalWorkTime,
                       Users.Name                              as UserName,
                       min(Final.MinDate)                      as MinDate,
                       max(Final.MaxDate)                      as MaxDate
                from Final
                         join AbpUsers Users with (nolock) on Users.Id = Final.UserId
                where MinDate is not null
                   or MaxDate is not null
                group by Users.Id, Users.Name)

select Output.*
from Output
         join F_GetPermittedUsers(@currentUserId) Tree on Tree.UserId = Output.UserId'
    if @userIds is not null
        set @Query = concat(@Query, ' join (select Value from F_SplitList(@userIds, '','')) T on T.Value = Output.UserId')


    exec sp_executesql @Query, N'@currentUserId int, @startDate datetime, @endDate datetime, @userIds nvarchar(200)=NULL',
         @currentUserId = @currentUserId, @startDate=@startDate, @endDate=@endDate, @userIds=@userIds


go


CREATE OR ALTER procedure [dbo].[SP_SM_GetDailyDistanceReportLogginReport](
    @userId int,
    @startDate datetime,
    @endDate datetime)
as
with RouteTime as (select RouteTime.UserId                                                  as UserId,
                          RouteTime.Date                                                    as Date,
                          iif(ObjectId = 12 and Objectvalue = 1, RouteTime.StartTime, null) as StartTime,
                          iif(ObjectId = 13 and Objectvalue = 1, RouteTime.EndTime, null)   as EndTime
                   from WPM_Route RouteTime with (nolock)
                            left join UIM_UserConfigParameter Configs with (nolock) on RouteTime.UserId = Configs.UserId
                   where ObjectId in (12, 13)
                     and RouteTime.UserId = @userId
                     and cast(Date as date) between cast(@startDate as date) and  cast(@endDate as date)),

     SaleActions as (select UserId                   as UserId,
                            ProcessDate              as Date,
                            min(ILog.DocCreatedTime) as FirstAction,
                            max(ILog.DocCreatedTime) as LastAction
                     from OP_IncomingLog ILog with (nolock)
                              join OP_GeneralLog GLog with (nolock) on ILog.Id = GLog.RequestId and GLog.ImportResult = 0
                     where ILog.ProcessDate between cast(@startDate as date) and  cast(@endDate as date)
                       and UserId = @userId
                     group by UserId, ProcessDate),

     Result as (select coalesce(RouteTime.UserId, SaleActions.UserId)                       as UserId,
                       cast(coalesce(RouteTime.Date, SaleActions.Date) as date)             as Date,
                       cast(coalesce(RouteTime.StartTime, SaleActions.FirstAction) as time) as MinTime,
                       cast(coalesce(RouteTime.EndTime, SaleActions.LastAction) as time)    as MaxTime
                from RouteTime
                         full outer join SaleActions on RouteTime.UserId = SaleActions.UserId and RouteTime.Date = SaleActions.Date),

     Summary as (select UserId                                  as UserId,
                        Date                                    as Date,
                        min(MinTime)                            as MinTime,
                        max(MaxTime)                            as MaxTime,
                        sum(datediff(minute, MinTime, MaxTime)) as TotalWorkTime
                 from Result
                 group by UserId, Date),

     GeoData as (select UserId                                                                 as UserId,
                        TimeSpan                                                               as Time,
                        Latitude                                                               as SourceLatitude,
                        Longitude                                                              as SourceLongitude,
                        isnull(lag(Latitude) over (partition by UserId order by TimeSpan), 0)  as DestinationLatitude,
                        isnull(lag(Longitude) over (partition by UserId order by TimeSpan), 0) as DestinationLongitude
                 from OP_UserAllGpsData with (nolock)
                 where cast(TimeSpan as date) between cast(@startDate as date) and  cast(@endDate as date)
                   and UserId = @userId),

     Distance as (select UserId,
                         Time,
                         IIF(DestinationLatitude = 0 OR SourceLatitude = 0,
                             -1,
                             geography::Point(GeoData.SourceLatitude, GeoData.SourceLongitude, 4326).STDistance(
                                     geography::Point(GeoData.DestinationLatitude, GeoData.DestinationLongitude, 4326))) as DistanceInKm
                  from GeoData),

     DistanceResult as (select UserId                             as UserId,
                               cast(Time as date)                 as Date,
                               cast(min(Time) as time)            as MinTime,
                               cast(max(Time) as time)            as MaxTime,
                               round(sum(DistanceInKm / 1000), 2) as TotalDistance
                        from Distance
                        where DistanceInKm > 0
                        group by UserId, cast(Time as date)),

     Final as (select coalesce(Summary.UserId, DistanceResult.UserId)   as UserId,
                      coalesce(Summary.Date, DistanceResult.Date)       as Date,
                      coalesce(Summary.MinTime, DistanceResult.MinTime) as MinTime,
                      coalesce(Summary.MaxTime, DistanceResult.MaxTime) as MaxTime,
                      isnull(TotalWorkTime, 0)                          as TotalWorkTime,
                      isnull(TotalDistance, 0)                          as TotalDistance
               from Summary
                        full outer join DistanceResult on Summary.Date = DistanceResult.Date)

select Date                                                                                                                                       as Day,
       TotalDistance                                                                                                                              as TotalDistance,
       Final.MaxTime                                                                                                                              as EndTime,
       Final.MinTime                                                                                                                              as StartTime,
       UserId                                                                                                                                     as UserId,
       cast(concat(floor(datediff(minute, Final.MinTime, Final.MaxTime) / 60), ':', datediff(minute, Final.MinTime, Final.MaxTime) % 60) as time) as TotalTime
from Final