CREATE  procedure [dbo].[SP_IM_TrackInventoryDemands](@currentUserId int,
															   @clientTigerId int = null,
															   @clientName nvarchar(max) = null,
															   @itemName nvarchar(max) = null,
															   @inventoryDemandStatus tinyint =null,
															   @inventoryDemandType tinyint =null)
as
BEGIN

declare @sqlQuery nvarchar(max);

SET @sqlQuery=
'SELECT 
				inventoryDemand.Id,
				inventoryDemand.ClientTigerId,
				client.Name AS ClientName,
				client.Code AS ClientCode,
				item.Name AS ItemName,
				item.Code AS ItemCode,
				item.TigerId AS ItemTigerId,
				inventoryDemandInventoryMapping.InventoryId,
				firm.Nr AS Firm,
				firm.Name AS FirmName,
				inventoryDemand.Description,
				inventoryDemand.ParentUserDescription,
				inventoryDemand.CreationTime,
				inventoryDemand.LastModificationTime,
				inventoryDemand.DemandStatus,
				inventoryDemand.DemandType,
				confirmedUser.Name + '' '' + confirmedUser.Surname AS ConfirmerUsername,
			    rejectedUser.Name + '' '' + rejectedUser.Surname AS RejectorUsername,
				demandReason.Id AS DemandReasonId,
				demandReason.Name DemandReasonName,
				demandReason.Type AS DemandReasonType,
				inventoryDemandImage.Id AS ImageId,
				inventoryDemandImage.SecureUrl,
				inventoryDemand.CancelReason,
				CAST(confirmedUser2.Id as int) AS ConfirmedUserId2,
				confirmedUser2.Name + '' '' + confirmedUser2.Surname AS ConfirmedUserFullName2,
				inventoryDemand.ConfirmedDate2,
				inventoryDemand.ConfirmedUserDescription2,
				CAST(rejectedUser2.Id as int) AS RejectedUserId2,
				rejectedUser2.Name + '' '' + rejectedUser2.Surname AS RejectedUserFullName2,
				inventoryDemand.RejectedDate2,
				inventoryDemand.RejectedUserDescription2,
				inventoryDemand.Step,
				inventoryDemand.Warehouse,
				inventoryDemand.Division,
				inventoryDemand.IsScanned,
				inventoryDemand.UId,
				inventory.RegistrationNr AS InventoryRegistrationNr,
				CAST(inventoryDemand.CreatorUserId as int) AS CreatorUserId

				FROM IM_InventoryDemand inventoryDemand WITH(NOLOCK)
				JOIN MD_Item item WITH(NOLOCK) ON inventoryDemand.Firm = item.Firm AND inventoryDemand.ItemTigerId = item.TigerId
				JOIN MD_Client client WITH(NOLOCK) ON inventoryDemand.Firm = client.Firm and inventoryDemand.ClientTigerId = client.TigerId
				JOIN MD_Firm firm WITH(NOLOCK) ON inventoryDemand.Firm = firm.Nr
				JOIN IM_StaticContent demandReason WITH(NOLOCK) ON inventoryDemand.InventoryDemandReasonId = demandReason.Id

				LEFT JOIN IM_InventoryDemandInventoryMapping inventoryDemandInventoryMapping WITH(NOLOCK) ON inventoryDemand.Id = inventoryDemandInventoryMapping.InventoryDemandId
				LEFT JOIN IM_Inventory inventory WITH(NOLOCK) ON inventory.Id = inventoryDemandInventoryMapping.InventoryId
				LEFT JOIN IM_InventoryDemandImage inventoryDemandImage WITH(NOLOCK) ON inventoryDemand.Id = inventoryDemandImage.InventoryDemandId
				LEFT JOIN AbpUsers confirmedUser WITH(NOLOCK) ON inventoryDemand.ConfirmedUserId = confirmedUser.Id
			    LEFT JOIN AbpUsers rejectedUser WITH(NOLOCK) ON inventoryDemand.RejectedUserId = rejectedUser.Id
				LEFT JOIN AbpUsers confirmedUser2 WITH(NOLOCK) ON inventoryDemand.ConfirmedUserId2 = confirmedUser2.Id
				LEFT JOIN AbpUsers rejectedUser2 WITH(NOLOCK) ON inventoryDemand.RejectedUserId2 = rejectedUser2.Id
				WHERE inventoryDemand.CreatorUserId = @currentUserId ';

	if @clientTigerId IS NOT NULL
		BEGIN
			SET @sqlQuery = CONCAT(@sqlQuery, ' AND inventoryDemand.ClientTigerId = @clientTigerId');
		END
		
	if @clientName IS NOT NULL
		BEGIN
			SET @sqlQuery = CONCAT(@sqlQuery, ' AND client.Name LIKE ''%@clientName%''');
		END  

	if @itemName IS NOT NULL
		BEGIN
			SET @sqlQuery = CONCAT(@sqlQuery, ' AND item.Name LIKE ''%@itemName%''');
		END

    if @inventoryDemandStatus IS NOT NULL
		BEGIN
			SET @sqlQuery = CONCAT(@sqlQuery, ' AND inventoryDemand.DemandStatus = @inventoryDemandStatus');
		END

	if @inventoryDemandType IS NOT NULL
		BEGIN
			SET @sqlQuery = CONCAT(@sqlQuery, ' AND inventoryDemand.DemandType = @inventoryDemandType');
		END

		print(@sqlQuery);

EXEC sp_executesql @sqlQuery,
				 N' @currentUserId int,
					@clientTigerId int,
					@clientName nvarchar(max),
					@itemName nvarchar(max),
					@inventoryDemandStatus tinyint,
					@inventoryDemandType tinyint',
					@currentUserId = @currentUserId,
					@clientTigerId = @clientTigerId,
					@clientName = @clientName,
					@itemName = @itemName,
					@inventoryDemandStatus = @inventoryDemandStatus,
					@inventoryDemandType = @inventoryDemandType

END