
create FUNCTION [dbo].[F_MD_GetClientGroupItemQuantityOperationRestrictionNew](@requestId int,@partNo tinyint, @groupType smallint)
    RETURNS @T TABLE
               (
                   Id               INT,
                   Firm             SMALLINT,
				   ClientGroupId	INT,
				   GroupName        NVARCHAR(50),
				   GroupCode		NVARCHAR(50),
				   GroupType		smallint,
                   TigerItemId      INT,
                   OperationId      TINYINT,
                   StartDate        DATE,
                   EndDate          DATE,
                   MaxQuantity      FLOAT,
				   CreationTime     DATETIME,
				   CreatorUserName  NVARCHAR(50)
               )
AS
BEGIN

    INSERT INTO @T
    SELECT Id,
           Firm,
		   GroupId,
           GroupName,
           GroupCode,
		   GroupType,
           TigerItemId,
           OperationId,
           StartDate,
           EndDate,
           MaxQuantity,
		   CreationTime,
		   CreatorUserName
    FROM (
             SELECT R.Id,
                    r.Firm as Firm,
					cgi.GroupId,
                    cgi.GroupName as GroupName,
                    cgi.GroupCode as GroupCode,
					cgi.GroupType,
                    TigerItemId,
                    OperationId,
                    StartDate,
                    EndDate,
                    MaxQuantity,
                    ROW_NUMBER() OVER (PARTITION BY R.Firm,cgd.ClientId,TigerItemId, OperationId ORDER BY DATEDIFF(DAY, RQ.ProcessDate, EndDate)) AS RowNumber,
					IIF(R.LastModificationTime IS NOT NULL, R.LastModificationTime, R.CreationTime) AS CreationTime, -- R.CreationTime
					IIF(R.LastModifierUserId IS NOT NULL, MU.UserName, CU.UserName) AS CreatorUserName
             FROM MD_ClientGroupItemQuantityOperationRestriction R with(nolock) 
			 LEFT JOIN AbpUsers CU with(nolock) ON R.CreatorUserId = CU.Id
			 LEFT JOIN AbpUsers MU  with(nolock)  ON R.LastModifierUserId = MU.Id
			 INNER JOIN MD_ClientGroupData cgd  with(nolock)  on cgd.GroupId = r.ClientGroupId and cgd.Firm = r.Firm
			 LEFT JOIN MD_ClientGroupInfo cgi  with(nolock)  on cgd.GroupId = cgi.GroupId and cgd.Firm = cgi.Firm and cgd.GroupType = cgi.GroupType
			 JOIN OP_RequestQueue RQ  with(nolock) on RQ.Id = @requestId AND RQ.PartNo = @partNo
             WHERE cgd.ClientId = RQ.ClientId
				AND @groupType = cgd.GroupType
				AND RQ.ProcessDate >= StartDate
				AND RQ.ProcessDate <= EndDate
				AND (RQ.DocType + 1) = OperationId 
				AND RQ.Firm = r.Firm 
				AND Status = 0
				AND R.TigerItemId in (select ItemId from OP_RequestQueueCommonLineExtension  with(nolock) where Id=@requestId and PartNo = @partNo)
         ) result
    WHERE result.RowNumber = 1
    RETURN;
END