create proc [dbo].[SP_OP_GetPreOperationControl](
    @userId int,
    @firm smallint,
    @clientId int,
    @docType tinyint
)
as
begin

    if @docType = 0
        select N'Icazə verilmir' as [Key], N'Icazə detalı' as Value
        from MD_Client
        where TigerId = @clientId and Name like 'A%'

end