
Create FUNCTION [dbo].[F_GetDistributionPermittedClientCount]()
    RETURNS TABLE
        AS
        RETURN
            (
               select
				plans.Id PlanId,
				plans.UserId,
				plans.Month,
				cdt.Firm,
				cdt.GroupId,
				plans.Year,
				count(pc.ClientId) ClientCount
				from MD_DistributionItemGroupPlan plans
				join MD_ClientGroupData cdt on cdt.GroupId=plans.ClientGroupId and cdt.GroupType=(select value from SYS_GlobalConfigParameter where Name='ClientGroupTypeForDistribution')
				join F_GetAllPermittedClient() pc on cdt.ClientId = pc.ClientId and cdt.Firm = pc.Firm and pc.UserId =plans.UserId
				group by 
				plans.Id,
				plans.UserId,
				plans.Month,
				cdt.Firm,
				cdt.GroupId,
				plans.Year
            )

