
CREATE TABLE [dbo].[OP_OnlineOfferTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Firm] [smallint] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](250) NULL,
	[ProcedureName] [nvarchar](100) NOT NULL,
	[OperationsMask] [nvarchar](5) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[CreatorUserId] [bigint] NULL,
	[CreationTime] [datetime] NOT NULL,
	[LastModifierUserId] [bigint] NULL,
	[LastModificationTime] [datetime] NULL,
 CONSTRAINT [PK__OP_Onlin__3214EC07BD5F0CC9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[OP_OnlineOfferTemplate] ADD  CONSTRAINT [DF__OP_Online__Statu__60365376]  DEFAULT ((0)) FOR [IsActive]
GO

ALTER TABLE [dbo].[OP_OnlineOfferTemplate] ADD  CONSTRAINT [DF__OP_Online__Start__621E9BE8]  DEFAULT (getdate()) FOR [StartDate]
GO

ALTER TABLE [dbo].[OP_OnlineOfferTemplate] ADD  CONSTRAINT [DF__OP_Online__EndDa__6312C021]  DEFAULT (getdate()) FOR [EndDate]
GO

ALTER TABLE [dbo].[OP_OnlineOfferTemplate] ADD  CONSTRAINT [DF__OP_Online__Regis__612A77AF]  DEFAULT (getdate()) FOR [CreationTime]

GO