ALTER FUNCTION [dbo].[F_GetSaleDistributionUser](
    @year smallint,
    @month tinyint,
    @userId int,
    @clientGroupType smallint,
    @itemGroupType smallint
    ) RETURNS TABLE AS RETURN
              (
                  -- Date: 18.04.2022
                  -- Author: Xaliq Heyderov
                  -- Ticket: TayqaSale Scrum TSC-3899
                  -- Description: the query return the distribution plans and results for a hybrid user/month/year basis.
                  select Users.Id                               as UserId,
                         Users.UserName                         as UserName,
                         concat(Users.Name, ' ', Users.Surname) as UserFullName,
                         sum(TargetClientPercent)               as Target,
                         sum(isnull(FactClientPercent, 0))      as Result
                  from (select Target.UserId,
                               Target.ItemGroupId,
                               TargetClientPercent,
                               cast((FactClientCount * 100) as float) / CGCC.ClientCount as FactClientPercent
                        from MD_DistributionItemGroupPlan Target
                                 left join (select Employees.UserId                            as UserId,
                                                   ClientGroups.GroupId                        as ClientGroupId,
                                                   Mapping.GroupId                             as ItemGroupId,
                                                   isnulL(count(distinct Invoice.ClientId), 0) as FactClientCount
                                            from ERP_Invoice Invoice with (nolock)
                                                     join ERP_InvoiceLine Lines with (nolock) on Invoice.ERPId = Lines.InvoiceId
                                                     join MD_ItemGroupItemMapping Mapping with (nolock)
                                                          on Mapping.ItemId = Lines.ItemId
                                                              and Mapping.Firm = Invoice.Firm
                                                              and Mapping.GroupType = @itemGroupType
                                                     join UIM_UserEmployeeMapping Employees with (nolock)
                                                          on Employees.Firm = Invoice.Firm
                                                              and Employees.EmployeeId = Invoice.SalesmanId
                                                              and Employees.Status = 0
                                                     join MD_ClientGroupData ClientGroups with (nolock)
                                                          on ClientGroups.Firm = Employees.Firm
                                                              and ClientGroups.GroupType = @clientGroupType
                                                              and ClientGroups.ClientId = Invoice.ClientId
                                            where Lines.LineType <> 1 -- All lines , excluding promo types
                                              and Invoice.IsDeleted = 0
                                              and Invoice.IsCancelled = 0
                                              and month(Invoice.Date) = @month
                                              and year(Invoice.Date) = @year
                                              and Invoice.Type = 4    -- Only sale invoices covered
                                            group by Employees.UserId,
                                                     ClientGroups.GroupId,
                                                     Mapping.GroupId) Facts on Target.ItemGroupId = Facts.ItemGroupId
                            and Target.ClientGroupId = Facts.ClientGroupId
                            and Target.UserId = Facts.UserId
                            and Month = @month
                            and Year = @year
                                 inner join (select GroupId,
                                                    Count(ClientId) As ClientCount
                                             from MD_ClientGroupData
                                             where GroupType = @clientGroupType
                                             group by GroupId) CGCC on CGCC.GroupId = Target.ClientGroupId) Output
                           join AbpUsers Users with (nolock) on Users.Id = Output.UserId
                      and Users.IsDeleted = 0
                           join F_UIM_GetOrganizationTreeUsers(@userId) TreeUsers on TreeUsers.UserId = Users.Id
                  group by Users.Id,
                           Users.UserName,
                           concat(Users.Name, ' ', Users.Surname)
              )
