create proc [dbo].[SP_OP_GetOnlineOfferProcedureResult] (@clientId int, 
													@templateId int,
													@catalogIds nvarchar(max),
													@operationId tinyint,
													@date datetime = null)
AS
BEGIN 
SET NOCOUNT ON;

Declare @Query nvarchar(max);

select @Query = ProcedureName from OP_OnlineOfferTemplate
where Id = @templateId

SET @Query = CONCAT(@Query, ' @clientId, @catalogIds, @operationId, @date')

EXEC sp_executesql @Query, N'@clientId int, 
								@catalogIds nvarchar(max),
								@operationId tinyint,
								@date datetime = null',
								@clientId=@clientId,
								@catalogIds=@catalogIds,
								@operationId=@operationId,
								@date=@date

END