CREATE PROCEDURE [dbo].[SP_MIP_GetOnlineOfferTemplates] @firm SMALLINT = NULL, 
															@startDate DATETIME = NULL,
	                                                        @endDate DATETIME = NULL,
	                                                        @status BIT = NULL,
	                                                        @templateNameOrCode NVARCHAR(500) = NULL,
	                                                        @procedureName NVARCHAR(100) = NULL,
	                                                        @operations NVARCHAR(500) = NULL,
	                                                        @user int = NULL
AS
BEGIN
    DECLARE @Query NVARCHAR(MAX) = 'with cteCount as (select Offer.Id as OfferId, count(TreeUsers.UserId) as UserCount
									from OP_OnlineOfferTemplate Offer with (nolock)
											 join OP_OnlineOfferTemplateUserMapping Mapping with (nolock) on Mapping.TemplateId = Offer.Id
											 join F_GetPermittedUsers(@user) TreeUsers on TreeUsers.UserId = Mapping.UserId
									group by Offer.Id

									union

									select Offer.Id as OfferId, 0 as UserCount
									from OP_OnlineOfferTemplate Offer with (nolock)
											 left join OP_OnlineOfferTemplateUserMapping Mapping with (nolock) on mapping.TemplateId = Offer.Id
									where Mapping.Id is null),

cte as (
									  SELECT
										offer.Id,
										firm.Name as FirmName,
										firm.Nr FirmNr,
										offer.Code,
										offer.Name,
										offer.Description,
										offer.StartDate,
										offer.EndDate,
										offer.ProcedureName,
										offer.IsActive,
										offer.OperationsMask OperationBitMask,
										modifierUser.UserName LastModifierUser,
										offer.LastModificationTime,
										creatorUser.UserName as CreatorUser,
										offer.CreationTime,
										u.UserId,
										ISNULL(cteCount.UserCount, 0) Count
									  FROM
										OP_OnlineOfferTemplate offer
										left join OP_OnlineOfferTemplateUserMapping mapping on mapping.TemplateId = offer.Id
										left join MD_Firm firm on firm.Nr = offer.Firm
										left join AbpUsers creatorUser on creatorUser.Id = offer.CreatorUserId
										left join AbpUsers modifierUser on modifierUser.Id = offer.LastModifierUserId
										left join cteCount on cteCount.OfferId = offer.Id
										left join F_GetPermittedUsers(@user) u on u.UserId = mapping.UserId
										where u.UserId is not null
									)
									select distinct
									  cte.Id,
									  cte.FirmName,
									  cte.Code,
									  cte.Name,
									  cte.Description,
									  cte.StartDate,
									  cte.EndDate,
									  cte.ProcedureName,
									  cte.IsActive,
									  cte.OperationBitMask,
									  cte.LastModifierUser,
									  cte.LastModificationTime,
									  cte.CreatorUser,
									  cte.CreationTime,
									  cte.Count as [Count]
									from
									  cte
									where 1=1'

    IF @firm IS NOT NULL
		SET @Query = CONCAT(@Query, ' AND cte.FirmNr = @firm')

	IF @status IS NOT NULL
		SET @Query = CONCAT(@Query, ' AND cte.IsActive = @status')

	IF @startDate IS NOT NULL AND @endDate IS NOT NULL
		SET @Query = CONCAT(@Query, ' AND (CONVERT(DATE, cte.EndDate) >= @startDate)')

	IF @startDate IS NOT NULL AND @endDate IS NOT NULL
		SET @Query = CONCAT(@Query, ' AND (CONVERT(DATE, cte.StartDate) <= @endDate)')

	IF @templateNameOrCode IS NOT NULL
		SET @Query = CONCAT(@Query, ' AND (cte.Name LIKE ''%'+@templateNameOrCode+'%'' or cte.Code LIKE ''%'+@templateNameOrCode+'%'')')

    IF @operations IS NOT NULL
		SET @Query = CONCAT(@Query, ' AND cte.OperationBitMask = @operations')

	IF @procedureName IS NOT NULL
		SET @Query = CONCAT(@Query, ' AND (cte.ProcedureName LIKE ''%'+@procedureName+'%'')')

print @Query

    EXEC sp_executesql @Query,
      N'@firm SMALLINT, 
		@startDate DATETIME,
		@endDate DATETIME,
		@status BIT,
		@templateNameOrCode NVARCHAR(500),
		@procedureName NVARCHAR(100),
		@operations NVARCHAR(500),
		@user int',
		@firm = @firm,
		@startDate = @startDate,
		@endDate = @endDate,
		@status = @status,
		@templateNameOrCode = @templateNameOrCode,
		@procedureName = @procedureName,
		@operations = @operations,
		@user = @user
END