
Create or ALTER   Procedure [dbo].[SP_RM_GetTarget](@userId int,
                                                @firm smallint,
                                                @beginDate datetime,
                                                @endDate datetime)
AS
BEGIN


    SELECT

        ------------------------------------------------------------------------------------------------

        -- Sale plans
        (select iif(PlanAmount is null or PlanAmount = 0, 0, round(FactAmount / PlanAmount * 100, 2))
         from (select sum(Amount) PlanAmount
               from MD_ItemGroupPlanForUser
               where UserId = @userId
                 and Firm = @firm
                 and Month = month(@beginDate)
                 and Year = year(@beginDate)) T1,

              (select round(sum(iif(Invoice.[Type] = 4, (Line.Quantity * Line.Price) - Line.DiscountAmount, 0)) -
                            sum(iif(Invoice.[Type] = 2, (Line.Quantity * Line.Price) - Line.DiscountAmount, 0)),
                            2) AS FactAmount
               from ERP_Invoice Invoice with (nolock)
                        join ERP_InvoiceLine Line with (nolock) ON Line.InvoiceId = Invoice.ERPId
                        join MD_ItemGroupItemMapping ItemMapping with (nolock) on ItemMapping.ItemId = Line.ItemId and ItemMapping.Firm = Invoice.Firm
                        join MD_ItemGroupPlanForUser Plans with (nolock)
                             on Plans.ItemGroupId = ItemMapping.GroupId and Plans.Firm = ItemMapping.Firm and Plans.UserId = @userId

               where Invoice.IsDeleted = 0
                 and IsCancelled = 0
                 and Line.LineType <> 1
                 and month(Invoice.Date) = month(@beginDate)
                 and year(Invoice.Date) = year(@beginDate)
                 and Plans.Month = month(@beginDate)
                 and Plans.Year = year(@beginDate)
                 and Invoice.SalesmanId in (select EmployeeId
                                            from UIM_UserEmployeeMapping
                                            where UserId = @userId
                                              and UIM_UserEmployeeMapping.Firm = @firm)) T2)                                     AS SalePercentage,

        ------------------------------------------------------------------------------------------------

        -- Cash plans
        (select iif(FactAmount is null or UserPlan.Amount is null or UserPlan.Amount = 0, 0, round(FactAmount * 100 / UserPlan.Amount, 2))
         from MD_CashPlanForUser UserPlan,
              (SELECT SUM(FinOps.Amount) AS FactAmount
               FROM ERP_FinanceOperation FinOps WITH (NOLOCK)
               WHERE FinOps.[Type] IN (5, 21)
                 AND FinOps.[Sign] = 1
                 AND FinOps.IsCancelled = 0
                 AND month(FinOps.Date) = month(@beginDate)
                 AND year(FinOps.Date) = year(@beginDate)
                 AND SalesmanId in (select EmployeeId from UIM_UserEmployeeMapping where UserId = @userId and UIM_UserEmployeeMapping.Firm = @firm)) T

         where UserId = @userId
           and Month = month(@beginDate)
           and Year = year(@beginDate))                                                                                          AS CashInPercentage,

        ------------------------------------------------------------------------------------------------

        -- Distribution Plans
        isnull((select AVG(TargetClientPercent)
                from (select ClientGroupId, ItemGroupId, TargetClientPercent
                      from MD_DistributionItemGroupPlan
                      where UserId = @userId
                        and Month = month(@beginDate)
                        and Year = year(@beginDate)) Target
                         left join (select ClientGroups.GroupId             as ClientGroupId,
                                           Mapping.GroupId                  as ItemGroupId,
                                           count(distinct Invoice.ClientId) as FactClientCount
                                    from ERP_Invoice Invoice with (nolock)
                                             join ERP_InvoiceLine Lines with (nolock) on Invoice.ERPId = Lines.InvoiceId
                                             join MD_ItemGroupItemMapping Mapping with (nolock)
                                                  on Mapping.ItemId = Lines.ItemId and Mapping.Firm = Invoice.Firm and Mapping.GroupType = 3
                                             join UIM_UserEmployeeMapping Employees with (nolock)
                                                  on Employees.Firm = Invoice.Firm and Employees.EmployeeId = Invoice.SalesmanId and
                                                     Employees.Status = 0
                                             join MD_ClientGroupData ClientGroups with (nolock)
                                                  on ClientGroups.Firm = Employees.Firm and ClientGroups.GroupType = 10 and
                                                     ClientGroups.ClientId = Invoice.ClientId
                                    where Lines.LineType <> 1
                                      and Invoice.IsDeleted = 0
                                      and Invoice.IsCancelled = 0
                                      and month(Invoice.Date) = month(@beginDate)
                                      and year(Invoice.Date) = year(@beginDate)
                                      and Invoice.Type = 4
                                      and UserId = @userId
                                      and ClientGroups.Firm = @firm
                                    group by UserId, ClientGroups.GroupId, Mapping.GroupId) Facts
                                   on Target.ItemGroupId = Facts.ItemGroupId and Target.ClientGroupId = Facts.ClientGroupId),
               0)                                                                                                                AS DistributionPercentage


END;