CREATE OR ALTER   FUNCTION [dbo].[F_GetLastAnswerInSurveyQuestions](@firm smallint, @clientId bigint, @surveyId int, @questionId int)
    Returns @T table
               (
                   LastAnswer nvarchar(100),
                   QuestionId int
               )
as
begin

    with data as (select dense_rank() over (partition by detail.QuestionId order by RegisteredDate desc ) row,
                         isnull(detail.AnswerValue, answer.Text) as                                       LastAnswer,
                         detail.QuestionId                       as                                       QuestionID,
                         response.ClientId,
                         response.SurveyId,
                         response.RegisteredDate
                  from CHL_UserSurveyResponseDetail detail with (nolock)
                           join CHL_UserSurveyResponse response with (nolock)
                                on detail.UserSurveyResponseId = response.Id
                           left join CHL_Answer answer with (nolock) on detail.AnswerId = answer.Id
                  where response.Firm = @Firm
                    and response.ClientId = @clientId
                    and response.SurveyId = @surveyId
                    and (detail.QuestionId = @questionId or @questionId is null))
    insert
    into @T (LastAnswer, QuestionId)
    select string_agg(LastAnswer,' | ') as LastAnswer, QuestionID
    from data
    where row = 1
	group by QuestionID
    return
end



