CREATE PROCEDURE SP_MIP_GetDistributionAnalysisData(
    @clientGroupType SMALLINT NULL,
    @itemGroupType tinyint NULL)
AS
BEGIN

    with plans as (select ig.Id         ItemGroupId,
                          dist.UserId,
                          cgi.GroupId   ClientGroupId,
                          dist.Month,
                          dist.Year,
                          dist.TargetClientPercent,
                          dist.Firm,
                          ig.SpecialCode,
                          ig.SpecialCode2,
                          ig.SpecialCode3,
                          ig.Code       ItemGroupCode,
                          ig.Name       ItemGroupName,
                          u.UserName,
                          f.Name        FirmName,
                          dist.Id       DistributionId,
                          cgi.GroupName ClientGroupName,
                          cgi.GroupCode ClientGroupCode
                   from MD_ItemGroup ig with (nolock)
                            inner join MD_DistributionItemGroupPlan dist with (nolock) on dist.ItemGroupId = ig.Id
                            inner join MD_ClientGroupInfo cgi with (nolock)
                                       on cgi.GroupId = dist.ClientGroupId and GroupType = @clientGroupType
                            inner join AbpUsers u with (nolock) on u.Id = dist.UserId
                            inner join MD_Firm f with (nolock) on f.Nr = dist.Firm),
         fact as (select DATEPART(MONTH, Date)         Month,
                         DATEPART(YEAR, Date)          Year,
                         igim.GroupId                  ItemGroupId,
                         cgd.GroupId                   ClientGroupId,
                         UserId,
                         count(distinct i.ClientId) as ClientCount,
                         igim.Firm
                  from ERP_Invoice i with (nolock)
                           inner join ERP_InvoiceLine l with (nolock) on i.ERPId = l.InvoiceId
                           inner join UIM_UserEmployeeMapping uemap with (nolock)
                                      on uemap.EmployeeId = i.SalesmanId and i.Firm = uemap.Firm
                           inner join MD_ItemGroupItemMapping igim with (nolock)
                                      on igim.ItemId = l.ItemId and igim.GroupType = @itemGroupType
                           inner join MD_ClientGroupData cgd with (nolock)
                                      on cgd.ClientId = i.ClientId and i.Firm = cgd.Firm and
                                         cgd.GroupType = @clientGroupType
                  group by DATEPART(MONTH, Date), DATEPART(YEAR, Date), igim.GroupId, cgd.GroupId, UserId, igim.Firm),
         clientCountInGroup as (select GroupId, COUNT(clientId) ClientCount
                                from MD_ClientGroupData
                                where GroupType = @clientGroupType
                                group by GroupId)

    select plans.ItemGroupId,
           plans.UserId,
           plans.ClientGroupId,
           plans.Month,
           plans.Year,
           plans.TargetClientPercent TargetClientPercent,
           fact.ClientCount,
           plans.TargetClientPercent,
           CAST(fact.ClientCount as float) / clientCountFact.ClientCount * 100 ClientCountPercent,
           plans.Firm,
           plans.SpecialCode,
           plans.SpecialCode2,
           plans.SpecialCode3,
           plans.ItemGroupCode,
           plans.ItemGroupName,
           plans.UserName,
           plans.FirmName,
           plans.ClientGroupCode,
           plans.ClientGroupName,
           plans.DistributionId,
           0  as                                                               SaleManagerId,
           '' as                                                               SaleManagerName,
           0  as                                                               SalesPersonHeadId,
           '' as                                                               SalesPersonHeadName,
           0  as                                                               ErpId
    from plans
             left join fact on fact.Year = plans.Year and fact.Month = plans.Month and
                               fact.ItemGroupId = plans.ItemGroupId and fact.ClientGroupId = plans.ClientGroupId and
                               fact.UserId = plans.UserId
        and plans.Firm = fact.Firm
             left join clientCountInGroup clientCountPLan on clientCountPLan.GroupId = plans.ClientGroupId
             left join clientCountInGroup clientCountFact on clientCountFact.GroupId = fact.ClientGroupId
END