create procedure [dbo].[SP_WPM_GetPhotoCommentStatistics](@clientCodeOrName nvarchar(50) null,
                                                          @firm smallint null,
                                                          @clientSpecodes12345 nvarchar(MAX) null,
                                                          @startDate datetime null,
                                                          @endDate datetime null,
                                                          @reasons nvarchar(MAX) null,
                                                          @users nvarchar(MAX) null,
                                                          @sourceTypes nvarchar(MAX) null,
                                                          @forExceleExporting BIT NULL,
                                                          @localizedOthersTxt NVARCHAR(30) NULL)
AS
BEGIN
-- Created by TayqaTech for TayqaSale (Kanan Mammadov)
-- Description: the query returns the 

    DECLARE @Query NVARCHAR(MAX);

    SET @Query =
            '
with Stats as (select coalesce(Tickets.Firm, Response.Firm, Upload.Firm, Visits.Firm, StateHistory.Firm)								  as Firm,
                      coalesce(Tickets.ClientId, Response.ClientId, Upload.ClientId, Visits.ClientId, StateHistory.ClientTigerId)			  as ClientId,
                      Comment.SourceType																								  as SourceType,
                      Reason.Id																											  as ReasonId,
                      Reason.Name																										  as ReasonName,
                      coalesce(Tickets.UserId, Response.UserId, Upload.UploadedUserId, Visits.UploadedUserId, StateHistory.CreatorUserId) as CreatorUserId,
                      count(Comment.ReasonId)																							  as ReasonCount

               from MD_PhotoComment Comment with (nolock)
                        join MD_StopReason Reason with (nolock) on Reason.Id = Comment.ReasonId and Reason.Type = 9
                        left join WPM_Attachment WPM with (nolock) on WPM.Id = Comment.ReferenceId and Comment.SourceType = 2
                        left join WPM_TaskTicketAction TicketActions with (nolock) on TicketActions.Id = WPM.ReferenceId and WPM.Type = 3
                        left join WPM_TaskTicket Tickets with (nolock) on Tickets.Id = TicketActions.TaskTicketId
                        left join CHL_Attachment CHL with (nolock) on CHL.Id = Comment.ReferenceId and Comment.SourceType = 1 and CHL.Type = 3
                        left join CHL_UserSurveyResponseDetail ResponseDetail with (nolock) on ResponseDetail.Id = CHL.ReferenceId and CHL.Type = 3
                        left join CHL_UserSurveyResponse Response with (nolock) on Response.Id = ResponseDetail.UserSurveyResponseId
                        left join OP_FileUploadLog Upload with (nolock) on Upload.Id = Comment.ReferenceId and Comment.SourceType = 5 and Upload.ContentType = 1
                        left join OP_FileUploadLog Visits with (nolock) on Visits.Id = Comment.ReferenceId and Comment.SourceType = 3 and Visits.ContentType = 2
                        left join IM_InventoryStateHistoryImage StateImages with (nolock) on StateImages.Id = Comment.ReferenceId and Comment.SourceType = 4
                        left join IM_InventoryStateHistory StateHistory with (nolock) on StateHistory.Id = StateImages.InventoryStateHistoryId

			   where cast(Comment.CreationTime as date) between cast(@startDate as date) and cast(@endDate as date)
               group by coalesce(Tickets.Firm, Response.Firm, Upload.Firm, Visits.Firm, StateHistory.Firm),
                        coalesce(Tickets.ClientId, Response.ClientId, Upload.ClientId, Visits.ClientId, StateHistory.ClientTigerId),
						coalesce(Tickets.UserId, Response.UserId, Upload.UploadedUserId, Visits.UploadedUserId, StateHistory.CreatorUserId),
                        Comment.ReasonId, Reason.Id, Reason.Name, Comment.SourceType)

select Firm.Nr        as FirmNr,
       Firm.Name      as FirmName,
       Client.Name    as ClientName,
       Client.Code    as ClientCode,
       Client.TigerId as ClientId,
       Client.Edino   as Edino,
       ReasonCount    as CommentCountByClient,
       ReasonName     as ReasonName,
       ReasonId       as ReasonId,
       ''''           as ResponseDetailValue,
       SourceType     as SourceType

from Stats
         join MD_Client Client with (nolock) on Client.TigerId = Stats.ClientId and Client.Firm = Stats.Firm
         join MD_Firm Firm with (nolock) on Firm.Nr = Client.Firm and Firm.IsActive = 1

where Firm.Nr = @firm
'

    IF @clientCodeOrName IS NOT NULL
        SET @Query = CONCAT(@Query,
                            ' AND (Client.Code LIKE N''%'' + @clientCodeOrName + ''%''  OR Client.Name LIKE N''%'' + @clientCodeOrName + ''%'' OR Client.Edino LIKE N''%'' + @clientCodeOrName + ''%'')')

    IF @clientSpecodes12345 IS NOT NULL
        SET @Query = CONCAT(@Query,
                            ' AND (Client.SpecialCode LIKE ''%'' + @clientSpecodes12345 + ''%''	OR Client.SpecialCode2 LIKE ''%'' + @clientSpecodes12345 + ''%'' OR Client.SpecialCode3 LIKE ''%'' + @clientSpecodes12345 + ''%''	OR Client.SpecialCode4 LIKE ''%'' + @clientSpecodes12345 + ''%''	OR Client.SpecialCode5 LIKE ''%'' + @clientSpecodes12345 + ''%'')')

    IF @reasons IS NOT NULL SET @Query = CONCAT(@Query, ' AND Stats.ReasonId IN (SELECT * FROM F_SplitList(@reasons, '',''))')
    IF @users IS NOT NULL SET @Query = CONCAT(@Query, ' AND Stats.CreatorUserId IN (SELECT * FROM F_SplitList(@users, '',''))')
    IF @sourceTypes IS NOT NULL SET @Query = CONCAT(@Query, ' AND Stats.SourceType IN (SELECT * FROM F_SplitList(@sourceTypes, '','')) ')


    EXEC sp_executesql @Query,
         N'@clientCodeOrName nvarchar(50) null,
              @firm smallint null,
              @clientSpecodes12345 nvarchar(250) null,
              @startDate datetime null,
              @endDate datetime null,
              @reasons nvarchar(MAX) null,
              @users nvarchar(MAX) null,
              @sourceTypes nvarchar(MAX) null,
              @forExceleExporting BIT,
              @localizedOthersTxt NVARCHAR(30)',
         @clientCodeOrName = @clientCodeOrName,
         @firm = @firm,
         @clientSpecodes12345 = @clientSpecodes12345,
         @startDate = @startDate,
         @endDate = @endDate,
         @reasons = @reasons,
         @users = @users,
         @sourceTypes = @sourceTypes,
         @forExceleExporting = @forExceleExporting,
         @localizedOthersTxt = @localizedOthersTxt
END
