<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="meite"/>
    <Version value="V4.10"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\logs\{environment}\ERPIntegration\{version}\erpIntegrationService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.1.10;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=192.168.1.10;Database=LOGODB;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>        
    <ServiceName value="MainIntegrationService"/>
    <Firm value="16"/>
    <ActivePeriod value="1"/>
    <Step value="10"/>
	<NextStep value="20"/>
    <RoundDigit value="4"/>
    <PriorityMaskForPrice value="000"/>    
    <MaximumTryCounterForService value="10"/>
    <DisposeAfterXHours value="12"/>
    <ListenerUrlForERPReconnection value="http://+:11101/{environment}/Integration/ReconnectToLogo/"/>
    <ImplementedClient value="Meite"/>
	<LogIntegrationResult value="true"/>
	<ERP value="TigerEnterprise"/>
	<ERPIntegratorDefaultVersion value="V1.10"/>
    <ERPUnknonwErrorResponseId value="-99"/>
	<UpdateOrderProcessDate value="false"/>
    <TigerApplyGetStockLinePrice value="true"/>
    <TigerGetStockLinePriceType value="8"/>    
    <TigerUserName value="LOGO"/>
    <TigerPassword value="q123456+"/>
    <TigerERPResponsesFilePath value="erpResponses.config"/>
    <TigerLocalCulture value="dd.MM.yyyy"/>    
    <TigerIsSpecialExchangeRate value="true"/>    
    <TigerUserIdForCreatedBy value="1"/>    
    <TigerLobjectLogFilePath value="D:\TayqaSale\logs\{environment}\{version}\lobject.txt"/>
    <TigerLogoConfigFilePath value=""/>	
	<TigerLogLevel value="0"/>	
	<ExtraWhereClauseAndOrderByFilter value=""/>	
  </additionalParameters>
</configuration>
