<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="meite"/>
    <Version value="v4.10"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\logs\{environment}\{version}\userIdentityManagement.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.1.10;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <MaxLoginAttemptsCount value="10"/>
    <AuthTokenLifetimeApp value="8640"/>
    <AuthAddress value="http://www.meite.com.tr"/>
    <SyncPeriodStart1 value="72000"/>
    <SyncPeriodEnd1 value="86370"/>
    <SyncPeriodStart2 value="21600"/>
    <SyncPeriodEnd2 value="27000"/>
    <ServicePortalUrl value="http://192.168.1.9:1101"/>
    <Login value="YWRtaW4xMjM="/>
  </additionalParameters>
</configuration>
