<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section" />
    <section name="logParameters" type="section" />
    <section name="databaseParameters" type="section" />
  </configSections>
  <commonParameters>
    <Environment value="meite" />
    <Version value="v1.2" />
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\Logs\{environment}\TayqaTechAgent\{version}\TayqaTechAgent.txt" />
    <LogLevel value="2" />
    <FileSizeInMB value="10" />
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.1.10;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60" />
  </databaseParameters>
  <additionalParameters>
    <AuthorizationService value="false" />
    <LicenseService value="true" />
    <ContentService value="true" />
    <MonitoringService value="false" />
	<ClientEnvironment value="prod" />
    <ClientCode value="Meite" />
    <ProductCode value="TayqaSale" />
    <ProductVersion value="2.7" />
    <ServerUrl value="https://tsale-discovery.tayqatech.com/v2.0" />
    <RefreshAuthTokenMethod value="/authorization/refreshauthtoken" />
    <ServicePortalUrl value="http://192.168.1.9:1101" />
    <LicenseCheckMethod value="/license/licensedata" />
    <DeviceDataMethod value="/license/devicedata" />
    <UserDataMethod value="/license/userdata" />
    <LogFilesMethod value="/monitoring/uploadlogfiles" />
	<LogFilesInfoMethod value="/monitoring/logfilesinfo" />
    <AppTranslationsMethod value="/content/apptranslations" />
    <TokenRefreshPeriod value="1" />
    <SyncStartHour value="20" />
    <SyncEndHour value="22" />
    <Login value="VGF5cWFTYWxlJVNlcnYhY2VfVXNlcg==" />
    <AuthToken value="first use" />
    <LogFilesPath value="C:\TayqaSale\logs\" />
    <LogFilesDaysCountToDelete value="30" />
    <LogFilesLastSendTime value="0" />
  </additionalParameters>
</configuration>