<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Version value="V2.20"/>
    <Environment value="meite"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\logs\{environment}\TayqasaleMasterDataSync\{version}\tayqasaleMasterDataSync.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.1.10;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=192.168.1.10;Database=LOGODB;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <RoundDepthForDecimal value="4"/>
    <ERP value="TigerEnterprise"/>
	<AuthTokenValidationEndpoint value="http://192.168.1.9:1103/tayqa/tiger/api/{environment}/v2.92/uid/CheckUser"/>    
    <TigerSyncRefreshStartPeriod value="01.01.2000 00:00:00"/>
    <TigerQueryFilterForItems value=""/>
    <TigerQueryFilterForClients value=" AND CLCARD.CARDTYPE IN (3,4)"/>
    <TigerQueryFilterForPrices value=" AND PRC.PTYPE=2"/>
    <TigerClientRouteType value="CLCARD"/>
    <IgnorePermittedClientTable value ="true"/>
	<TigerQueryFilterForItemUnits value=""/>
    <TigerQueryFilterForDeliveryOrders value=""/>
	<DayCountForDeliveryOrders value ="30"/>
  </additionalParameters>
</configuration>