<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section" />
    <section name="logParameters" type="section" />
    <section name="databaseParameters" type="section" />
  </configSections>
  <commonParameters>
    <Version value="V1.30" />
    <Environment value="meite" />
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\logs\{environment}\SyncScheduler\{version}\tayqasaleMasterDataSyncScheduler.txt" />
    <LogLevel value="2" />
    <FileSizeInMB value="10" />
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.1.10;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60" />
  </databaseParameters>
  <additionalParameters>
    <AuthToken value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxMDAwNSIsInVuaXF1ZV9uYW1lIjoic2VydmljZV91c2VyIiwibmJmIjoxNTY1OTcyNjU4LCJleHAiOjE1NzExNTY2NTgsImlhdCI6MTU2NTk3MjY1OCwiaXNzIjoiaHR0cDovL3d3dy5tZWl0ZS5jb20udHIiLCJhdWQiOiJodHRwOi8vd3d3Lm1laXRlLmNvbS50ciJ9.cnUBX2XBoUhnm5XH5CM-6MN3P-vCmd2lT3D8rt5__EM" />
	<MaximumTryCounterForService value="10"/>
    <AllowedProcessingUnitPerMinute value="5"/>
	<CheckWebSyncServiceTestUrl value="http://192.168.1.9:1110/meite/V2.10/TigerCore/SyncSalesMan"/>
    <CheckWebSyncServiceTestUrlParams value="{&quot;Firms&quot;: [16]}"/>
  </additionalParameters>
</configuration>