create function [dbo].[FN_TS_Integration_GetCashTransfer_XXX_YY](@ficheId int)
    returns table as return

-- Author: TayqaTech for TayqaSale (Kanan Mammadov)
-- Date: 20.11.2022
-- Query: returns the result of integrated cash transfer operation

        select FICHENO                  as FicheNo,
               cast(Line.DATE_ as date) as Date,
               OutCard.Code             as SenderCashCardCode,
               InCard.CODE              as ReceiverCashCardCode,
               AMOUNT                   as Amount
        from LG_XXX_YY_KSLINES Line with (nolock)
                 inner join LG_XXX_KSCARD InCard with (nolock) on InCard.LOGICALREF = Line.CARDREF
                 inner join LG_XXX_KSCARD OutCard with (nolock) on OutCard.LOGICALREF = Line.VCARDREF

        where Line.TRCODE in (73, 74)
          and Line.LOGICALREF = @ficheId
