CREATE OR ALTER FUNCTION [dbo].[FN_ShouldCheckClientGroupPriceRestriction](
    @firm smallint,
    @groupType tinyint,
    @groupId int,
    @requestId int
)
    RETURNS INT
AS
BEGIN


    declare @result int
    set @result = (
        SELECT IIF(COUNT(Line.Id) = 0, 0, 1)
        FROM OP_IncomingLogCommonLineExtension Line
                 JOIN OP_IncomingLogCommonExtension Ext on Line.Id = Ext.Id
                 JOIN OP_IncomingLog IncLog on IncLog.Id = Ext.Id
                 JOIN MD_ClientGroupData GrpData
                      on GrpData.ClientId = IncLog.ClientId and GrpData.Firm = IncLog.Firm and
                         GrpData.GroupType = 3
                 JOIN MD_ClientGroupPriceRestriction PrcRes
                      on PrcRes.Firm = IncLog.Firm and PrcRes.OperationId = IncLog.DocType + 1 and
                         IncLog.ClientId = GrpData.ClientId and PrcRes.Firm = GrpData.Firm and
                         PrcRes.GroupType = GrpData.GroupType and PrcRes.GroupId = GrpData.GroupId
                          and PrcRes.Status = 0
                 JOIN ADD_ClientGroupPriceRestrictionItemExceptions Items on Items.ItemId = Line.ItemId
        WHERE IncLog.Firm = @firm
          and PrcRes.GroupType = @groupType
          and GrpData.GroupId = @groupId
          and IncLog.Id = @requestId)

    RETURN @result
END
