create Function [dbo].[FN_TS_MasterData_GetItemSerialNumber_XXX_YY](@beginDate datetime, @endDate datetime)
RETURNS TABLE
AS RETURN
(
select XXX 'Firm', p.LOGICALREF'ItemId',st.INVENNO'WarehouseNr' ,s.CODE'SerialNumber'

from LG_XXX_YY_SERILOTN s
inner join LG_XXX_ITEMS p on p.LOGICALREF=s.ITEMREF
inner join LG_XXX_YY_SLTRANS st on st.SLREF=s.LOGICALREF
inner join LG_XXX_YY_STFICHE sf on sf.LOGICALREF=st.STFICHEREF
where  st.REMAMOUNT=1
);