create Function [dbo].[FN_TS_Integration_GetWarehouseDemandOperation_XXX_YY](@recordId int)
RETURNS TABLE
AS RETURN
(
SELECT  STATUS AS [Status] , FICHENO As FicheNo, DATE_ as Date from LG_XXX_YY_DEMANDFICHE WITH (NOLOCK)
WHERE LOGICALREF=@recordId
);
