CREATE Function [dbo].[FN_TS_Integration_GetWarehouseDemandOperationLine_XXX_YY](@recordId int)
RETURNS TABLE
AS RETURN
(
SELECT LINE.ITEMREF AS ItemId, LINE.AMOUNT AS Quantity, UNITLINE.CODE AS ItemUnitCode
FROM LG_XXX_YY_DEMANDLINE  LINE WITH (NOLOCK) 
LEFT JOIN LG_XXX_UNITSETL UNITLINE WITH (NOLOCK)  ON UNITLINE.LOGICALREF=LINE.UOMREF
WHERE DEMANDFICHEREF =@recordId
);
