-- Created by Ramil Aliyev
CREATE Function [dbo].[FN_TS_Report_GetClientExtractDataFilePath_XXX_YY](@clientId int, @erpId bigint, @trCode nvarchar(100))
RETURNS TABLE
AS RETURN
(
	SELECT TOP 0 '' as Path
);