<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="prod"/>
    <Version value="v2.92"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\ProxyWebService\{version}\proxyWebService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=WIN-PJC02HCUL9L;Database=TayqaSale;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <ServicesBaseUrl value="http://localhost"/>
    <UimPort value="1104"/>
    <RequestProcessorPort value="1102"/>
    <DeliveryManagementPort value="1108"/>
    <WorkPlanManagementPort value="2536"/>
    <ReportManagerPort value="1103"/>
    <LoyaltyManagementPort value="1193"/>
    <LogUserActivity value="1"/>
    <MethodCallHistoryLiveTime value="600"/>
    <UserMethodCallDelayTime value="60"/>
    <UserMethodCallAllowedInterval value="2"/>
    <MethodCallAllowedCount value="20"/>
    <MethodCallMaxWaitTime value="15000"/>
    <AppDownloadPath value="C:\TayqaSale\AppDownloads\{environment}"/>
    <AppUploadPath value="C:\TayqaSale\AppUploads\{environment}"/>
    <ApkFilesPath value="\ApkFiles"/>
    <PrintTemplatesPath value="\PrintTemplates"/>
    <CatalogImagesPath value="\ImageZips"/>
    <ClientShowcaseImagesPath value="\ClientShowcaseImages"/>
    <VisitDataImagesPath value="\VisitImages"/>
    <WpmImagesPath value="\WpmImages"/>
    <AppLogFilesPath value="\AppLogFiles"/>
    <AuditItemImagesPath value="\AuditItemImages"/>
    <AuditCompetingItemImagesPath value="\AuditCompetingItemImages"/>
    <MediaContentPath value="C:\TayqaSale\MediaContent\{environment}"/>
    <ContractsPath value="\Contracts"/>
    <ImagesPath value="\Images"/>
  </additionalParameters>
</configuration>