<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="prod"/>
    <Version value="v2.92"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\RequestProcessor\{version}\requestProcessor.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
     <TayqaSaleDB value="Server=WIN-PJC02HCUL9L;Database=TayqaSale;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
	 <TayqaSaleDbSecondary value="Server=WIN-PJC02HCUL9L;Database=TayqaSale;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <DebugResponse value="true"/>
    <DebugUserList value="1,2,3,4,5"/>
    <RouteDaysBefore value="14"/>
    <RouteDaysAfter value="31"/>
    <DeliveryConsiderMasterDataDays value="30"/>
    <SalesmanSource value="UserSalesmanMapping"/>
    <RestoreOperationDays value="30"/>
    <CatalogImagesPath value="C:\TayqaSale\AppDownloads\{environment}\ImageZips\"/>
    <ERPIntegratorVersion value="V1.10"/>    
    <ImplementedClient value="Dubrar"/>
    <AllowedOrderLineCount value="61"/>
    <UseMasterDataTimeStamp value="false"/>
  </additionalParameters>
</configuration>
