<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="dubrar"/>
    <Version value="v1.2"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\Logs\{environment}\{version}\TayqaTechAgent.txt"/>
    <LogLevel value="1"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=WIN-PJC02HCUL9L;Database=TayqaSale;User ID=TaygaSale;Password=Ts*2019;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <AuthorizationService value="false" />
    <LicenseService value="true" />
    <ContentService value="true" />
    <MonitoringService value="false" />
    <ClientEnvironment value="dubrar"/>
    <ClientCode value="Dubrar"/>
    <ProductCode value="TayqaSale"/>
    <ProductVersion value="2.9"/>
    <ServerUrl value="https://tsale-discovery.tayqatech.com/v2.0" />
    <RefreshAuthTokenMethod value="/authorization/refreshauthtoken"/>
    <ServicePortalUrl value="http://localhost:1101"/>
    <LicenseCheckMethod value="/license/licensedata"/>
    <DeviceDataMethod value="/license/devicedata"/>
    <UserDataMethod value="/license/userdata"/>
    <LogFilesMethod value="/monitoring/uploadlogfiles"/>
    <LogFilesInfoMethod value="/monitoring/logfilesinfo"/>
    <AppTranslationsMethod value="/content/apptranslations"/>
    <TokenRefreshPeriod value="1"/>
    <SyncStartHour value="20"/>
    <SyncEndHour value="22"/>
    <Login value="VGF5cWFTYWxlJVNlcnYhY2VfVXNlcg==" />
    <AuthToken value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIzIiwidW5pcXVlX25hbWUiOiJzZXJ2aWNlX3VzZXIiLCJuYmYiOjE1NjU4NjU0NjAsImV4cCI6MTU5Njk2OTQ2MCwiaWF0IjoxNTY1ODY1NDYwLCJpc3MiOiJodHRwOi8vd3d3LmR1YnJhci5jb20iLCJhdWQiOiJodHRwOi8vd3d3LmR1YnJhci5jb20ifQ.LkuxtYIVV53kuZrXnLq9ic4cNm_O8Ly3PJDv2JgQ-2M"/>
    <LogFilesPath value="C:\TayqaSale\logs\"/>
    <LogFilesDaysCountToDelete value="30"/>
    <LogFilesLastSendTime value="1566146933"/>
  </additionalParameters>
</configuration>