<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="aplusco"/>
    <Version value="V4.10"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\Logs\{environment}\ERPIntegration\{version}\erpIntegrationService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.80.23;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=192.168.80.22;Database=TigerDb;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <ServiceName value="MainIntegrationService"/>
    <Firm value="2"/>
    <ActivePeriod value="1"/>
    <Step value="10"/>    
	<NextStep value="20"/>
    <RoundDigit value="4"/>    
    <PriorityMaskForPrice value="100"/>                
    <MaximumTryCounterForService value="10"/>
    <DisposeAfterXHours value="12"/>
    <ListenerUrlForERPReconnection value="http://+:11101/{environment}/Integration/ReconnectToLogo/"/>    
    <ERP value="TigerEnterprise"/>
	<ERPIntegratorDefaultVersion value="V1.10"/>
	<LogIntegrationResult value="true"/>
    <ImplementedClient value="APlusCo"/>
    <ERPUnknonwErrorResponseId value="-99"/>
    <TigerUserName value="LOGO"/>
    <TigerPassword value="q123456+"/>
    <TigerERPResponsesFilePath value="erpResponses.config"/>    
    <TigerLocalCulture value="dd.MM.yyyy"/>
    <TigerApplyGetStockLinePrice value="true"/>
    <TigerGetStockLinePriceType value="8"/>
    <TigerIsSpecialExchangeRate value="true"/>    
    <TigerUserIdForCreatedBy value="1"/>
    <TigerLobjectLogFilePath value="C:\TayqaSale\Logs\{environment}\{version}\lobject.txt"/>
    <TigerLogoConfigFilePath value=""/>
	<UpdateOrderProcessDate value="true"/>
	<TigerLogLevel value="0"/>
	<ExtraWhereClauseAndOrderByFilter value=""/>
  </additionalParameters>
</configuration>
