<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="aplusco"/>
    <Version value="v2.91"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\logs\{environment}\{version}\requestProcessor.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.80.23;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <TayqaSaleDbSecondary value="Server=192.168.80.23;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <DebugResponse value="false"/>
    <RouteDaysBefore value="14"/>
    <RouteDaysAfter value="31"/>
	<SalesmanSource value="UserSalesmanMapping"/>
    <RestoreOperationDays value="30"/>
    <CatalogImagesPath value="C:\TayqaSale\AppDownloads\{environment}\ImageZips\"/>
	<ERPIntegratorVersion value="V1.10"/>
	<UseMasterDataTimeStamp value="false"/>
  </additionalParameters>
</configuration>
