<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section" />
    <section name="logParameters" type="section" />
    <section name="databaseParameters" type="section" />
  </configSections>
  <commonParameters>
    <Version value="V1.30" />
    <Environment value="aplusco" />
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\Logs\{environment}\SyncScheduler\{version}\tayqasaleMasterDataSyncScheduler.txt" />
    <LogLevel value="2" />
    <FileSizeInMB value="10" />
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=192.168.80.23;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60" />
  </databaseParameters>
  <additionalParameters>
    <AuthToken value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiI4NiIsInVuaXF1ZV9uYW1lIjoic2VydmljZV91c2VyIiwibmJmIjoxNTY3Njc0ODgyLCJleHAiOjE1OTg3Nzg4ODIsImlhdCI6MTU2NzY3NDg4MiwiaXNzIjoiaHR0cDovL2FwbHVzY28uYXoiLCJhdWQiOiJodHRwOi8vYXBsdXNjby5heiJ9.E3FknQG6k_AgaUOMrxlt42iY4qNkuhqVti88moimeNM" />
    <MaximumTryCounterForService value="10" />
    <AllowedProcessingUnitPerMinute value="5" />
    <CheckWebSyncServiceTestUrl value="http://192.168.80.25:1106/aplusco/v2.20/TigerCore/SyncSalesMan" />
    <CheckWebSyncServiceTestUrlParams value="{&quot;Firms&quot;: [2]}" />
  </additionalParameters>
</configuration>