DECLARE @maxId INT;
SET @maxId = (SELECT ISNULL(MAX(Id), 0) FROM UIM_Permission);

-- For IN
DECLARE @parentId_In INT = (SELECT Id FROM UIM_Permission WHERE ObjectName = 'Cash.BarcodeInput');
INSERT INTO [dbo].[UIM_Permission]
           ([ParentId], [ObjectName], [Description], [ModifiedUserId], [CreatedUserId], [ModifiedDate],
            [CreatedDate], [OnlyHybridUser], [LicenseUserType], [Module], [OrderNo], [Id])
     VALUES
           (@parentId_In, 'Cash.BarcodeInput.Manual', 'Cash.BarcodeInput.Manual', NULL, 2, NULL, GETDATE(), 1, 6, 'Sale', 100, @maxId + 1);