<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section" />
    <section name="logParameters" type="section" />
    <section name="databaseParameters" type="section" />
  </configSections>
  <commonParameters>
    <Environment value="vesta" />
    <Version value="v1.2" />
  </commonParameters>
  <logParameters>
    <LogFilePath value="C:\TayqaSale\Logs\{environment}\{version}\TayqaTechAgent.txt" />
    <LogLevel value="2" />
    <FileSizeInMB value="10" />
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=LST_VESAS01.veyseloglu.az,1455;Database=VESASHOREKA;User ID=lgn_vesasapp;Password=/21*Ar$Ma@12Ge&amp;doN#;Trusted_Connection=false; Connection Timeout=60" />
  </databaseParameters>
  <additionalParameters>
    <AuthorizationService value="false" />
    <LicenseService value="true" />
    <ContentService value="true" />
    <MonitoringService value="false" />
    <ClientEnvironment value="prod" />
    <ClientCode value="Vesta" />
    <ProductCode value="TayqaSale" />
    <ProductVersion value="2.91" />
    <ServerUrl value="https://tsale-discovery.tayqatech.com/v2.0" />
    <RefreshAuthTokenMethod value="/authorization/refreshauthtoken" />
    <ServicePortalUrl value="http://VOTAYQAWEB02.veyseloglu.az:1101" />
    <LicenseCheckMethod value="/license/licensedata" />
    <DeviceDataMethod value="/license/devicedata" />
    <UserDataMethod value="/license/userdata" />
    <LogFilesMethod value="/monitoring/uploadlogfiles" />
    <LogFilesInfoMethod value="/monitoring/logfilesinfo" />
    <AppTranslationsMethod value="/content/apptranslations" />
    <TokenRefreshPeriod value="1" />
    <SyncStartHour value="20" />
    <SyncEndHour value="22" />
    <Login value="VGF5cWFTYWxlJVNlcnYhY2VfVXNlcg==" />
    <AuthToken value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiJWZXN0YSIsInJvbGUiOiJUYXlxYVNhbGUiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3ZlcnNpb24iOiIyLjkxIiwibmJmIjoxNTY4NjE5MTY0LCJleHAiOjE1NzM4MDMxNjQsImlhdCI6MTU2ODYxOTE2NCwiaXNzIjoiaHR0cDovL3ZleXNlbG9nbHUuYXovdmVzdGEiLCJhdWQiOiJodHRwOi8vdmV5c2Vsb2dsdS5hei92ZXN0YSJ9._Vg0_6mkRI8FZI7czHB9eAAEcLoTn_Cp6qqI_f9khu0" />
    <LogFilesPath value="C:\TayqaSale\logs\" />
    <LogFilesDaysCountToDelete value="30" />
    <LogFilesLastSendTime value="1568619169" />
  </additionalParameters>
</configuration>