alter Function [dbo].[FN_TS_Integration_GetSaleInvoicesForSplitReturnInvoice_XXX_YY](@clientId int, @itemIds nvarchar(MAX), @serialNumbers nvarchar(MAX), @isCustomPrice bit)
    RETURNS TABLE
        AS RETURN
            (
                SELECT STLINE.LOGICALREF                  AS InvoiceId,
                       INVOICE.FICHENO                    AS InvoiceNo,
                       INVOICE.LOGICALREF                 AS Invoasas,
                       STLINE.AMOUNT                      AS Quantity,
                       STLINE.AMOUNT - STLINE.RETAMOUNT   AS AllowedReturnQuantity,
                       STLINE.STOCKREF                    AS ItemId,
                       VATMATRAH / STLINE.AMOUNT          AS Price,
                       STLINE.TRCODE                      AS TrCode,
                       INVOICE.DATE_                      AS CreatedDate,
                       SERILOTN.CODE                      AS SerialNumber,
					   CAST(IIF(INVOICE.DATE_ >= DATEADD(day,-14, GETDATE()),1, 0) as bit) IsInvoicePrice,
                       SLTRANS.AMOUNT - SLTRANS.REMAMOUNT AS AllowedSerialQuantity
                FROM LG_XXX_YY_STLINE STLINE WITH (NOLOCK)
                         LEFT JOIN LG_XXX_YY_INVOICE INVOICE ON STLINE.INVOICEREF = INVOICE.LOGICALREF
                         LEFT JOIN LG_XXX_YY_SLTRANS SLTRANS ON SLTRANS.STTRANSREF = STLINE.LOGICALREF
                         LEFT JOIN LG_XXX_YY_SERILOTN SERILOTN ON SLTRANS.SLREF = SERILOTN.LOGICALREF AND SLTRANS.AMOUNT - SLTRANS.REMAMOUNT > 0
                WHERE (STLINE.LINETYPE in (0, 1, 6) OR (STLINE.LINETYPE IN (2) AND STLINE.GLOBTRANS = 1))
                  AND STLINE.CLIENTREF = @clientId
                  AND STLINE.TRCODE in (8)
                  AND STLINE.STOCKREF IN (SELECT * FROM F_SplitList(@itemIds, ','))
--AND SERILOTN.CODE IN (SELECT * FROM F_SplitList(@serialNumbers, ','))
                  AND STLINE.AMOUNT - STLINE.RETAMOUNT > 0
                  AND INVOICE.DATE_ >=
                      CASE
                          WHEN @isCustomPrice = 1 THEN
                              '2000-01-01'
                          ELSE
                              DATEADD(day, -14, GETDATE())
                          END
                  AND INVOICE.DATE_ < GETDATE()
            )
GO


