GO
/****** Object:  UserDefinedFunction [dbo].[F_MD_CheckClientPriceRestrictionIsValid]    Script Date: 11.06.2021 09:17:40 ******/
ALTER   function [dbo].[F_MD_CheckClientPriceRestrictionIsValid](
@firm smallint, 
@tigerClientId int,
@requestId int,
@operationId tinyint,
@processDate date,
@totalPrice float,
@restrictionTypes tinyint)
returns @T Table(
IsValid bit NOT NULL,
Code nvarchar(50),
[Description] nvarchar(50)
)
as 
begin  

declare @min float;
declare @max float;
declare @soldPrice float;
declare @Restrictions Table(Min float, Max float, Type tinyint);

-- Gun erzinde eyni musteriye daha evvel emeliyyat edibse, novbeti emeliyyatlarda min limit yoxlanilmayacaq. 
-- Avrorada bir musteriye bir user emeliyyat edir, ona gore de userId yoxlanilmasina ehtiyac gormedik.

declare @hasAnyOperation bit = (SELECT IIF(COUNT(*) > 0 , 1, 0)
								FROM OP_IncomingLog il 
								JOIN OP_GeneralLog  gl on il.Id =  gl.RequestId
								WHERE 
								gl.ImportResult = 0 AND
								ProcessDate = CONVERT(date, GETDATE()) AND 
								ClientId = @tigerClientId AND 
								Firm = @firm);

INSERT INTO @Restrictions 
			SELECT
			Min,
			Max, 
			Type 
			FROM MD_ClientPriceRestriction WITH (NOLOCK)
			WHERE
			Firm=@firm AND 
			Status = 0 AND
			TigerClientId = @tigerClientId AND 
			OperationId = @operationId AND
			(Type & @restrictionTypes) = Type;

--Check operationally begin
if((@restrictionTypes & 1) = 1)
BEGIN
	select @min = min, @max = max FROM @Restrictions WHERE Type = 1;
 
	if (@totalPrice>@max)
		BEGIN
			INSERT  INTO @T VALUES(0,'Operationally','MaximumLimit');
			return;
		END;
    else If(@operationId NOT IN (2,3) AND @totalPrice<@min AND @hasAnyOperation = 0)
		 BEGIN
			 INSERT  INTO @T VALUES(0, 'Operationally','MinumumLimit');
				return;
		 END
END;
--Check operationally end


--Check daily begin 
if((@restrictionTypes & 2) = 2)
BEGIN
	SELECT @min = min, @max = max FROM @Restrictions WHERE Type = 2;

	SELECT @SoldPrice = TotalSoldPrice FROM F_MD_GetClientSoldItemTotalPrice(@firm, @tigerClientId, @requestId, (@operationId - 1), @processDate, @processDate);

	if((@totalPrice+@soldPrice) > @max)
		BEGIN
			INSERT  INTO @T VALUES(0,'Daily','MaximumLimit');
			return;
		END;
    else If(@operationId NOT IN (2,3) AND (@totalPrice +@soldPrice) < @min AND @hasAnyOperation = 0)
		 BEGIN
			 INSERT  INTO @T VALUES(0, 'Daily','MinumumLimit');
				return;
		 END;
END
--Check daily end


--Check weekly begin
if((@restrictionTypes & 4) = 4)
BEGIN
	declare @weekStartDate date;
	declare @weekEndDate date;

	select @min = min, @max = max FROM @Restrictions WHERE Type = 4;

	SET @weekStartDate =  DATEADD( DAY , 2 - DATEPART(WEEKDAY, @processDate), CAST (@processDate AS DATE ));
	SET @weekEndDate =  DATEADD( DAY , 8 - DATEPART(WEEKDAY, @processDate), CAST (@processDate AS DATE ));

	SELECT @SoldPrice = TotalSoldPrice FROM F_MD_GetClientSoldItemTotalPrice(@firm, @tigerClientId, @requestId, (@operationId - 1), @weekStartDate, @weekEndDate);

	if((@totalPrice+@soldPrice) > @max)
		BEGIN
		    INSERT  INTO @T VALUES(0,'Weekly','MaximumLimit');
			return;
		END;
	else If(@operationId NOT IN (2,3) AND (@totalPrice +@soldPrice) < @min AND @hasAnyOperation = 0)
		 BEGIN
		    INSERT  INTO @T VALUES(0, 'Weekly','MinumumLimit');
			return;
		 END;
END
--Check weekly end


--Check monthly begin
if((@restrictionTypes & 8) = 8)
BEGIN
	declare @monthStartDate date;
	declare @monthEndDate date;

	select @min = min, @max = max FROM @Restrictions WHERE Type = 8;
 
	SET @monthStartDate = DATEADD(month, DATEDIFF(month, 0, @processDate), 0)
	SET @monthEndDate = DATEADD (dd, -1, DATEADD(mm, DATEDIFF(mm, 0, @processDate) + 1, 0))

	SELECT @SoldPrice = TotalSoldPrice FROM F_MD_GetClientSoldItemTotalPrice(@firm, @tigerClientId, @requestId, (@operationId - 1), @monthStartDate, @monthEndDate);

	if((@totalPrice+@soldPrice) > @max)
		BEGIN
			INSERT  INTO @T VALUES(0,'Monthly','MaximumLimit');
			return;
		END;
	else If(@operationId NOT IN (2,3) AND (@totalPrice + @soldPrice) < @min AND @hasAnyOperation = 0)
		 BEGIN
			 INSERT  INTO @T VALUES(0, 'Monthly','MinumumLimit');
			 return;
		 END;
END
--Check monthly end


--Check yearly begin
if((@restrictionTypes & 16) = 16)
BEGIN
	declare @yearStartDate date;
	declare @yearEndDate date; 

	select @min = min, @max = max FROM @Restrictions WHERE Type = 16;
 
    SET @yearStartDate = DATEFROMPARTS(YEAR(@processDate), 1, 1);
	SET @yearEndDate = DATEFROMPARTS(YEAR(@processDate), 12, 31);

	SELECT @SoldPrice = TotalSoldPrice FROM F_MD_GetClientSoldItemTotalPrice(@firm, @tigerClientId, @requestId, (@operationId - 1), @yearStartDate, @yearEndDate);

	if((@totalPrice + @soldPrice) > @max)
		BEGIN
			INSERT  INTO @T VALUES(0,'Yearly','MaximumLimit');
			return;
		END;
	else If(@operationId NOT IN (2,3) AND (@totalPrice + @soldPrice) < @min AND @hasAnyOperation = 0)
		 BEGIN
			 INSERT  INTO @T VALUES(0, 'Yearly','MinumumLimit');
			 return;
		 END;
END
--Check yearly end

EndOfProcedure:

INSERT INTO @T VALUES(1, NULL, NULL);
return;
end

--OperationType
--Order =1
--ReturnDispatch = 2 Hasn't min
--ReturnInvoice = 3 Hasn't min
--SaleDispatch = 4
--SaleInvoice = 5
--PurchaseOrder = 11

--RestrictonType--
--Operationally = 1,
--Daily = 2,
--Weekly = 4,
--Monthly = 8,
--Yearly = 16

--@restrictionTypes is bitmask. 
--For example: Opertionally | Daily = 3. 
--If we want know @resticitonTypes contains Daily, we can use this code
--(@restrictionTypes & 2) = 2


GO
/****** Object:  UserDefinedFunction [dbo].[F_MD_GetClientAndClientGroupPriceRestrictions]    Script Date: 11.06.2021 09:39:52 ******/
ALTER   function [dbo].[F_MD_GetClientAndClientGroupPriceRestrictions](
@firm smallint,
@groupType tinyint,
@clientId int,
@operationId tinyint)
returns @T Table(
Type tinyint,
Source tinyint,--Can be 1 or 2. 1 is Client, 2 is ClientGroup
GroupId int
)
as
Begin  
declare @groupId int;

-- Gun erzinde eyni musteriye daha evvel emeliyyat edibse, novbeti emeliyyatlarda min limit yoxlanilmayacaq. 
-- Avrorada bir musteriye bir user emeliyyat edir, ona gore de userId yoxlanilmasina ehtiyac gormedik.

declare @hasAnyOperation bit = (SELECT IIF(COUNT(*) > 0 , 1, 0)
								FROM OP_IncomingLog il 
								JOIN OP_GeneralLog  gl on il.Id =  gl.RequestId
								WHERE 
								gl.ImportResult = 0 AND
								ProcessDate = CONVERT(date, GETDATE()) AND 
								ClientId = @clientId AND 
								Firm = @firm);


select top 1 @groupId = GroupId from MD_ClientGroupData WITH(NOLOCK) where ClientId =  @clientId AND Firm = @firm AND GroupType = @groupType;

INSERT INTO @T 
		SELECT 
		Type,
		1 As Source, --Client
		NULL as GroupId
		FROM  MD_ClientPriceRestriction WITH (NOLOCK)
		WHERE 
		Firm = @firm AND
		OperationId = @operationId AND
		Status = 0 AND
		TigerClientId = @clientId 

		UNION

		SELECT 
		Type,
		2 As Source, --ClientGroup
		GroupId
		from MD_ClientGroupPriceRestriction
		WITH (NOLOCK)
		WHERE
		Firm = @firm AND
		OperationId = @operationId AND
		Status = 0 AND
		GroupId = @groupId AND
		GroupType = @groupType

-- Gun erzinde eyni musteriye daha evvel emeliyyat edibse, novbeti emeliyyatlarda min limit yoxlanilmayacaq. 
-- Bu serti min limitin yoxlanilmamsini temin etmek ucun elave edirik
IF(@hasAnyOperation = 1 AND NOT EXISTS(SELECT * FROM @T WHERE Type = 1 AND Source = 1))
	BEGIN
		INSERT INTO @T VALUES(1,1, NULL);
		return;
	END

return;
end
