ALTER procedure [dbo].[SP_OP_GetIsThereAnyOperation] 
(
@userId int,
@firm smallint,
@clientId int,
@docType tinyint
)
as 
begin

SELECT 
IIF(COUNT(*) > 0 , 1, 0) as HasOperation
FROM OP_IncomingLog 
WHERE 
ProcessDate = CONVERT(date, GETDATE()) AND 
UserId = @userId AND 
ClientId = @clientId AND 
Firm = @firm AND
DocType = 0

end