
ALTER PROC [dbo].[SP_MD_GetClientDebitCredit] @userId INT, @firm SMALLINT = 0, @erpClientId INT = 0
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    SET @sql = 'SELECT Debt.Firm, Debt.TigerClientId, Debt.CurrencyType, Debt.Debit, Debt.Credit, Debt.OrderNo, Debt.Label,
                                (CASE WHEN Debt.RegisteredDate>=Client.RegisteredDate THEN Debt.RegisteredDate ELSE Client.RegisteredDate END) AS RegisteredDate
                                FROM [OP_ClientDebt] Debt WITH (NOLOCK)
                                INNER JOIN (SELECT Firm, ClientId, max(RegisteredDate) AS RegisteredDate
                                            FROM (
                                            SELECT Firm, ClientId, RegisteredDate FROM F_GetPermittedClientForUserWithRegisteredDate(@userId)
								            UNION
								            SELECT Firm, ClientId, RegisteredDate FROM F_GetAllPermittedClientWithRegisteredDate() pc
								            JOIN F_Hybrid_GetPermittedUsers(@userId) pu ON pc.UserId = pu.UserId
                                            and (select Type from F_GetUserRootType(@userId)) =''Hybrid''   )
                                            AS GroupT
                                            GROUP BY Firm, ClientId) Client ON (Client.ClientId=Debt.TigerClientId AND Client.Firm=Debt.Firm)
                                            where 1=1';
    IF (@firm > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' and Debt.Firm = @firm');
        END

    IF (@erpClientId > 0)
        BEGIN
            SET @sql = CONCAT(@sql, ' and Debt.TigerClientId = @erpClientId');
        END

    EXEC sp_executesql @sql, N'@userId INT, @firm SMALLINT, @erpClientId INT', @userId = @userId, @firm = @firm, @erpClientId=@erpClientId
END
