ALTER TABLE IM_InventoryDemand
ADD
ConfirmedDate2 datetime null,
ConfirmedUserId2 bigint null,
ConfirmedUserDescription2 nvarchar(1000) null,
Step tinyint not null default 1,
RejectedDate2 datetime null,
RejectedUserId2 bigint null,
RejectedUserDescription2 nvarchar(1000) null