CREATE FUNCTION [dbo].[F_CHL_Normative](@userId int) 
Returns Table
AS
RETURN(
select distinct Normatives.Id,
                Firm,
                Normatives.StartDate,
                Normatives.EndDate,
                Concat(Text, ' (', Number, ') ') as Text
from CHL_Normative Normatives
         join CHL_QuestionNormativeMapping Mapping on Mapping.NormativeId = Normatives.Id
         join CHL_SurveyQuestion SurveyQuestion on SurveyQuestion.QuestionId = Mapping.QuestionId
         join CHL_SurveyUser Users on Users.UserId = @userId
where Normatives.Status = 0
  and (Normatives.StartDate <= cast(getdate() as date) and Normatives.EndDate >= cast(getdate() as date))
)