<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="ayan"/>
    <Version value="v1.00"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\Logs\{environment}\{version}\ClientStatistics.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=172.18.32.52;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=172.18.32.50;Database=Test;User ID=sa;Password=Amasiya2018;Trusted_Connection=false; Connection Timeout=60"/>    
  </databaseParameters>
  <additionalParameters>
    <ClientId value="10" />
    <Responses value ="responses.config"/>
    <RequestQueueStat value="/api/services/app/RequestQueueStat/InsertRequestQueueStat" />
    <UserDeviceStat value="/api/services/app/OperationStat/InsertUserDeviceStat" />
    <OperationStat value="/api/services/app/OperationStat/InsertOperationStat" />
    <PushQueueStat value ="/api/services/app/PushQueueStat/InsertPushQueueStat" />
    <RequestStat value ="/api/services/app/RequestStat/InsertRequestStat"/>
    <AdministrativePushQueueStat value ="/api/services/app/AdministrativePushQueueStat/InsertAdministrativePushQueueStat"/>
    <IntegrationStat value ="/api/services/app/IntegrationStat/InsertIntegrationStat"/>
    <SyncStat value ="/api/services/app/SyncStat/InsertSyncStat"/>
    <ServerStat value ="/api/services/app/ServerStat/InsertServerStat"/>
    <ControlStat value ="/api/services/app/ControlStatus/InsertControlStatus"/>
    <Authorization value ="AAAACUeRyrc:APA91bHT15T3XrAPUGT4pY15v3COCa0U99pPqgnJXf9X_5Wa1o2Ei3m9xbE-RLiDTOgOk8bKzeUgvxZZ55nSXJ1dbvsZRiqtLPabOhYoKILjkHcUwiz2vx7zL2XCSmsgChnv3bwDMW1CS0k2mayJFwfDiW-Gt7HJPQ"/>
    <SyncCenterUrl value ="http://172.18.32.53:1110/ayan/V2.10/TigerCore/SyncSalesMan"/>
    <X-AuthToken value ="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIyIiwidW5pcXVlX25hbWUiOiJhZG1pbiIsIm5iZiI6MTU0NDQ1NjQyMCwiZXhwIjoxNTc1NTYwNDIwLCJpYXQiOjE1NDQ0NTY0MjAsImlzcyI6Imh0dHA6Ly9heWFubHRkLmF6LyIsImF1ZCI6Imh0dHA6Ly9heWFubHRkLmF6LyJ9.RotBmXqBYnFTGzrATdpRKhtFqr3rKqGf1W6sNfdOrvo"/>
    <GoogleUri value = "https://fcm.googleapis.com/fcm/send"/>
    <BaseUrl value ="https://monitoring-core.tayqatech.com"/>
    <RequestQueueService value="True" />
    <ClientEnvironment value="prod"/>
    <ClientCode value="Ayan"/>
    <ProductCode value="TayqaSale"/>
    <ProductVersion value="2.91"/>
    <PushQueueService value="True" />
    <IncomingLogService value="True" />
    <IntegrationService value="True" />
    <AdministrativePushQueueService value="True" />
    <OperationStatService value="True" />
    <SyncService value="True" />
    <ControlStatusService value="True" />
    <CpuProcessService value="True" />
    <UserDeviceService value="True" />
  </additionalParameters>
</configuration>