<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="ayan"/>
    <Version value="V4.20"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\Logs\{environment}\ERPIntegration\{version}\erpIntegrationService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=172.18.32.52;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
    <ErpDB value="Server=172.18.32.50;Database=Test;User ID=sa;Password=Amasiya2018;Trusted_Connection=false; Connection Timeout=60"/>    
  </databaseParameters>
  <additionalParameters>
    <ServiceName value="MainIntegrationService"/>
    <Firm value="1"/>
    <ActivePeriod value="1"/>
    <Step value="10"/>    
    <RoundDigit value="4"/>    
    <PriorityMaskForPrice value="100"/>                
    <MaximumTryCounterForService value="10"/>
    <DisposeAfterXHours value="12"/>
    <ListenerUrlForERPReconnection value="http://+:11101/{environment}/Integration/ReconnectToLogo/"/>    
    <ERP value="TigerEnterprise"/>
    <ImplementedClient value="Ayan"/>
	<LogIntegrationResult value="true"/>
	<ERPIntegratorDefaultVersion value="V1.10"/>
    <ERPUnknonwErrorResponseId value="-99"/>
    <TigerUserName value="TAYQA"/>
    <TigerPassword value="q123456+"/>
    <TigerERPResponsesFilePath value="erpResponses.config"/>    
    <TigerLocalCulture value="dd.MM.yyyy"/>
    <TigerApplyGetStockLinePrice value="true"/>
    <TigerGetStockLinePriceType value="8"/>
    <TigerIsSpecialExchangeRate value="false"/>    
    <TigerUserIdForCreatedBy value="1"/>
    <TigerLobjectLogFilePath value="D:\TayqaSale\Logs\{environment}\{version}\lobject.txt"/>
    <TigerLogoConfigFilePath value=""/>
	<DebugModeForTayqaSaleIntegration value="false"/>
	<TigerLogObjectValues value="false"/>
  </additionalParameters>
</configuration>
