<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="ayan"/>
    <Version value="v2.91"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\logs\{environment}\{version}\proxyWebService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=172.18.32.52;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <ServicesBaseUrl value="http://172.18.32.53"/>
    <UimPort value="1102"/>
    <RequestProcessorPort value="1104"/>
    <ReportManagerPort value="1103"/>
	<LoyaltyManagementPort value="1107"/>
    <UserActivityLogLevel value="2"/>
    <MethodCallHistoryLiveTime value="600"/>
    <UserMethodCallDelayTime value="60"/>
    <UserMethodCallAllowedInterval value="2"/>
    <MethodCallAllowedCount value="10"/>
    <MethodCallMaxWaitTime value="15000"/>
    <AppDownloadPath value="D:\TayqaSale\AppDownloads\{environment}"/>
    <AppUploadPath value="D:\TayqaSale\AppUploads\{environment}"/>
    <ApkFilesPath value="\ApkFiles"/>
    <PrintTemplatesPath value="\PrintTemplates"/>
    <CatalogImagesPath value="\ImageZips"/>
    <ClientShowcaseImagesPath value="\ClientShowcaseImages"/>
    <VisitDataImagesPath value="\VisitImages"/>
	<AppLogFilesPath value="\AppLogFiles"/>
	<AuditItemImagesPath value="\AuditItemImages"/>
    <AuditCompetingItemImagesPath value="\AuditCompetingItemImages"/>
    <MediaContentPath value="D:\TayqaSale\MediaContent\{environment}"/>
    <ContractsPath value="\Contracts"/>
    <ImagesPath value="\Images"/>
  </additionalParameters>
</configuration>