<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section"/>
    <section name="logParameters" type="section"/>
    <section name="databaseParameters" type="section"/>
  </configSections>
  <commonParameters>
    <Environment value="ayan"/>
    <Version value="V3.30"/>
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\Logs\{environment}\SpecImplementation\{version}\tayqaSaleSpecImplementationService.txt"/>
    <LogLevel value="2"/>
    <FileSizeInMB value="10"/>
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=172.18.32.52;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60"/>
  </databaseParameters>
  <additionalParameters>
    <Step value="0"/>
    <Firm value="1"/>
    <ActivePeriod value="1"/>
    <NextStep value="10"/>        
    <MaximumTryCounterForService value="10"/>    
    <ImplementedClient value="Ayan"/>        
  </additionalParameters>
</configuration>
