<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="commonParameters" type="section" />
    <section name="logParameters" type="section" />
    <section name="databaseParameters" type="section" />
  </configSections>
  <commonParameters>
    <Version value="V1.30" />
    <Environment value="ayan" />
  </commonParameters>
  <logParameters>
    <LogFilePath value="D:\TayqaSale\Logs\{environment}\SyncScheduler\{version}\tayqasaleMasterDataSyncScheduler.txt" />
    <LogLevel value="2" />
    <FileSizeInMB value="10" />
  </logParameters>
  <databaseParameters>
    <TayqaSaleDB value="Server=172.18.32.52;Database=TayqaSale;User ID=tayqa;Password=t@yq@2!016;Trusted_Connection=false; Connection Timeout=60" />
  </databaseParameters>
  <additionalParameters>
    <AuthToken value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiI0OSIsInVuaXF1ZV9uYW1lIjoic2VydmljZV91c2VyIiwibmJmIjoxNTY3Njc1MTMzLCJleHAiOjE1OTg3NzkxMzMsImlhdCI6MTU2NzY3NTEzMywiaXNzIjoiaHR0cDovL2F5YW5sdGQuYXovIiwiYXVkIjoiaHR0cDovL2F5YW5sdGQuYXovIn0.2TBs280OIyIMKlZx5V-pBZWZVShL8g6O_SiN35nqTVI" />
    <MaximumTryCounterForService value="10" />
    <AllowedProcessingUnitPerMinute value="8" />
    <CheckWebSyncServiceTestUrl value="http://172.18.32.53:1110/ayan/v2.10/TigerCore/SyncSalesMan" />
    <CheckWebSyncServiceTestUrlParams value="{&quot;Firms&quot;: [1]}" />
  </additionalParameters>
</configuration>